// start /components/news.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'news.detail'
else
  - var componentsArray = [ 'news.detail' ]
  
link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )
  
.b-news-detail.ph-block

  .ph
    div
    div
    div
    div
    div
    div
    div
    div
    div

  .ph-content

    .b-sidenote(data-id='18723')
      div(class='b-sidenote__photo' style="background-image: url( '/upload/main/075/cherkasova.png' );")
      div(class='b-sidenote__text')
        div(class='b-sidenote__title')
          a(href='/person/18723/') Черкасова Наталья Владимировна
        div(class='b-sidenote__status')
          | Член Правления СРО ААС
        div(class='b-sidenote__description')
          | Член Рабочего органа Совета по аудиторской деятельности, генеральный директор ООО "Аудиторская фирма "Зеркало",  к.э.н.
    .b-sidenote(data-id='3424')
      div(class='b-sidenote__photo' style="background-image: url( '/local/templates/aas/images/nopic.svg' );")
      div(class='b-sidenote__text')
        div(class='b-sidenote__title')
          a(href='/person/3424/') Ечкалова Виктория Николаевна
        div(class='b-sidenote__status')
        div(class='b-sidenote__description')
          | Директор ООО «Аудит БЕЗ границ».
    .b-sidenote(data-id='4073')
      div(class='b-sidenote__photo' style="background-image: url( '/upload/main/743/golenko.jpg' );")
      div(class='b-sidenote__text')
        div(class='b-sidenote__title')
          a(href='/person/4073/') Голенко Валерий Сергеевич
        div(class='b-sidenote__status')
          | Член Правления СРО ААС
        div(class='b-sidenote__description')
          | Вице-президент СРО ААС, руководитель Южного ТО СРО ААС, член Комитета СРО ААС по региональному взаимодействию, президент НП «Аудиторская Палата Южного региона», генеральный директор Ассоциации «НП Международный институт сертифицированных бухгалтеров и аудиторов»,
          | член Президентского Совета Палаты профессиональных бухгалтеров и аудиторов г. Санкт-Петербург, заслуженный экономист Кубани.
          | За заслуги в развитии аудиторской и бухгалтерской профессии на Кубани и ЮФО Голенко В.С. неоднократно награждался Почетными Грамотами Губернатора Краснодарского края, Мэрии города Краснодара, администрации ЮФО, неоднократно заносился на Городскую Доску почета. Губернатором Краснодарского края награжден медалями "За выдающийся вклад в развитие Кубани" 2-ой и 3-ей степени. Департаментом  по физической культуре и спорту Краснодарского края награжден Почетной грамотой "За большой вклад в развитие физической культуры и спорта на Кубани". "За большой вклад в становлении и развитие бухгалтерской и аудиторской профессии" награжден Почетной грамотой Министерства финансов Чеченской Республики.  За личный вклад в развитие Аудиторской Палаты России решением Совета АПР Голенко В.С. присвоено звание "Почетный аудитор АПР" с вручением медали. В соответствии с решением Правления Саморегулируемой организации аудиторов Ассоциации "Содружество" награжден медалью "За заслуги в области аудита". "За многолетний безупречный труд, высокие профессиональные достижения" присвоено звание "Почетный аудитор Ассоциации "Содружество" с выдачей наградного знака и удостоверения. Решением Президентского Совета награжден орденом ИПБ России "За заслуги в развитии профессии" и золотой медалью ИПБ России "За заслуги в развитии бухгалтерской профессии".  За заслуги в развитие аудиторской профессии в Южном Федеральном округе награжден золотой медалью за № 1.
          | За плодотворную работу и большой личный вклад в развитие аудиторской деятельности заместителем Министерства финансов Российской Федерации объявлена благодарность.
    hr.hr--sm
    .small.text-muted 9 февраля 2021 00:00
    hr.hr--sm
    .b-lead
      | Южное Территориальное отделение СРО ААС приглашает принять участие в работе Круглого стола
    div
      | Дата:
      b 03 марта 2021 года
      br
      | Место: г. Краснодар, ул. Сормовская, д.197/1, офис Южного ТО 65-75
      br
      | Время: с 11:00
      br
      | Формат: очно, дистанционный
      br
    br
    | Координатор Круглого стола:
    br
    div
      a(href='#profile') Голенко Валерий Сергеевич
      | , председатель Совета Южного ТО по ЮФО и СКФО, член Правления, член центрального Комитета СРО ААС по региональному развитию.
    div
      br
    div
      | Модераторы Круглого стола:
    div
    ul
      li
        div
          a(href='#profile') Черкасова Наталья Владимировна
          | , председатель Дисциплинарной комиссии, член Правления СРО ААС, член Рабочего органа Совета по аудиторской деятельности при Минфине РФ.
      li
        a(href='#profile') 1 Ечкалова Виктория Николаевна
        | , член Совета Южного ТО по ЮФО и СКФО, член центрального Комитета СРО ААС по профессиональной этике и независимости аудиторов.
        br
    div
      | Участие в Круглом столе: бесплатно приглашаются члены Южного территориального отделения по ЮФО и СКФО.
    div
      br
    div
      | Предварительная регистрация обязательна в срок до 25 февраля 2021 года (заявка прилагается).
      br
    div
      br
    div
      | При личном участии необходимо приходить в указанный день и время по адресу г. Краснодар ул. Сормовская, д. 197/1, офис Южного ТО СРО ААС 65-75.
    div
      a(href='#profile') Ечкалова Виктория Николаевна
      | Кто планирует подключиться в режиме онлайн необходимо также заполнить заявку, чтобы заранее направить Вам ссылку на подключение.
    | По вопросам участия можно обращаться на e-mail:
    a(href='mailto:apur_kpa@bk.ru') apur_kpa@bk.ru
    | или по телефону: (861) 232-66-37.
    br
    br
    | Надеемся на Ваше активное участие!
    br


// end /components/news.detail/