// start /components/news.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'news.detail'
else
  - var componentsArray = [ 'news.detail' ]
  
link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )
  
.b-news-detail.ph-block

  .ph
    div
    div
    div
    div
    div
    div
    div
    div
    div

  .ph-content

    .b-sidenote( data-id="456" )
      .b-sidenote__photo( style="background-image: url( '/template/images/profile.svg' );" )
      .b-sidenote__text
        .b-sidenote__title Игорь Козырев
        .b-sidenote__status Председатель Правления СРО ААС
        .b-sidenote__description Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.

    .b-sidenote( data-id="457" )
      .b-sidenote__photo( style="background-image: url( '/template/images/profile.svg' );" )
      .b-sidenote__text
        .b-sidenote__title Анатолия Даниловича Шеремета
        .b-sidenote__status Президент СРО ААС
        .b-sidenote__description Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.
        
    .b-sidenote(data-id="17519")
      .b-sidenote__photo(style="background-image: url( '/template/images/profile.svg' );")
      .b-sidenote__text
        .b-sidenote__title Кобозева Надежда Васильевна
        .b-sidenote__status г. Москва
        .b-sidenote__description
        
    //-script
      //-var linkUser = [{"ID":"17519","LAST_NAME":"\u041a\u043e\u0431\u043e\u0437\u0435\u0432\u0430","NAME":"\u041d\u0430\u0434\u0435\u0436\u0434\u0430","SECOND_NAME":"\u0412\u0430\u0441\u0438\u043b\u044c\u0435\u0432\u043d\u0430"},{"ID":"18710","LAST_NAME":"\u0421\u044e\u0442\u043a\u0438\u043d\u0430","NAME":"\u041c\u0438\u043d\u0437\u0438\u043b\u044f","SECOND_NAME":"\u0413\u0430\u043b\u0438\u0443\u043b\u043b\u043e\u0432\u043d\u0430"}];
  
    h1 Об итогах очередного Съезда СРО ААС 18 сентября 2020 года

    hr.hr--sm

    .small.text-muted 20 сентября 2020. 22:00
    
    hr.hr--sm

    p.b-lead 18 сентября 2020 года состоялся очередной Съезд СРО ААС, который рассмотрел результаты работы СРО ААС за прошедший период, принял необходимые решения для обеспечения дальнейшей деятельности СРО ААС.
    
    p С приветственным словом выступила
      | 
      a(href="#profile") Кобозева Надежда Васильевна
      |  – член Правления СРО ААС, Директор по контролю качества СРО ААС, Председатель Комиссии СРО ААС по контролю качества. Она поприветствовала участников видеоконференции и поблагодарила коллег из Управления Федерального Казначейства за согласие на совместное проведение таких мероприятий, которые ведут к цели повышения качества оказываемых услуг, эти мероприятия являются ключевым звеном, т.к. они становятся инструментом открытости, толерантности, взаимной транспорентности, это важно и нужно. Также поблагодарила организаторов видеоконференции, руководителя Приволжского ТО СРО ААС Минзилю Сюткину, за организацию такого сложного и актуального мероприятия и пожелала всем участникам успешной и информативной работы!

    
    p В работе Съезда <b>приняли участие 106 из 124 (85,5 %)</b> делегатов, избранных на общих собраниях территориальных отделений СРО ААС и являющихся членами Правления СРО ААС.
    
    hr
    
    include ../../modules/content-gallery/include
      
    hr
    
    p В связи со сложной эпидемиологической обстановкой делегатам Съезда СРО ААС была предоставлена техническая возможность принять участие в работе Съезда дистанционно с использованием видеоконференцсвязи, которой воспользовались более 40% делегатов.
    
    hr
    
    include ../../modules/content-gallery/include
      
    hr
    
    p Председатель Правления СРО ААС <a href="#profile" data-id="456">Игорь Козырев</a> открыл заседание,выступил с приветственным словом к делегатам Съезда, предложил минутой молчания почтить память Президента СРО ААС <a href="#profile" data-id="457">Анатолия Даниловича Шеремета</a>, одного из учредителей и идейных вдохновителей создания Ассоциации аудиторов «Содружество».

// end /components/news.detail/