// start /components/news.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'news.detail'
else
  - var componentsArray = [ 'news.detail' ]
  
.b-news-detail.ph-block

  .ph
    div
    div
    div
    div
    div
    div
    div
    div
    div

  .ph-content

    .b-sidenote( data-id="456" )
      .b-sidenote__photo( style="background-image: url( '/template/images/profile.svg' );" )
      .b-sidenote__text
        .b-sidenote__title Игорь Козырев
        .b-sidenote__status Председатель Правления СРО ААС
        .b-sidenote__description Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.

    .b-sidenote( data-id="457" )
      .b-sidenote__photo( style="background-image: url( '/template/images/profile.svg' );" )
      .b-sidenote__text
        .b-sidenote__title Шеремет Анатолий Данилович
        .b-sidenote__status Президент СРО ААС
        .b-sidenote__description Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.
  
    h1 Об итогах очередного Съезда СРО ААС 18 сентября 2020 года
    
    p.b-lead 18 сентября 2020 года состоялся очередной Съезд СРО ААС, который рассмотрел результаты работы СРО ААС за прошедший период, принял необходимые решения для обеспечения дальнейшей деятельности СРО ААС.
    
    p В работе Съезда <b>приняли участие 106 из 124 (85,5 %)</b> делегатов, избранных на общих собраниях территориальных отделений СРО ААС и являющихся членами Правления СРО ААС.
    
    p В связи со сложной эпидемиологической обстановкой делегатам Съезда СРО ААС была предоставлена техническая возможность принять участие в работе Съезда дистанционно с использованием видеоконференцсвязи, которой воспользовались более 40% делегатов.
    
    p Председатель Правления СРО ААС <a href="/pages/personal/" data-id="456">Игорь Козырев</a> открыл заседание,выступил с приветственным словом к делегатам Съезда, предложил минутой молчания почтить память Президента СРО ААС <a href="/pages/personal/" data-id="457">Анатолия Даниловича Шеремета</a>, одного из учредителей и идейных вдохновителей создания Ассоциации аудиторов «Содружество».

// end /components/news.detail/