extends ../../layouts/main

block vars
  - var page = 'pages-appeal-new'
  - var authorized = 'true'

block title
  title Создать обращение | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/include

  hr

  .container-fluid
  
    h1 Создать обращение
  
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/news
          
      article.col-12.col-md-9
        
        include ../../components/appeal.new/template
  
    