@import '../../styl/component-include.styl'

.b-reports-list

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-reports-list

  &__select
    width 250px

  &__item
    border 1px solid #74C37A
    border-radius 10px
    padding 18px 25px
    align-items center
    font-family $roboto

    &--new
      border-color #FAFAFA
      background-color #FAFAFA
      display grid
      grid-template-columns 1fr 250px
      grid-gap 30px

    &--new-deadline
      border-color #FAFAFA
      background-color #FAFAFA
      display grid
      grid-template-columns 1fr 250px
      grid-gap 30px

      .b-reports-list__date
        color $danger-color

    &--empty
      border-color #FFF4F4

      .b-reports-list__text
        color #3B3B3B55

        a,
        a:hover
          color #3B3B3B55

      .b-reports-list__date
        color $danger-color

    &--didnt-pass-year-period
      border-color #FFF4F4
      display grid
      grid-template-columns 1fr 158px
      grid-gap 30px

      .b-reports-list__text
        color #3B3B3B55

        a,
        a:hover
          color #3B3B3B55

      .b-reports-list__button
        text-align center

      .btn
        margin-bottom 9px

    &--didnt-pass
      border-color #FFF4F4

      .b-reports-list__text
        color #3B3B3B55

        a,
        a:hover
          color #3B3B3B55

    &--updated
      border-color #74C37A
      display grid
      grid-template-columns 1fr 100px
      grid-gap 30px

      .b-reports-list__button
        display flex
        align-items center
        justify-content flex-end
        justify-self end

        .btn-edit
          margin-right 1rem

    &--passed-year-period
      border-color #74C37A
      display grid
      grid-template-columns 1fr 158px
      grid-gap 30px

      .b-reports-list__button
        text-align center

      .btn
        margin-bottom 9px

    &--passed
      border-color #74C37A

    &--draft
      border-color #F0F0F0

      .b-reports-list__text
        color #3B3B3B55

        a,
        a:hover
          color #3B3B3B55

  &__year
    font-size $16px
    font-weight $bold
    margin-bottom 8px
    min-height 1.5rem

  &__title
    display block
    font-size $20px
    font-weight $bold
    line-height 1.2
    margin-bottom 1rem

  &__date
  
    &:not(.small)
      font-size $14px

    [class^="label-"]
      display inline-block
      margin-right 20px

  &__button
    justify-self center

    .btn
      display block
      width 100%

  @media(max-width 767px)

    &__select
      width auto

    &__item

      &--new,
      &--new-deadline,
      &--didnt-pass-year-period,
      &--updated,
      &--passed-year-period
        display block

        .b-reports-list__text
          margin-bottom 1rem

      &--updated
        
        .b-reports-list__button
          justify-content: center;


.ik_select_dropdown
  width 250px !important