extends ../../layouts/main

block vars
  - var page = 'blocks-left-menu'
  - var authorized = 'true'

block placeholder-styles
  link( href="/template/placeholders/" + page + ".css" rel="stylesheet" )

block title
  title Blocks | Left menu | AAS

block content

  .container-fluid
  
    h1 Пресс-релиз Круглого стола-вебинара аудиторов Уральского ТО 31 августа 2020 г.
  
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/template
          
      article.col-12.col-md-8
        
        p 31 августа 2020 года проведен Круглый стол с возможностью подключения в дистанционном формате на тему: «Организация системы внутреннего контроля в организациях».
        
        p В работе Круглого стола приняли участие аудиторов и представители аудиторских организаций Уральского ТО СРО ААС, дистанционно подключились более 40 участников-аудиторов членов Уральского ТО СРО ААС.
        
        p В рамках мероприятия Сюткина Минзиля Галиулловна – член Правления СРО ААС, председатель Комиссии по контролю качества Уральского ТО СРО ААС, председатель Комитета по финансам, аудиту и налогообложению ХМРО Деловая Россия генеральный директор ЧОУ ДПО «Сибирский институт международного бизнес-образования», генеральный директор ООО «Югра-аудит», аудитор, налоговый консультант, к.э.н. Предложила обсуждение следующих вопросов:
        
        ul
          li Организация системы внутреннего контроля (СВК) организациями, субъектами обязательного аудита (контрольная среда, оценка рисков, оценка внутреннего контроля, мониторинг).
          li Особенности аудиторской проверки ключевых вопросов СВК в соответствии с международными стандартами аудита. Рабочие документы.
          
        p В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.
        
        blockquote В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.
        
        p В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.
        
        p.b-lead 31 августа 2020 года проведен Круглый стол с возможностью подключения в дистанционном формате на тему: «Организация системы внутреннего контроля в организациях».