extends ../../layouts/main

block vars
  - var page = 'pages-poll-result'
  - var authorized = 'true'

block title
  title Результаты голосования | Pages | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/profile

  hr

  .container-fluid
  
    h1 Голосование на тему «Большой опрос членов СРО ААС»
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/profile
          
      article.col-12.col-md-9
        
        include ../../components/poll-result/template