.form-control-select .vs__dropdown-toggle {
  background-color: #f0f5fc;
  border: 0;
  border-radius: 3px;
}
.form-control-select .vs__search,
.form-control-select .vs__search:focus {
  height: 48px;
  margin: 0;
  padding: 0 15px;
  border: 0;
}
.form-control-select .vs__dropdown-toggle,
.form-control-select .vs__selected-options {
  padding: 0;
}
.form-control-select .vs__selected {
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  padding: 0 15px;
  z-index: 1;
}
.form-control-select input[type='search']:focus:not([readonly]) {
  border: 0 !important;
}
.form-control-select .vs__dropdown-menu {
  padding: 0;
  box-shadow: 0 5px 5px #eee;
  border: 0;
  border-radius: 0 0 5px 5px;
}
.form-control-select .vs__dropdown-option {
  line-height: 1.2;
  padding: 12px 15px;
  white-space: normal;
  color: #3b3b3b;
  margin: 0;
}
.form-control-select .vs__dropdown-option:hover {
  cursor: pointer;
}
.form-control-select .vs__dropdown-option--highlight {
  background: #f0f5fc;
  color: #5f7696;
}
.form-control-select .vs__clear {
  display: none !important;
}
.form-control-select input[type='search'] {
  width: 0;
}
.form-control-select .vs__open-indicator {
  fill: transparent;
  width: 16px;
  height: 16px;
  background: url(../img/arrow-drop-down.svg) no-repeat 50%;
  background-size: cover;
}
.form-control-select .vs__actions {
  padding: 0 15px 0 3px;
}
.b-float-label-select-vc {
  position: relative;
  width: 100%;
}
.b-float-label-select-vc label {
  color: #2b2b2b;
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 0.69rem;
  cursor: text;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  transform-origin: 0 100%;
  text-align: initial;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
}
.b-float-label-select-vc label:not(.label-icon).active {
  transform: translateY(-22px);
  -webkit-transform: translateY(-22px);
  transform-origin: 0 0;
}
.b-float-label-select-vc.invalid .form-control-select .vs__dropdown-toggle {
  background-color: #ffe5e5;
}
.b-float-label-select-vc.invalid .vs__selected {
  color: red;
}
.b-input-clear {
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: none;
  margin-top: 0;
  z-index: 1;
}
.b-input-clear svg {
  width: 16px;
  height: 16px;
  display: block;
}
.b-input-clear .cls-1 {
  fill: none;
  stroke: #999;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
}
.b-add-fieldset-block__wrapper {
  position: relative;
}
.b-add-fieldset-block__wrapper .btn-delete {
  position: absolute;
  top: 7px;
  right: 0;
}
@media (max-width: 1199px) {
  .b-add-fieldset-block__wrapper .btn-delete {
    position: static;
    width: 100%;
    background-size: contain;
    background-color: red;
    border-radius: 10px;
    text-align: center;
  }
  .b-add-fieldset-block__wrapper .btn-delete svg {
    height: 100%;
  }
}
.b-add-fieldset-block__item.show {
  height: 501px;
}
@media (max-width: 1199px) {
  .b-add-fieldset-block__item.show {
    height: calc(821px + 0.5rem);
  }
}
.b-add-fieldset-block__item.height-auto {
  height: auto !important;
}
.b-add-fieldset-block__item.visible {
  opacity: 1;
}
.b-add-fieldset-block__item .ik_select_link_text,
.b-add-fieldset-block__item input:not([type='checkbox']),
.b-add-fieldset-block__item input:not([type='radio']),
.b-add-fieldset-block__item textarea {
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
}
.b-add-fieldset-block__item label {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.b-add-fieldset-block__item.new .ik_select_link_text,
.b-add-fieldset-block__item.new input:not([type='checkbox']),
.b-add-fieldset-block__item.new input:not([type='radio']),
.b-add-fieldset-block__item.new textarea {
  background-color: #e7f8e8;
}
.b-add-fieldset-block__item.new label {
  color: #74c37a;
}
.btn-delete .cls-1 {
  fill: #e03e41;
}
.btn-delete .cls-2 {
  fill: #fff;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.list-enter {
  opacity: 0;
}
.list-enter,
.list-enter .b-float-label--file label a,
.list-enter .b-float-label-select-vc label,
.list-enter .b-float-label label,
.list-enter .vs__selected {
  color: #74c37a;
}
.list-enter .b-float-label--file label,
.list-enter .b-float-label input:not([type='checkbox']),
.list-enter .b-float-label input:not([type='radio']),
.list-enter .b-float-label textarea,
.list-enter .vs__dropdown-toggle,
.list-enter [type='checkbox'].filled-in:not(:checked) + span:after {
  background-color: #e7f8e8;
}
.list-enter .b-float-label--file .a {
  fill: #aedeb1;
}
.list-enter .b-float-label--file .b {
  fill: #87c38a;
}
.list-enter .b-float-label--file .c {
  fill: #d4f5d6;
}
.list-enter .b-float-label--file .d {
  fill: #fff;
}
.list-enter-to {
  opacity: 1;
  color: #2b2b2b;
}
.list-enter-to .b-float-label-select-vc label,
.list-enter-to .b-float-label label,
.list-enter-to .vs__selected {
  color: #2b2b2b;
}
.list-enter-to .b-float-label--file label a {
  color: #06417c;
}
.list-enter-to .b-float-label--file label,
.list-enter-to .b-float-label input:not([type='checkbox']),
.list-enter-to .b-float-label input:not([type='radio']),
.list-enter-to .b-float-label textarea,
.list-enter-to .vs__dropdown-toggle,
.list-enter-to [type='checkbox'].filled-in:not(:checked) + span:after {
  background-color: #f0f5fc;
}
.list-enter-to .b-float-label--file .a {
  fill: #c3cfdd;
}
.list-enter-to .b-float-label--file .b {
  fill: #a3b2c1;
}
.list-enter-to .b-float-label--file .c {
  fill: #d3e0ea;
}
.list-enter-to .b-float-label--file .d {
  fill: #fff;
}
.list-enter-active .b-float-label--file label a,
.list-enter-active .b-float-label-select-vc label,
.list-enter-active .vs__selected {
  transition: color 5s linear;
}
.list-enter-active .b-float-label--file label,
.list-enter-active .b-float-label input:not([type='checkbox']),
.list-enter-active .b-float-label input:not([type='radio']),
.list-enter-active .b-float-label textarea,
.list-enter-active .vs__dropdown-toggle,
.list-enter-active [type='checkbox'].filled-in:not(:checked) + span:after {
  transition: background-color 5s ease;
}
.list-enter-active .b-float-label--file .a,
.list-enter-active .b-float-label--file .b,
.list-enter-active .b-float-label--file .c,
.list-enter-active .b-float-label--file .d {
  transition: fill 5s ease;
}
.list-leave {
  opacity: 1;
  margin-top: 0;
}
.list-leave-to {
  opacity: 0;
  margin-top: -70px;
}
.list-leave-active {
  transition: all 0.3s linear;
}
fieldset[data-v-b3eaf47a] {
  border: 0;
  padding: 35px 0 0;
  margin: 0;
}
legend[data-v-b3eaf47a] {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  padding: 25px 0;
}
legend span[data-v-b3eaf47a] {
  display: inline-block;
  margin-right: 50px;
}
legend i[data-v-b3eaf47a] {
  display: inline-block;
  font-size: 0.88rem;
  font-weight: 400;
  font-style: normal;
}
fieldset.invalid[data-v-b3eaf47a] {
  border-bottom: 1px solid red;
}
.b-collapse-vc[data-v-289a5ce7] {
  display: block;
  border-bottom: 1px solid #f2f2f2;
}
.b-collapse-vc__head[data-v-289a5ce7] {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.b-collapse-vc__head a[data-v-289a5ce7] {
  width: calc(100% - 47px);
  display: flex;
  justify-content: space-between;
}
.b-collapse-vc.slide .b-collapse-vc__head a[data-v-289a5ce7],
.b-collapse-vc.slide .b-collapse-vc__head a[data-v-289a5ce7]:active,
.b-collapse-vc.slide .b-collapse-vc__head a[data-v-289a5ce7]:focus,
.b-collapse-vc.slide .b-collapse-vc__head a[data-v-289a5ce7]:hover {
  color: #3b3b3b;
}
.b-collapse-vc__head a strong[data-v-289a5ce7] {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin-right: 20px;
}
.b-collapse-vc__head a em[data-v-289a5ce7] {
  width: calc(100% - 22px);
}
.b-collapse-vc__title[data-v-289a5ce7] {
  font-style: normal;
  margin-right: 12px;
}
.b-collapse-vc__danger[data-v-289a5ce7] {
  font-style: normal;
  color: #c0cad6;
  white-space: nowrap;
}
.b-collapse-vc__head span[data-v-289a5ce7] {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #f2f2f2;
  border-radius: 5px;
  position: relative;
}
.b-collapse-vc__head span[data-v-289a5ce7]:after,
.b-collapse-vc__head span[data-v-289a5ce7]:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 15px;
  width: 0;
  height: 16px;
  border-right: 1px solid #666;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}
.b-collapse-vc.slide .b-collapse-vc__head span[data-v-289a5ce7]:before {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.b-collapse-vc__head span[data-v-289a5ce7]:after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.b-collapse-vc.slide .b-collapse-vc__head span[data-v-289a5ce7]:after {
  transform: rotate(450deg);
  -webkit-transform: rotate(450deg);
}
.b-collapse-vc__body[data-v-289a5ce7] {
  padding-bottom: 2rem;
}
.b-collapse-vc.invalid[data-v-289a5ce7] {
  border-bottom-color: red;
}
.b-collapse-vc__head[data-v-289a5ce7] {
  font-family: Roboto, sans-serif;
}
.b-collapse-vc__head a[data-v-289a5ce7] {
  justify-content: flex-start;
  align-items: center;
}
.b-collapse-vc__head a i[data-v-289a5ce7] {
  font-style: normal;
}
.b-collapse-vc__title[data-v-289a5ce7] {
  margin-right: 50px;
}
.b-collapse-vc__danger[data-v-289a5ce7] {
  font-size: 0.88rem;
  font-weight: 400;
}
.b-collapse-vc__body[data-v-289a5ce7] {
  padding-top: 2rem;
}
@media (max-width: 991px) {
  .b-collapse-vc__head a[data-v-289a5ce7] {
    display: block;
  }
  .b-collapse-vc__title[data-v-289a5ce7] {
    margin-right: 0;
  }
  .b-collapse-vc__danger[data-v-289a5ce7] {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .b-collapse-vc .b-collapse-vc__danger[data-v-289a5ce7] {
    display: block;
  }
}
.b-form__submit .btn {
  margin-right: 20px;
}
.b-tab {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.b-tab .cls-1 {
  fill: #353535;
}
.b-tab svg {
  width: 18px;
  margin-right: 15px;
}
