.b-num-blocks

  .b-num-block.b-num-block--counter
    i Новые
    .b-num-block__b
      span 6

  .b-num-block.inactive
    i Завершены сегодня
    b 15

  .b-num-block.inactive
    i Завершены за месяц
    b 1 254