@import '../../styl/component-include.styl'

.b-num-blocks
  display flex
  margin-bottom 30px

  @media( max-width 600px )
    justify-content space-between

.b-num-block
  background-color #F0F5FC
  padding 15px
  border-radius 10px
  color #5F7696
  margin-right 30px
  width 138px
  flex-shrink 0

  &.inactive
    background-color #fafafa
    color #9b9b9b

  @media( max-width 600px )
    width calc((100% - 15px * 2) / 3)
    margin-right 0
    padding 10px

  i
    font-size $10px
    font-style normal
    display block
    margin-bottom 8px
    line-height normal

  b
    font-size $24px
    font-weight $bold
    line-height normal

    @media( max-width 600px )
      font-size $18px