// start /components/left-menu/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'left-menu'
else
  - var componentsArray = [ 'left-menu' ]
  
.b-left-menu.ph-block

  .ph
    div
    div
    div
    div
    div

  .ph-content

    .b-left-menu__item
      a( href="" ) Персональные данные по реестру
      .b-left-menu__sub
        a( href="" ) Данные для публикации на сайте

    .b-left-menu__item
      a.active( href="" ) Отчеты
        em.b-note-badge( style="background-color: #f00;" ) !
      .b-left-menu__sub
        span Сдать отчет
        
    .b-left-menu__item
      a( href="" ) Подписки
      
    .b-left-menu__item
      a( href="" ) Выйти

// end /components/left-menu/