@import '../../styl/component-include.styl'

.b-left-menu

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
    
.b-left-menu
  font-family $roboto

  a.active

    &,
    &:hover,
    &:focus,
    &:active
      color $secondary-color-2
      
  span
    color #3b3b3b
  
  &__item
    border-bottom 1px solid #f2f2f2
  
    a,
    span
      display block
      font-size $16px
      padding 20px
  
  &__sub
    padding-bottom 15px
  
    a,
    span
      font-size $14px
      padding 0 10px 10px 20px
      margin-left 20px
      border-bottom none
      position relative

    em.b-note-badge
      position absolute
      top 2px
      right 10px
      z-index 1