@import '../../styl/component-include.styl'

.b-left-menu

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
    
.b-left-menu
  font-family $roboto

  .active a,
  a.active

    &,
    &:hover,
    &:focus,
    &:active
      color $secondary-color-2
      
  span
    color #3b3b3b
  
  &__item
    border-bottom 1px solid #f2f2f2

    a,
    span
      display block
      font-size $16px
      padding 22px 20px
      line-height 1.2

  &__title
    position relative
    padding-right 26px
    display block
    font-size $16px
    padding 22px 20px
    line-height 1.2
    cursor pointer

    a,
    span
      display inline
      padding 0
  
    span&-plus
      position absolute
      top calc(50% - 8px)
      right 0
      display block
      width 16px
      height 16px
      margin-left 10px
      transition(transform 0.3s ease)
      background-color $form-control-color
      border-radius 5px
      padding 0
      z-index 10

      &:before,
      &:after
        content: ''
        position absolute
        top 3px
        left 8px
        width 0
        height 10px
        border-right 1px solid #73879c
        transition(transform 0.5s ease)

      .b-left-menu__item--show &:before
        transform(rotate(270deg))
      
      &:after
        transform(rotate(90deg))
      
      .b-left-menu__item--show &:after
        transform(rotate(450deg))
  
  &__sub
    display block
    opacity 1
    transition(all 0.3s ease)
    overflow hidden

    &:not(.b-left-menu__sub--show)
      opacity 0
      display none
  
    a,
    span
      display block
      line-height 1.2
      font-size $14px
      padding 0 10px 14px 20px
      margin-left 20px
      border-bottom none
      position relative

      &:last-child
        padding-bottom 26px

    em.b-note-badge
      position absolute
      top 2px
      right 10px
      z-index 1