extends ../../layouts/main

block vars
  - var page = 'pages-gui'
  - var authorized = 'true'

block title
  title GUI | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/include

  hr

  .container-fluid
  
    h1 Основные элементы сайта

    h2 Preloaders 

    .circle-loader
      .circle.circle-1
      .circle.circle-2
      .circle.circle-3
      .circle.circle-4
      .circle.circle-5

    .progress-indicator
      .item.item-1
      .item.item-2
      .item.item-3
      .item.item-4
      .item.item-5

    h2 Элементы формы

    .b-checkbox
      label
        input.filled-in( type="checkbox" required="" )
        span Я принимаю <a href="/" target="_blank">условия Пользовательского соглашения</a> и даю своё согласие СРО ААС на обработку моей персональной информации на условиях, определенных Политикой конфиденциальности.

    hr
    
    .row
      
      .col-12.col-md-6
    
        h1 Заголовок первого уровня h1
        p Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
        
        h2 Заголовок второго уровня h2
        p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации существенных финансовых и административных условий. Равным образом консультация с широким активом позволяет оценить значение новых предложений.
        
        h3 Заголовок третьего уровня h3
        p Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
        
        h4 Заголовок четвертого уровня h4
        p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации существенных финансовых и административных условий. Равным образом консультация с широким активом позволяет оценить значение новых предложений.
        
        h5 Заголовок пятого уровня h5
        p Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
        
        h6 Заголовок шестого уровня h6
        p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации существенных финансовых и административных условий. Равным образом консультация с широким активом позволяет оценить значение новых предложений.

        h3 Блок цитаты
        blockquote В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.

        h3 Блок выделенного текста
        p.b-lead В рамках мероприятия Сюткина Минзиля Галиулловна – член Правления СРО ААС, председатель Комиссии по контролю качества Уральского ТО СРО ААС, председатель Комитета по финансам, аудиту и налогообложению ХМРО Деловая Россия генеральный директор ЧОУ ДПО «Сибирский институт международного бизнес-образования», генеральный директор ООО «Югра-аудит», аудитор, налоговый консультант, к.э.н. Предложила обсуждение следующих вопросов:
      
      .col-12.col-md-6
      
        h2 Списки
      
        .row
      
          .col-12.col-md-6
      
            ol.multy-level-2
              li Список с двумя уровнями вложенности
                ol
                  li Второй уровень вложенности
              li Пункт списка
      
          .col-12.col-md-6
          
            ol.multy-level-3
              li Список с тремя уровнями вложенности
                ol
                  li Второй уровень вложенности
                    ol
                      li Третий уровень вложенности
              li Пункт списка
      
        h2 Кнопки
      
        .row
      
          .col-12.col-md-6
            
            p
              button.btn.btn-primary.btn-lg Принять участие
            
            p
              button.btn.btn-secondary Личный кабинет
            
            p
              button.btn.btn-light Редактировать
            
            p
              button.btn.btn-secondary.btn-sm Принять участие
            
            p
              button.btn.btn-tag Архив документа
      
          .col-12.col-md-6
        
            p
              a.btn.btn-primary.btn-lg( href="" ) Принять участие
            
            p
              a.btn.btn-secondary( href="" ) Личный кабинет
            
            p
              a.btn.btn-light( href="" ) Редактировать
            
            p
              a.btn.btn-secondary.btn-sm( href="" ) Принять участие
            
            p
              a.btn.btn-tag( href="" ) Архив документа
              
        h2 Таблица

        h3 table.table
          
        table.table
          thead
            tr
              th Заголовок
              th Заголовок
              th Заголовок
          tbody
            tr
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст

        h3 table.table-responsive
          
        table.table-responsive
          thead
            tr
              th Заголовок
              th Заголовок
              th Заголовок
              th Заголовок
              th Заголовок
              th Заголовок
          tbody
            tr
              td Текст
              td Текст
              td Текст
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст
              td Текст
              td Текст
              td Текст

        h3 table.table.table--sm
          
        table.table.table--sm
          thead
            tr
              th Заголовок
              th Заголовок
              th Заголовок
          tbody
            tr
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст

        h3 table.table.table--center
          
        table.table.table--center
          thead
            tr
              th Заголовок
              th Заголовок
              th Заголовок
          tbody
            tr
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст
            tr
              td Текст
              td Текст
              td Текст

        h3 table.table.table--sortable.table--center.table--sm
          
        table.table.table--sortable.table--center.table--sm
          thead
            tr
              th.asc Заголовок
              th Заголовок
              th Заголовок
          tbody
            tr
              td.asc Текст
              td Текст
              td Текст
            tr
              td.asc Текст
              td Текст
              td Текст
            tr
              td.asc Текст
              td Текст
              td Текст

        h3 table.table tr[data-url]
          
        table.table
          thead
            tr
              th Заголовок
              th Заголовок
              th Заголовок
          tbody
            tr( data-url="/url/" )
              td Текст
              td Текст
              td Текст
            tr( data-url="/url/" )
              td Текст
              td Текст
              td Текст
            tr( data-url="/url/" )
              td Текст
              td Текст
              td Текст
        