@import '../../styl/component-include.styl'

.table,
.table-responsive

  thead th
    border-bottom 1px solid $line-color
    border-top 1px solid $line-color
    font-family $roboto
    font-weight 600
    font-size 0.8rem
    line-height 1rem

    &.asc,
    &.desc
      color $secondary-color-2
      position relative

      &:before
        content ''
        width 17px
        height 17px
        border-radius 51%
        position absolute
        top 50%
        right 15px
        margin-top -8px
        background-color $secondary-color
        z-index 1

      &:after
        content ''
        width 5px
        height 5px
        border-right 1px solid #fff
        border-bottom 1px solid #fff
        transform( rotate( 45deg ))
        position absolute
        top 50%
        right 21px
        margin-top -3px
        z-index 2

    &.desc

      &:after
        transform( rotate( -135deg ))
        margin-top -1px

  th,
  td
    padding 1.25rem 1.5rem
    border-top 1px solid $line-color

    &.asc,
    &.desc
      background-color rgba(242,228,216,0.4)

  tr[data-url]
    transition( background-color .5s ease )

    td
      cursor pointer
      
    &:hover
      background-color #fcfcfc

  &.table--sm

    th,
    td
      font-family $roboto
      font-size $14px

  &.table--center

    th,
    td
      text-align center
      vertical-align middle

      &:first-child
        text-align left

  &.table--sortable

    th
      cursor pointer
      padding-right 35px

    th,
    td
      border-top none
      border-bottom 1px solid $line-color

  &.table--sortable.table--center

    th
      padding-left 35px

      &:first-child
        padding-left 1.5rem

.table

  th,
  td

    @media( max-width 1399px )

      &:nth-child(6)
        display none

    @media( max-width 1199px )

      &:nth-child(5)
        display none

    @media( max-width 991px )

      &:nth-child(4)
        display none

    @media( max-width 575px )

      &:nth-child(2)
        display none

.table-responsive

  //scrollbar

  //FF
  scrollbar-color: #ccc #fff;
  scrollbar-width: thin;

  //webkit
  &::-webkit-scrollbar
    width 4px /* ширина для вертикального скролла */
    height 4px /* высота для горизонтального скролла */
    background-color #fff

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb
    background-color #ccc
    border-radius 2px

  &::-webkit-scrollbar-thumb:hover
    background-color #c0c0c0