extends ../../layouts/main

block vars
  - var page = 'pages-main'
  - var authorized = 'true'

block title
  title Pages list | aas

block content

  .container-fluid
    h1 aas
    
  .container-fluid
  
    include ../../components/component/template