extends ../../layouts/main

block vars
  - var page = 'pages-main'
  - var authorized = 'true'

block title
  title Главная 3 | aas

block content

  .b-bg

    hr

    include ../../modules/quick-links/include

    hr

    .container-fluid

      include ../../components/gallery/template

    hr

    include ../../components/inform-blocks/template

    hr

    include ../../components/statistics/template

    hr


      