extends ../../layouts/main

block title
  title Blocks | Buttons | AAS

block content

  .container-fluid

    h1 Кнопки
    
    .row
    
      .col
        
        p
          button.btn.btn-primary.btn-lg Принять участие
        
        p
          button.btn.btn-secondary Личный кабинет
        
        p
          button.btn.btn-light Редактировать
        
        p
          button.btn.btn-secondary.btn-sm Принять участие
        
        p
          button.btn.btn-tag Архив документа
    
      .col
        
        p
          a.btn.btn-primary.btn-lg( href="" ) Принять участие
        
        p
          a.btn.btn-secondary( href="" ) Личный кабинет
        
        p
          a.btn.btn-light( href="" ) Редактировать
        
        p
          a.btn.btn-secondary.btn-sm( href="" ) Принять участие
        
        p
          a.btn.btn-tag( href="" ) Архив документа