extends ../../layouts/main

block title
  title Blocks | Buttons | AAS

block content

  .container-fluid

    h1 Кнопки
    
    .row
    
      .col
        
        p
          button.btn.btn-primary.btn-lg Принять участие
        
        p
          button.btn.btn-secondary Личный кабинет
        
        p
          button.btn.btn-light Редактировать
        
        p
          button.btn.btn-success Отчет сдан
        
        p
          button.btn.btn-dark.btn-md Кнопка 38px dark
        
        p
          button.btn.btn-secondary.btn-sm Принять участие
        
        p
          button.btn.btn-tag Архив документа
        
        p
          button.btn.btn-primary.btn-lg( disabled ) Кнопка неактивна

        p
          button.btn.btn-primary.btn-sm
            span.icon( style="background-image: url( '/template/images/copywhite.svg' );" )
            span Заполнить из реестра
    
      .col
        
        p
          a.btn.btn-primary.btn-lg( href="" ) Принять участие
        
        p
          a.btn.btn-secondary( href="" ) Личный кабинет
        
        p
          a.btn.btn-light( href="" ) Редактировать
        
        p
          a.btn.btn-success( href="" ) Отчет сдан
        
        p
          a.btn.btn-dark.btn-md( href="" ) Кнопка 38px dark
        
        p
          a.btn.btn-secondary.btn-sm( href="" ) Принять участие
        
        p
          a.btn.btn-tag( href="" ) Архив документа
        
        p
          a.btn.btn-primary.btn-lg( href="" disabled ) Кнопка неактивна

        p
          a.btn.btn-primary.btn-sm( href="" )
            span.icon( style="background-image: url( '/template/images/copywhite.svg' );" )
            span Заполнить из реестра