.b-appeal-blocks

  .b-appeal-block-item
    div
      .b-appeal-block-item__title Наименование организации
      .b-appeal-block-item__text Изменение наименования аудиторской организации (полного, сокращенного, фирменного, на языке народов РФ и иностранном языке).
    div
      a.btn.btn-secondary.btn-md( href="/pages/appeal-form/" ) Внести изменение

  .b-appeal-block-item
    div
      .b-appeal-block-item__title Юридический адрес организации
      .b-appeal-block-item__text Изменение места нахождения (юридического адреса) аудиторской организации или филиала (индекс, субъект РФ, район, город, улица, дом, корпус, офис.
    div
      a.btn.btn-secondary.btn-md( href="/pages/appeal-form/" ) Внести изменение

  .b-appeal-block-item
    div
      .b-appeal-block-item__title Почтовый или фактический адрес организации
      .b-appeal-block-item__text Изменение почтового или фактического адреса аудиторской организации (индекс, субъект РФ, район, город, улица, дом, корпус, офис, а/я). Изменение почтового или фактического адреса аудиторской организации (индекс, субъект РФ, район, город, улица, дом, корпус, офис, а/я).
    div
      a.btn.btn-secondary.btn-md( href="/pages/appeal-form/" ) Внести изменение

  .b-appeal-block-item
    div
      .b-appeal-block-item__title Контактные телефоны
      .b-appeal-block-item__text Изменение/добавление номера телефона (с кодом города).
    div
      a.btn.btn-secondary.btn-md( href="/pages/appeal-form/" ) Внести изменение

  .b-appeal-block-item
    div
      .b-appeal-block-item__title Aдрес электронной почты (Email)
      .b-appeal-block-item__text Изменение/добавление адреса электронной почты.
    div
      a.btn.btn-secondary.btn-md( href="/pages/appeal-form/" ) Внести изменение