html,
body
  height 100%

body
  background #fff
  font-family $open-sans
  font-size 16px
  color #3b3b3b
  display flex
  flex-direction column
  height 100%

  @media( max-width 767px )

    .b-body-shutter
      content ''
      position fixed
      top 0
      left 0
      width 100%
      height 100%
      background-color #074c86
      opacity 0
      transition( opacity .5s ease )
      z-index -1

    &.shutter .b-body-shutter
      opacity .4
      z-index 10

.b-page-content
  flex 1 0 auto

.b-footer
  flex 0 0 auto

.b-bg
  background-color #fafafa
  border-top 1px solid #fafafa
  border-bottom 1px solid #fafafa
  
.container-fluid

  @media ( min-width 1200px )
    max-width 1480px

  @media ( min-width 768px )
    padding-right 35px !important
    padding-left 35px !important
  
a
  transition( all .5s ease )

  &,
  &:hover,
  &:focus,
  &:active
    color $link-color
    text-decoration none
    
  &:hover
    opacity .7

small,
.small
  font-size $12px
  line-height 14px

p, dl, ol, ul
  margin-bottom 1.25rem

dl, ol, ul
  padding-left 3rem
  margin-top 1rem
  font-family $roboto
  font-weight 400

li
  margin-bottom 1rem

  > ol,
  > ul
    margin-top 1rem

ol
  list-style none
  counter-reset li
  padding-left calc( 3rem - 20px )

  > li:before
    counter-increment li
    content counters(li,".") ". "
    margin-right 3px
    
ol.multy-level-3,
ul.multy-level-3

  > li
    font-family $roboto
    font-size $24px
    font-weight $bold
    line-height 1.5//36
    
    > ol,
    > ul
      
      > li
        font-family $roboto
        font-size $18px
        font-weight $bold
        line-height 21px
        
        > ol,
        > ul
          
          > li
            font-family $open-sans
            font-size 16px
            font-weight $normal
            line-height 1.5
        
      
ol.multy-level-2,
ul.multy-level-2
      
  > li
    font-family $roboto
    font-size $18px
    font-weight $bold
    line-height 21px
    
    > ol,
    > ul
      
      > li
        font-family $open-sans
        font-size 16px
        font-weight $normal
        line-height 1.5

blockquote
  margin 0 0 1.25rem 3rem
  border-left 2px solid $primary-color
  padding-left 20px
  color #000

.b-lead
  font-size $24px
  margin 1.25rem 0
  
  @media( max-width 575px )
    font-size 1.2rem

hr
  margin-top 1rem
  margin-bottom 1rem
  border-top 1px solid transparent !important
  
  &.hr--xs
    margin-top .25rem
    margin-bottom .25rem
  
  &.hr--sm
    margin-top .5rem
    margin-bottom .5rem
  
  &.hr--md
    margin-top .75rem
    margin-bottom .75rem
  
  &.hr--lg
    margin-top 1.5rem
    margin-bottom 1.5rem
  
  &.hr--xl
    margin-top 2rem
    margin-bottom 2rem
    
  &.hr--line
    border-top 1px solid #eee !important

h1,.h1,
h2,.h2,
h3,.h3,
p,
blockquote,
ul,
ol
  max-width 770px
  
h1,.h1
  font-family $roboto
  font-size $38px
  font-weight $bold
  line-height 1.18//44
  margin 0 0 1rem
  overflow visible
  height auto
  letter-spacing -1px

  &.ph-block--animated
    color #3b3b3b
    
    &:after
      background-color transparent
      width auto
      opacity 0
      pointer-events none
    
  @media( max-width 767px )
    font-size 1.4rem
    line-height 1.6

h2,.h2
  font-family $roboto
  font-size $32px
  font-weight $bold
  line-height 1.25//40
  margin 2.5rem 0 1rem
  overflow visible
  height auto
  letter-spacing -1px
  
  @media( max-width 767px )
    font-size 1.2rem
    line-height 1.4

h3,.h3
  font-family $roboto
  font-size $24px
  font-weight $bold
  line-height 1.5//36
  margin 2.5rem 0 1rem
  overflow visible
  height auto
  letter-spacing -1px
  
  @media( max-width 767px )
    font-size 1.2rem
    line-height 1.2

h4,.h4
  font-family $roboto
  font-size $18px
  font-weight $bold
  line-height 21px
  margin 1.7rem 0 0.5rem
  
h5, .h5
  margin 1.7rem 0 0.5rem
  font-family $roboto
  font-size $14px
  font-weight $bold
  
h6, .h6
  margin 1.7rem 0 0.5rem
  font-family $roboto
  font-size $12px
  font-weight $bold

h1,.h1,
h2,.h2

  &:first-child
    margin-top 0

.b-h-badges
  display flex
  justify-content space-between
  align-items flex-start
  margin-bottom 1rem

  @media( max-width 767px )
    display block

  .b-badges
    white-space nowrap
    text-align right
    margin-top 7px

    @media( max-width 767px )
      white-space normal
      text-align left
      margin-top 0

      .badge
        margin 0 23px 10px 0

  .badge
    margin-left 23px

.badge
  font-size $14px
  font-weight normal
  height 34px
  line-height 34px
  white-space nowrap
  padding 0 23px

  &.badge-light
    background-color $line-color
  
.btn
  font-family $roboto
  font-weight 200
  font-size $12px
  line-height 48px
  height 48px
  border-radius 7px
  padding-top 0
  padding-bottom 0
  min-width 158px
  transition( all .5s ease )
    
  &:hover
    opacity .7
  
  &-primary
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      background-color $primary-color
      border-color $primary-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        background-color $primary-color
        border-color $primary-color

        &:focus
          box-shadow none
      
  &-secondary
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      background-color $secondary-color
      border-color $secondary-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        background-color $secondary-color
        border-color $secondary-color

        &:focus
          box-shadow none
  
  &-light
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color #3b3b3b
      background-color #f0f0f0
      border-color #f0f0f0
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color $primary-color
        background-color #f0f0f0
        border-color #f0f0f0

        &:focus
          box-shadow none
  
  &-success
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color #fff
      background-color $success-color
      border-color $success-color
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color #fff
        background-color $success-color
        border-color $success-color

        &:focus
          box-shadow none
    
  &-lg
    line-height 60px
    height 60px
    font-size $16px
    min-width 250px
    
  &-sm
    line-height 30px
    height 30px
    min-width 0
    padding 0 17px
    border-radius 3px
    font-weight $normal
    
  &-tag
    font-size: $12px
    font-weight normal
    height 28px
    line-height 28px
    min-width auto
    padding 0 8px
    background-color #fafafa
    border-radius 3px

    &,
    &:hover,
    &:focus,
    &:active
      color #9b9b9b

.table,
.table-responsive

  thead th
    border-bottom 1px solid $line-color
    font-family $roboto
    font-weight 600
    font-size 0.8rem
    line-height 1rem

  td,
  th
    padding 1.25rem 1.5rem
    border-top-color $line-color
  
.text-muted
  color #9b9b9b !important

label
  font-family $roboto
  
.row div[id^="bx_incl_area_"]
	display inherit
	width 100%