clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both

transition( val )
  transition val
  -webkit-transition val

transform( val )
  transform val
  -webkit-transform val

background-bg()
  background-repeat no-repeat
  background-position center
  background-size cover