@media print

  table,
  table.table
    border-collapse separate !important
    border-spacing initial !important

  .b-body-shutter,
  #bx-panel-back,
  #bx-panel,
  .b-header,
  .b-breadcrumbs,
  aside.d-md-block,
  .b-left-menu,
  .b-footer,
  .b24-widget-button-visible,
  #cookie-alert
    display none !important

  h1
    margin 0 0 10px !important

  article.col-md-8
    width 100% !important
    max-width 100% !important
    flex none !important

  @page
    size auto

  body
    min-width 0 !important