$primary-color = #074c86
$secondary-color = #ff9300
$placeholder-color = #f2f2f2

$roboto = Roboto, sans-serif
$open-sans = 'Open Sans', sans-serif

$bold = 700
$normal = 400
$light = 300

$9px = 0.56rem
$12px = 0.75rem
$14px = 0.88rem
$16px = 1rem
$24px = 1.5rem
$32px = 2rem
$38px = 2.375rem