$primary-color = #074c86
$primary-color-2 = #074c86
$secondary-color = #ff9300
$secondary-color-2 = #f39442
$success-color = #74c37a
$danger-color = #f00

$text-color = #3b3b3b
$link-color = #06417c
$line-color = #f2f2f2
$form-control-color = #f0f5fc
$light-gray = #fafafa
$placeholder-color = $line-color

$roboto = Roboto, sans-serif
$open-sans = 'Open Sans', sans-serif

$bold = 700
$normal = 400
$regular = $normal
$light = 300

$9px = 0.56rem
$10px = 0.625rem
$11px = 0.69rem
$12px = 0.75rem
$14px = 0.88rem
$16px = 1rem
$18px = 1.12rem
$20px = 1.25rem
$24px = 1.5rem
$28px = 1.75rem
$32px = 2rem
$38px = 2.375rem
$48px = 3rem