doctype html
html
  head
    title Выписка 2
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/excerpt/style.css" rel="stylesheet" )

    table.signature
      tr
        td
          img( src="/template/images/signature.svg" alt="" width="270" height="100" )

    table.header
      col( width="150" )
      col( width="500" )
      col( width="150" )
      tr
        td.aas-logo
          img( src="/template/images/logo-aas-small.svg" alt="СРО ААС" width="140" )
        td.text
          .header-companyname Саморегулируемая организация аудиторов<br><b>Ассоциация «Содружество»</b>
          .header-membership член Международной Федерации Бухгалтеров (IFAC)
          .header-inn (ОГРН 1097799010870 ИНН 7729440813 КПП 772901001)
          .header-address 119192, г. Москва, Мичуринский проспект, дом 21, корпус 4.<br>т: +7 (495) 734-22-22, ф: +7 (495) 734-04-22, www.auditor-sro.org, info@auditor-sro.org

        td.ifac-logo
          img( src="/template/images/logo-ifac.svg" alt="СРО ААС" width="70" )

    table.h1
      tr
        td
          .h1-title ВЫПИСКА
          p из реестра аудиторов и аудиторских организаций<br>Саморегулируемой организации аудиторов<br>Ассоциации «Содружество»

    table.date-number
      tr
        td.date «29» января 2021 г.
        td.number № 450-Ю/21

    table.text
      tr
        td.text Настоящая выписка из реестра аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации «Содружество» (СРО ААС) выдана в том, что аудиторская организация
      tr
        td.companyname
          b Общество с ограниченной ответственностью Аудиторская фирма "Эдвейз"
      tr
        td.companyname
      tr
        td.companyname
      tr
        td.note подное наименование аудиторской организации

    table.ornz
      tr
        td регион <b><u>Новосибирская область</u></b>, имеющая основной государственный регистрационный номер (ОГРН) <b><u>1025403638853</u></b>, является членом СРО ААС и <b><u>включена</u></b> в реестр аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации «Содружество» <b><u>07 апреля 2010 г.</u></b> за основным регистрационным номером:

          table
            tr
              td 1
              td 1
              td 0
              td 0
              td 6
              td 0
              td 0
              td 7
              td 4
              td 6
              td 7
      tr
        td.note (основной регистрационный номер записи)

    table.company-membership
      tr
        td Сведения о членстве в СРО аудиторов и аудиторских организаций до вступления в члены СРО ААС:
      tr
        td Саморегулируемая организация аудиторов «Российский Союз аудиторов»  ОРНЗ  11603059503, период членства c 03.11.2016 г. по 30.01.2020 г.
      tr
        td Саморегулируемая организация аудиторов «Российский Союз аудиторов»  ОРНЗ  11603059503, период членства c 03.11.2016 г. по 30.01.2020 г.

    table.description
      tr
        td Аудиторская организация <b><u>Общество с ограниченной ответственностью Аудиторская фирма "Эдвейз"</u></b> является правопреемником аудиторской организации <b><u>Общество с ограниченной ответственностью "Аудиторское Агентство "Люди Дела"</u></b>, которая являлась членом <b><u>СРО ААС</u></b> в период с <b><u>«15» января 2015 г.</u></b> по <b><u>«28» сентября 2018 г.</u></b> ОРНЗ <b><u>11506000588</u></b>

    table.signature
      tr
        td.occupation Генеральный директор СРО ААС
        td.signature
          img( src="/template/images/signature-stamp.png" alt="" width="280" )
        td.fio Носова О.А.
