// start /components/check.plan/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'check.plan'
else
  - var componentsArray = [ 'check.plan' ]

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex@3" )

script( src="https://unpkg.com/vue-select@latest")
link( rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css")

script( src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.js")
link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.css")

script( src="/components/check.plan/store.js" )
  
.b-check-plan.ph-block

  .ph

    .ph__title
    
    .ph__num-blocks
      div
      div
      div

  .ph-content 
  
    #checkPlan

// end /components/check.plan/