doctype html
html
  head
    title Заявление о восстановлении логина и пароля
    meta( charset="utf-8" )
    link( href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet" )
    
  body
    link( href="/components/application/style.css" rel="stylesheet" )

    table.table-800.mb-100
      col( width="300" )
      col( width="500" )
      tr
        td &nbsp;
        td

          table.table-100
            tr
              td.text-right.pb-30 Генеральному<br>директору СРО ААС<br>О.А. Носовой
            tr
              td.text-right от аудиторской организации (индивидуального аудитора)
            tr
              td.pb-3.border &nbsp;
            tr
              td.text-center.text-9 (Наименование организации или Ф.И.О. индивидуального аудитора)
            tr
              td
                table.table-100
                  col( width="50" )
                  col
                  tr
                    td.text-bottom ОРНЗ
                    td.pb-3
                      table.table-100
                        tr
                          td.border &nbsp;

    table.table-800.mb-30
      tr
        td.text-center
          b ЗАЯВЛЕНИЕ

    table.table-800.mb-100
      tr
        td.pb-10 Прошу восстановить логин и пароль для доступа к Интернет-сервису «Личный кабинет Аудитора» на сайте Минфина России в отношении
      tr
        td.border &nbsp;
      tr
        td.text-center.text-9 (Наименование организации или Ф.И.О. индивидуального аудитора)
      tr
        td
          table.table-100
            col( width="80" )
            col
            tr
              td.text-bottom.nowrap в связи с
              td.pb-3
                table.table-100
                  tr
                    td.border &nbsp;
          table.table-100
            tr
              td.text-center.text-9 (указать причину)
              
    table.table-800
      tr
        td «23» сентября 2021 г.
