extends ../../layouts/main

block vars
  - var page = 'blocks-text'
  - var authorized = 'true'

block title
  title Blocks | Text | AAS

block content

  .container-fluid
    h1 Пресс-релиз Круглого стола-вебинара аудиторов Уральского ТО 31 августа 2020 г.

    ol.multy-level-2
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
        ol
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!

        ol
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
            
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
    
    p 31 августа 2020 года проведен <b>Круглый стол</b> с возможностью подключения в дистанционном формате на тему: «Организация системы внутреннего контроля в организациях».
        
    p В рамках мероприятия Сюткина Минзиля Галиулловна – член Правления СРО ААС, председатель Комиссии по контролю качества Уральского ТО СРО ААС, председатель Комитета по финансам, аудиту и налогообложению ХМРО Деловая Россия генеральный директор ЧОУ ДПО «Сибирский институт международного бизнес-образования», генеральный директор ООО «Югра-аудит», аудитор, налоговый консультант, к.э.н. Предложила обсуждение следующих вопросов:
    
    ul
      li Организация системы внутреннего контроля (СВК) организациями, субъектами обязательного аудита (контрольная среда, оценка рисков, оценка внутреннего контроля, мониторинг).
      li Особенности аудиторской проверки ключевых вопросов СВК в соответствии с международными стандартами аудита. Рабочие документы.
      
    p В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.
    
    blockquote В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.

    ol.multy-level-3
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
        ol
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
            ol
              li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!

        ol
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!

            ol
              li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
              li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
              li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!

          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
          li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
            
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est laboriosam, eveniet beatae ratione cumque rerum sunt impedit cupiditate molestiae dolores suscipit adipisci sapiente officia, vero fuga? Repudiandae nulla quod a!

    p В ходе проведения Круглого стола рассмотрены и обсуждены вопросы организации системы внутреннего контроля, в том числе раскрыты понятия контрольной среды, оценки рисков, оценки внутреннего контроля, а также важность проведения мониторинга.
    
    p 31 августа 2020 года проведен Круглый стол с возможностью подключения в дистанционном формате на тему: «Организация системы внутреннего контроля в организациях».

    p.b-lead В рамках мероприятия Сюткина Минзиля Галиулловна – член Правления СРО ААС, председатель Комиссии по контролю качества Уральского ТО СРО ААС, председатель Комитета по финансам, аудиту и налогообложению ХМРО Деловая Россия генеральный директор ЧОУ ДПО «Сибирский институт международного бизнес-образования», генеральный директор ООО «Югра-аудит», аудитор, налоговый консультант, к.э.н. Предложила обсуждение следующих вопросов:

    hr.hr--lg

    h2 H2 Мероприятия

    h3 H3 Мероприятия

    table.table
      thead
        tr
          th Заголовок
          th Заголовок
          th Заголовок
      tbody
        tr
          td Текст
          td Текст
          td Текст
        tr
          td Текст
          td Текст
          td Текст
        tr
          td Текст
          td Текст
          td Текст

    table.table
      tbody
        tr
          th Заголовок
          td Текст
          td Текст
        tr
          th Заголовок
          td Текст
          td Текст
        tr
          th Заголовок
          td Текст
          td Текст
