// start /components/auditor.search/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'auditor.search'
else
  - var componentsArray = [ 'auditor.search' ]
  
.b-auditor-search.ph-block

  .ph
    .ph__table
      div
      div
      div
      div
      div

  .ph-content

    h2 Список аудиторов заинтересованных в сотрудничестве

    table.table( data-result="/components/auditor.search/result.json" )
      thead
        tr
          th( data-field="name" ) Название организации
          th( data-field="certificate" ) Список аудиторов заинтересованных в сотрудничестве
          th( data-field="phone" ) Контактный телефон
          th( data-field="email" ) Контактный emal
      tbody
        tr
          td АКК ООО «СТАТУС-АУДИТ»
          td (495) Единый аттестат
          td (495) 280-03-77
          td komkonaudit@mail.ru
        tr
          td АО «Аудит и Право АЛЬЯНС КОНСАЛТИНГ»
          td (495) Единый аттестат
          td (495) 280-03-77
          td info@acig.ru
        tr
          td АО «Аудит и Право АЛЬЯНС КОНСАЛТИНГ»
          td (926) Единый аттестат
          td (926) 521-64-26
          td info@acig.ru

    hr.hr--xl

    include ../../modules/pagination/include


// end /components/auditor.search/