doctype html
html
  head
    title "Стандартная выписка по (индивидуальному) аудитору", форма от 07.06.2021
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/pdf/notification.css" rel="stylesheet" )

    table.header
      col( width="150" )
      col( width="500" )
      col( width="150" )
      tr
        td.aas-logo( rowspan="5" )
          img( src="/template/images/logo-aas-small.svg" alt="СРО ААС" width="140" )
        td.header-companyname Саморегулируемая организация аудиторов
        td.ifac-logo( rowspan="5" )
          img( src="/template/images/logo-ifac.svg" alt="СРО ААС" width="70" )
      tr
        td.header-companytitle Ассоциация «Содружество»
      tr
        td.header-membership член Международной Федерации Бухгалтеров (IFAC)
      tr
        td.header-inn (ОГРН 1097799010870 ИНН 7729440813 КПП 772901001)
      tr
        td.header-address 119192, г. Москва, Мичуринский проспект, дом 21, корпус 4.<br>т: +7 (495) 734-22-22, ф: +7 (495) 734-04-22, www.sroaas.ru, info@sroaas.ru

    table
      tr
        td Исх. № НОМЕР
      tr
        td от ДАТА

    table
      tr
        td.text-right Директору
      tr
        td.text-right ООО "КОНСУЛЬТАНТ-ПАРТНЕР"
      tr
        td.text-right Фадеевой Наталье Александровне

    table.text
      tr
        td Уважаемая  Наталья Александровна!

    table
      tr
        td Уведомляем Вас, что в соответствии с утвержденным Планом внешних проверок деятельности работы аудиторских организаций, индивидуальных аудиторов - членов СРО ААС на 2023 г.


    table.text
      tr
        td
          ul
            li аудиторская организация <u>ООО "КОНСУЛЬТАНТ-ПАРТНЕР"</u> (ОРНЗ <u>12006104872</u>)  

    table.text
      tr
        td подлежит внешнему контролю деятельности за период работы <u>c «01» января 2020 г. по «31» декабря 2022 г.</u> 

    table.text
      tr
        td Сроки проведения проверки с «10» мая 2023 г. по «14» июня 2023 г. 

    table.text
      tr
        td Для проведения проверки назначены:
      tr
        td Уполномоченный эксперт: Спесивцева Светлана Николаевна
      tr
        td Куратор проверки: Ананьев Игорь Владимирович

    table.text
      tr
        td В соответствии с Правилами организации и осуществления ВКД СРО ААС объекту ВКД в целях подготовки внешней проверки  необходимо:

    table.text
      tr
        td 1. Представить в СРО ААС в срок  не позднее, чем за 10  (десять) рабочих дней до начала проверки следующие заполненные документы:

    table.table-data
      tr.border 
        td( align="center" width="40" ) №<br>п/п
        td Наименование документа к заполнению
      tr.border 
        td( align="center" ) 1
        td Анкета внешнего контроля деятельности аудиторской организации/индивидуального аудитора
      tr.border 
        td( align="center" ) 2
        td Анкеты внешнего контроля деятельности аудиторов
      tr.border 
        td( align="center" ) 3
        td Сведения для расчета ставки целевого взноса на организацию и осуществление внешнего контроля деятельности
      tr.border 
        td( align="center" ) 4
        td Результаты проверок Федерального казначейства и Банка России за проверяемый период (если применимо/при наличии)

    table.text
      tr
        td 2. Оплатить целевой взнос на организацию и осуществление внешнего контроля деятельности в срок не позднее рабочего дня, предшествующего дате начала проверки

    table.text
      tr
        td 3. Рассмотреть утвержденные Планом ВКД кандидатуры уполномоченного эксперта (уполномоченных экспертов) и Куратора проверки на предмет выявления фактов и обстоятельств, свидетельствующих о нарушении (угрозе нарушения) принципа независимости уполномоченного эксперта, Куратора от объекта ВКД.

    table.text
      tr
        td.pb-1 4. Подписать и в течение 5 (пяти) рабочих дней после получения настоящего Уведомления направить в СРО ААС по электронной почте подписанные сканированные копии либо в формате электронных документов, подписанных с использованием электронной цифровой подписи, Уведомление и Письмо о подтверждении независимости при проведении внешнего контроля деятельности уполномоченного эксперта по контролю деятельности и Куратора от объекта ВКД либо Заявление о замене уполномоченного эксперта по контролю деятельности/Куратора проверки с указанием оснований (формат документов представлен в составе Типового комплекта документов по ВКД). 
      tr
        td.pb-1 Документы, перечисленные в настоящем Уведомлении, в указанные сроки необходимо направить с сопроводительным письмом, составленным в произвольной форме, в СРО ААС в электронном виде (в формате Word или Exсel, а также скан-образы подписанных и скрепленных печатью (при ее наличии) документов на бумажном носителе) либо в формате электронных документов, подписанных с использованием электронной цифровой подписи.
      tr
        td Вышеуказанные документы и информацию просим направить в Отдел по контролю деятельности СРО ААС на электронный адрес vkd@sroaas.ru.

    table.text
      tr
        td.pb-1 В соответствии со ст. 10 Федерального закона от 30.12.2008 N 307-ФЗ "Об аудиторской деятельности" аудиторская организация, аудитор обязаны проходить внешний контроль деятельности, в том числе предоставлять всю необходимую для проверки документацию и информацию.
      tr
        td.pb-1 Согласно п. 20.1 Правил организации и осуществления ВКД СРО ААС под уклонением члена СРО ААС от прохождения внешнего контроля деятельности понимаются действия (бездействие) аудиторской организации, аудитора, повлекшие невозможность осуществления либо завершения внешнего контроля деятельности их работы. Уклонение члена СРО ААС от проведения плановой или внеплановой проверки внешнего контроля деятельности является основанием применения меры дисциплинарного воздействия, в том числе в виде исключения из членов СРО ААС.
      tr
        td.pb-1 Основными признаками уклонения аудиторской организации, индивидуального аудитора, аудитора от проведения проверки внешнего контроля деятельности   являются:
      tr
        td.pb-1 1)	заявление о переносе сроков проверки ВКД по инициативе объекта ВКД более одного раза;
      tr
        td.pb-1 2)	отказ от проведения проверки и/или препятствование осуществлению процедур ВКД;
      tr
        td.pb-1 3)	отказ члена СРО ААС от уплаты установленного целевого взноса (дополнительного целевого взноса) на осуществление ВКД либо несвоевременная уплата такого взноса по причинам, не признаваемым уважительными локальными нормативными актами СРО ААС;
      tr
        td.pb-1 4)	игнорирование объектом ВКД уведомительных писем, в том числе направленных по электронной почте;
      tr
        td.pb-1 5)	направление в СРО ААС заявления о прекращении членства в СРО ААС после начала проведения проверки, а также в период осуществления проверки ВКД;
      tr
        td 6)	непредоставление и (или) несвоевременное предоставление членом СРО ААС необходимой для проверки документации и информации, либо предоставление заведомо недостоверной информации.

    table.text
      tr
        td.pb-1 Согласно п. 20.3 Правил организации и осуществления ВКД СРО ААС, лицом, уклонившимся от прохождения внешнего контроля деятельности его работы, признается:
      tr
        td.pb-1 а) в случае уклонения аудиторской организации от прохождения ВКД – данная аудиторская организация, а также ее руководитель (иное соответствующее должностное лицо или уполномоченный представитель аудиторской организации);
      tr
        td б) в случае уклонения аудитора от прохождения ВКД – данный аудитор.

    table.text
      tr
        td В соответствии со ст. 12 Федерального закона «Об аудиторской деятельности» в случае уклонения аудитора от прохождения внешнего контроля деятельности его квалификационный аттестат аудитора аннулируется.

    table.signature( autosize="1" )
      tr
        td.occupation Директор по контролю деятельности
        td.signature
          img( src="/template/images/signature-stamp.png" alt="" width="280" )
        td.fio Кобозева Н.В.

    table.text
      tr
        td С настоящим Уведомлением ознакомлен, предупрежден о дисциплинарной ответственности за предоставление недостоверной и/или заведомо ложной информации, в том числе в части отсутствия фактов, свидетельствующих о несоблюдении (угрозе несоблюдения) принципа независимости уполномоченного эксперта, Куратора от объекта ВКД, а также - о дисциплинарной ответственности за уклонение от ВКД.

    table.footer.text( autosize="1" )
      tr
        td.occupation Объект ВКД<br>(Руководитель Объекта ВКД)
        td.signature _________________________________
        td.fio <u>Фадеева Н.А.</u>
      tr
        td
        td.note  подпись  М.П.
        td.note.last-child  ФИО

    table.footer( autosize="1" )
      tr
        td &laquo;_______&raquo; ______________________ 20____
