@import '../../styl/component-include.styl'

#topNotification
  //background: transparent linear-gradient(90deg, #FF8000 25%, #0110C4 75%) 0% 0% no-repeat
  background: radial-gradient(farthest-corner at top, #0110C4 0%, #FF8000 100%) top right/200% 200%;
  background-size: 400% 400%
  color: #fff
  display: flex
  justify-content: center
  align-items: center
  font-family: Roboto, Arial, serif
  font-size: 14px
  line-height: 1.3
  height: 0
  overflow: hidden
  transition( height .5s ease-in-out )
  animation: gradient 10s ease infinite alternate
  position relative
  z-index 10

#topNotification.top-notification--show
  display flex
  height: 70px

.top-notification__content
  display flex
  justify-content center
  align-items center
  padding 0 40px

  @media(max-width 767px)
    font-size 12px
    padding 0 40px 0 15px

  .btn
    
    &,
    &:hover,
    &.focus,
    &:focus,
    &.disabled,
    &:disabled
      color #fff
      background-color #ffffff44
      border-color transparent
      
    &.focus,
    &:focus
      box-shadow none

    &:not(:disabled):not(.disabled)

      &.active,
      &:active
        color #fff
        background-color #ffffff22
        border-color transparent

        &:focus
          box-shadow none

#topNotificationClear
  position absolute
  top calc(50% - 8px)
  right 35px
  cursor pointer
  z-index 1

  @media(max-width 767px)
    right 15px

@keyframes gradient
	to
    background-position bottom left
    
