// start /components/notifications/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'notifications'
else
  - var componentsArray = [ 'notifications' ]

// end /components/notifications/