.browser-choice
  a( href="" )
    img( src="/template/images/chrome.svg" width="32" height="32" alt="" )
    span Google Chrome
  a( href="" )
    img( src="/template/images/firefox.svg" width="32" height="32" alt="" )
    span Mozilla Firefox
  a( href="" )
    img( src="/template/images/yandex-browser.svg" width="32" height="32" alt="" )
    span Яндекс Браузер