@import '../../styl/component-include.styl'

.browser-choice
  margin 0 -20px

  a
    display inline-block
    background-color #fafafa
    margin 0 8px 20px
    width 250px
    font-size $16px
    padding 14px
    text-align center

    &:hover
      opacity 1

  img
    margin-right 10px
    vertical-align top

  span
    color #3b3b3b
    display inline-block
    vertical-align top
    line-height 32px

    