extends ../../layouts/main

block vars
  - var page = 'pages-reports-list'
  - var authorized = 'true'

block title
  title Отчет ООО «Аудит» | Pages | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/profile

  hr

  .container-fluid
  
    h1 Отчеты
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/registry
          
      article.col-12.col-md-9
        
        include ../../components/reports-list/template
  
    