extends ../../layouts/main

block vars
  - var page = 'pages-study-courses-list'
  - var authorized = 'true'

block title
  title Список курсов УМЦ | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/study

  hr

  .container-fluid
  
    h1 Список курсов
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/study
          
      article.col-12.col-md-9

        .h1-flex-wrapper
          h2 Список курсов УМЦ Название
          a.btn.btn-secondary.btn-md.hidden-sm.hidden-xs( href="" ) Создать курс

        hr

        .b-tabs

          .b-tabs__nav
            .b-tabs__nav__underline
            .b-tabs__nav__item(data-tab="tab1") Все
            .b-tabs__nav__item(data-tab="tab2") Активные
            .b-tabs__nav__item(data-tab="tab3") Архивные
            .b-tabs__nav__item(data-tab="tab4") На проверке
            .b-tabs__nav__item(data-tab="tab5") Черновики

          .b-tabs__tabs
            .b-tabs__tabs__item(data-tab="tab1")
              hr
              include ../../components/study.courses.list/all

            .b-tabs__tabs__item(data-tab="tab2")
              hr
              include ../../components/study.courses.list/active

            .b-tabs__tabs__item(data-tab="tab3")
              hr
              include ../../components/study.courses.list/archive

            .b-tabs__tabs__item(data-tab="tab4")
              hr
              include ../../components/study.courses.list/check

            .b-tabs__tabs__item(data-tab="tab5")
              hr
              include ../../components/study.courses.list/draft

        .b-button-block
          .b-button-block__text
            h4 Создать новый курс
            p Используйте мастер создания нового курса для быстро добавления и публикации учебного курса.
          a.btn.btn-secondary.btn-lg(href="") Создать курс
  
    