extends ../../layouts/main

block vars
  - var page = 'pages-study-courses-list'
  - var authorized = 'true'

block title
  title Список курсов УМЦ | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/study

  hr

  .container-fluid
  
    h1 Список курсов
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/study
          
      article.col-12.col-md-9

        .b-tabs

          .b-tabs__nav
            .b-tabs__nav__underline
            .b-tabs__nav__item(data-tab="tab1") Данные реестра
            .b-tabs__nav__item(data-tab="tab2") История обращения

          .b-tabs__tabs
            .b-tabs__tabs__item(data-tab="tab1")
              hr
              include ../../components/study.courses.list/template

            .b-tabs__tabs__item(data-tab="tab2")
              hr
              include ../../components/study.courses.list/template
  
    