extends ../../layouts/main

block vars
  - var page = 'pages-comission'
  - var authorized = 'true'

block title
  title Комиссии | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/include

  hr

  .container-fluid
  
    h1 Комиссия по контролю качества
  
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/news
          
      article.col-12.col-md-8

        hr
        
        include ../../components/comission/template
    
    
  
    