doctype html
html
  head
    title "Стандартная выписка по (индивидуальному) аудитору", форма от 07.06.2021
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/excerpt/style.css" rel="stylesheet" )
    link( href="/components/application/style.css" rel="stylesheet" )

    table.h1
      tr
        td( style="font-weight: bold; font-size: 20pt; text-align: center;") Доверенность
      tr
        td.text-center на пользование личным кабинетом Аудиторской организации

    table.mb-30
      tr
        td
          b Выдана
        td.text-right 30.03.2022

    table.table-800.mb-30
      tr
        td( width="66%" )

          table.table-100
            tr
              td.border.pb-3
                table.table-100
                  tr
                    td.text-11( width="12%" )
                      i 
                        b Кем:
                    td АО «Универс-Аудит» (ОРНЗ 11506029300)
            tr
              td.text-center.text-9.pb-10
                i Наименование, ОРНЗ аудиторской организаций, выдающей доверенность
            tr
              td.border.pb-3
                table.table-100
                  tr
                    td.text-11( width="12%" )
                      i 
                        b в лице:
                    td Иванов Иван Иванович (Генеральный директор)
            tr
              td.text-center.text-9.pb-10
                i ФИО единоличного исполнительного органа, действующий на основании Устава
            tr
              td.border.pb-3
                table.table-100
                  tr
                    td.text-11( width="12%" )
                      i 
                        b Кому:
                    td Петров Петр Петрович (Руководитель отдела кадров)
            tr
              td.text-center.text-9.pb-10
                i ФИО лица, которому предоставляются полномочия
        td( width="34%" )

    table.table-800
      tr
        td.pb-20
          b Предоставляемые полномочия:
      tr
        td.text-11.pb-20 Пользование размещенным на официальном Интернет-сайте Саморегулируемой организации аудиторов Ассоциации «Содружество» (СРО ААС) auditor-sro.org личным кабинетом аудиторской Организации АО «Универс-Аудит» (ОРНЗ 11506029300).
      tr
        td.text-11.pb-20 Пользование личным кабинетом осуществляется в целях и в пределах осуществления функций, полномочий и выполнения обязанностей члена СРО ААС - аудиторской организации, предусмотренных уставом СРО ААС, Положением о членстве в СРО ААС, Порядком ведения личных кабинетов в СРО ААС, иными локальными нормативными актами СРО ААС, регламентирующими права и обязанности членов СРО ААС.
      tr
        td.text-11.pb-20 Уполномоченное лицо, в числе прочих полномочий, вправе осуществлять передачу через личный кабинет аудиторской организации АО «Универс-Аудит» (ОРНЗ 11506029300) в СРО ААС информации, сведений, документов, предусмотренных Порядком ведения личных кабинетов в СРО ААС. Информация, сведения и документы, переданные уполномоченным лицом в СРО ААС и/или полученные им посредством использования личного кабинета аудиторской организации, считаются переданными (полученными) аудиторской организацией.
      tr
        td.text-11.pb-20 Использование личного кабинета не влечет изменение установленных порядка и сроков, связанных с осуществлением членом СРО ААС – аудиторской организацией прав и обязанностей.
      tr
        td.text-11.pb-20 Аудиторская организация и уполномоченное лицо обеспечивают надлежащие меры безопасности и несут ответственность за соблюдение режима конфиденциальности в отношении информации, сведений и документов, передаваемых (получаемых) посредством использования личного кабинета.
      tr
        td.text-11.pb-20 Настоящая доверенность выдана сроком на 5 (пять) лет (30.03.2022 - 30.03.2027). Аудиторская организация вправе в любое время отозвать настоящую доверенность, о чем незамедлительно обязана уведомить СРО ААС путем направления письменного сообщения через личный кабинет аудитора – единоличного исполнительного органа аудиторской организации.
      tr
        td.text-11.pb-10 Датой получения отзыва доверенности через личный кабинет члена СРО считается дата, зафиксированная в подтверждении даты получения, фиксируемой в личном кабинете члена СРО ААС. До отзыва доверенности информация, сведения и документы, переданные уполномоченным лицом в СРО ААС и/или полученные им, считаются переданными (полученными) аудиторской организацией надлежащим образом.

    table.table-800
      tr
        td
          table.stamp
            tr 
              td.fs19.pt7 ДОКУМЕНТ ПОДПИСАН
            tr 
              td.fs11 ПРОСТОЙ ЭЛЕКТРОННОЙ ПОДПИСЬЮ
            tr 
              td.fs8 СЕРВИС ОБРАЩЕНИЙ HTTPS://AUDITOR-SRO.ORG
            tr 
              td.fs10 12.01.2021
            tr 
              td.fs10.pb7 АБДУРАХМАНОВА АЙШАТ<br>КАМАЛИТДИНОВНА