@import '../../styl/component-include.styl'

.b-payment-requisites-detail

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

  &__qr
    border 1px solid #F0F0F0
    padding 30px
    display flex

    img
      max-width 100%
      width 230px
      height auto
      flex-shrink 0
      margin-right 30px

    p
      width 100%

    @media(max-width 1400px) and (min-width 991px)
      display block

      img
        display block
        margin 0 auto 20px

    @media(max-width 500px)
      display block

      img
        display block
        margin 0 auto 20px
      

  &__uip
    background-color #FAFAFA
    border-radius 10px
    padding 30px 40px
    margin-bottom 30px
    font-weight $bold
    font-family $roboto

    .b-payment-requisites-detail__num
      font-size $24px
      color #074C86
      cursor pointer
      transition(opacity .3s ease)
      line-height 1.2
      word-break break-all

      i
        font-style normal

      &:hover
        opacity .7
    
        .b-copy-icon
          opacity 1

    .b-copy-icon
      display inline-block
      width 16px
      height 16px
      background-repeat no-repeat
      background-position center
      background-size contain
      margin-left 16px
      flex-shrink 0
      transition( opacity .2s linear )
      opacity 0
      position relative

      @media(max-width 767px)
        display none

      &__note
        position absolute
        top -31px
        left 16px
        background #F0F5FC
        border-radius 3px
        color #074C86
        font-family $roboto
        font-size $11px
        line-height 29px
        padding 0 10px
        white-space nowrap
        opacity 0
        transition( opacity .2s linear )
        pointer-events none

        &.b-copy-icon__note--show
          opacity 1

  &__h4
    font-size $20px
    font-family $roboto
    margin-bottom 5px

  &__summ
    border-radius 10px
    border 1px solid #F0F0F0
    font-family $roboto
    font-weight $bold
    font-size $24px
    padding 10px 40px

    div
      padding 20px 0
      border-bottom 1px solid #F0F0F0

      &:last-child
        border-bottom none

      span
        display block
        font-size $20px

  button.btn-icon
    display inline-block
    padding 0
    margin-left 10px

  @media (max-width: 575px)
    .table th:nth-child(2),
    .table td:nth-child(2)
        display table-cell

  &__print

    h3
      display flex
      align-items center
      justify-content space-between

    .btn-icon
      flex-shrink 0

@media print
  .b-payment-requisites-detail .row .col-12.col-md-6
  
    &:nth-of-type(1)

      & > *
        display none

      .b-payment-requisites-detail__print
        display block

        h3
          margin-bottom 20px
          font-size 24px

        h3 span,
        .btn-icon
          display none

        td
          display table-cell

    &:nth-of-type(2)
      display none
