extends ../../layouts/main

block vars
  - var page = 'blocks-text'
  - var authorized = false

block title
  title Blocks | Пользователь не авторизован | AAS

block content

  .container-fluid
    h1 Пользователь не авторизован

    ol.multy-level-2
      li Point
        ol
          li Point
      li Point
      li Point

        ol
          li Point
          li Point
          li Point
            
      li Point
      li Point
      li Point