@import '../../styl/component-include.styl'

.b-registry

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-registry
  
  &__form

    form
      display flex
      justify-content space-between
      align-items flex-end

      @media( max-width 575px )
        display block

  .b-form

    &-field
      width calc( 100% - 178px )

      label
        font-size $10px
        display block
        margin-bottom 8px

      @media( max-width 575px )
        width 100%

  input.b-form-input
    background-color $line-color
    border-radius 5px
    padding 10px 15px
    height 48px
    line-height 28px
    font-size $14px
    border 0
    width 100%

    &::selection
      background-color $secondary-color
      color #fff
    
    &[type=search]:focus
      outline none
      border-bottom 0

  input[type="search"]
    -webkit-appearance textfield
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box



  table.table

    th,
    td
      font-size $14px
      text-align center
      vertical-align middle
      border-top none
      border-bottom 1px solid $line-color

      @media( max-width 1399px )

        &:nth-child(6)
          display none

      @media( max-width 1199px )

        &:nth-child(5)
          display none

      @media( max-width 991px )

        &:nth-child(4)
          display none

      @media( max-width 575px )

        &:nth-child(2)
          display none

    td

      &:first-child
        text-align left

    tbody

      tr
        cursor pointer
        transition( background-color .5s ease )
      
        &:hover
          background-color #fcfcfc
