// start /components/registry/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'registry'
else
  - var componentsArray = [ 'registry' ]
  
.b-registry.ph-block

  .ph

    .ph__form
      div
      div
    .ph__table
      div
      div
      div
      div
      div

  .ph-content

    .b-registry__form

      form( action="" method="GET" )
        .b-form-field
          label Поиск по реестру
          input.b-form-input( type="search" )
        hr.hr--sm.d-block.d-sm-none
        .b-form-submit
          button.btn.btn-secondary( type="submit" ) Найти

    hr.hr--xl

    table.table
      thead
        tr
          th ФИО
          th Номер аттестата
          th ОРНЗ
          th ОГРНИП
          th Субъект РФ
          th Дата прекращения членства
          th Основание прекращения членства
      tbody
        tr( data-url="/pages/profile/" )
          td Савельева Людмила Викторовна
          td К026015
          td 20606017533
          td 20606017533
          td Республика Коми
          td 30.12.2009 № 7
          td 30.12.2009 № 7
        tr( data-url="/pages/profile/" )
          td Широкова Ольга Владимировна
          td К014405
          td 20406000014
          td
          td г. Москва
          td 12.10.2009 № 4
          td 12.10.2009 № 4
        tr( data-url="/pages/profile/" )
          td Ушаков Алексей Вячеславович
          td К011759
          td 20406000036
          td
          td Тульская область
          td 12.10.2009 № 4
          td 12.10.2009 № 4

        tr( data-url="/pages/profile/" )
          td Пасичниченко Елена Владимировна
          td К028657
          td 20806000042
          td
          td Красноярский край
          td 12.10.2009 № 4
          td 12.10.2009 № 4

        tr( data-url="/pages/profile/" )
          td Ушаков Андрей Вячеславович
          td К006766,06-000101
          td 20306000057
          td 320715400044608
          td Тульская область
          td 12.10.2009 № 4
          td 12.10.2009 № 4

        tr( data-url="/pages/profile/" )
          td Махнёва Вера Александровна
          td К004774
          td 20306010960
          td
          td Республика Башкортостан
          td 16.11.2009 № 5
          td 16.11.2009 № 5

    hr.hr--xl

    include ../../modules/pagination/include


// end /components/registry/