block vars
  - var page = 'pwa'
  - var authorized = 'true'

doctype html
html
  head
    block title
      title PWA
      
    include includes/pwa/meta

    link( href="/template/placeholders/" + page + ".css" rel="stylesheet" )
    
  body

    include ../components/pwa/template

    .b-pwa-content
      
      block content

        .container-fluid
          h1 aas
    
    //- include page's styles and scripts
    include includes/fonts
    include includes/pwa/styles
    //-include includes/scripts
    
    //- include styles and scripts for all page's components
    if componentsArray
      each componentName in componentsArray
        link( rel="stylesheet", href="/components/" + componentName + "/style.css" )
        script( src="/components/" + componentName + "/script.js" )

