@import '../../styl/component-include.styl'

.b-notifications-detail

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

.b-notifications-detail

  @media (max-width: 575px)
    h3:first-child
      margin-top 0

  table.table
    margin-bottom 0

    th
      width 35%

    @media (max-width: 575px)
      th:nth-child(2),
      td:nth-child(2)
        display table-cell
