// start /components/notifications.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'notifications.detail'
else
  - var componentsArray = [ 'notifications.detail' ]

.b-notifications-detail.ph-block

  .ph

    .ph__text
      div
      div
      div
      div
      div
      div

  .ph-content 

    h3 Изменение сведений об учредителях (Участниках, акционерах) аудиторской организации, а также сведения о держателях реестров акционеров аудиторской организации, созданной в форме акционерного общества

    hr

    p Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.

    hr

    .row 
      .col-lg-6 
        table.table
          tbody
            tr
              th Дата заявки
              td 13.01.2021 13:08
            tr
              th Номер заявки
              td N3456
            tr
              th Заявитель
              td
                a( href="/pages/profile/" ) Абросимова Наталия Александровна
            tr
              th ОРНЗ
              td
                a( href="" ) 11782631892674
      .col-lg-6 
        table.table
          tbody
            tr
              th Статус
              td
                span.text-danger Отклонено
            tr
              th Комментарий
              td Причина откленения, неправильные документы приложенные к заявке не действительны.

// end /components/notifications.detail/