@import '../../styl/component-include.styl'

.b-excerpts-multiple-generate

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-poll

  &__form-bottom-panel
    border 1px solid #f5f5f5
    border-radius 10px
    padding 20px 40px 20px 20px
    display flex
    justify-content space-between
    align-items center
    min-height 110px
    position sticky
    bottom 0
    background #fff
    z-index 100

    &__left
      display flex
      justify-content flex-start
      align-items center
      width calc( 100% - 100px )

    &__num
      font-size $18px
      font-weight $bold
      margin-right 20px

    &__select
        min-width 200px
        max-width 300px
        width calc(100% - 150px)

        label
            transform( translateY(-1.2rem))

    @media( max-width 767px )
        display block
        padding 20px

        &__left
            width auto
            justify-content space-between
            margin-bottom 20px

        &__select
            width auto

        button
            width 100%

  &__form-control
    border 1px solid #f5f5f5
    border-radius 10px
    padding 20px 40px 20px 20px
    display flex
    justify-content space-between
    align-items center
    cursor pointer
    transition( all .3s ease )
    min-height 110px

    @media( max-width 767px )
      padding-right 20px

    &.i-active
      border-color #74C37A

    &.i-disabled
      opacity .2
      pointer-events none
      cursor default

    &__content
      display flex
      justify-content space-between
      align-items center
      margin-right 40px

      @media( max-width 767px )
        display block
        margin-right 20px

    &__img
      width 80px
      height 80px
      border-radius 10px
      margin-right 20px
      background-repeat no-repeat
      background-position center
      background-size cover
      flex-shrink 0

      @media( max-width 767px )
        display block
        width 50%
        height auto
        padding-top 50%
        margin-bottom 15px
        margin-right 0

    &__text
      width 100%

      b
        display block
        font-size $18px
        margin-bottom 5px
        line-height 1.2

      span
        display block
        font-size $14px


  &__checkbox
    position relative
    width 32px
    height 32px
    flex-shrink 0

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked
      position absolute
      opacity 0
      pointer-events none

    [type="checkbox"]+span
      position relative
      padding-left 25px
      cursor pointer
      display block
      height 25px
      -webkit-user-select none
      -moz-user-select none
      -ms-user-select none
      user-select none

    [type="checkbox"].filled-in+span:before,
    [type="checkbox"].filled-in+span:after
      content: ''
      left: 0
      position: absolute
      transition( all .25s )
      z-index 1

    [type="checkbox"].filled-in:not(:checked)+span:before
      width 0
      height 0
      left 10px
      top 14px

    [type="checkbox"].filled-in:not(:checked)+span:after
      height 32px
      width 32px
      background-color #f5f5f5
      border-radius 5px
      top 0px
      z-index 0

    [type="checkbox"].filled-in:checked+span:before
      top: 7px
      left: 6px
      width: 20px
      height: 15px
      background embedurl('img/checkbox.svg') no-repeat center
      background-size cover

    [type="checkbox"].filled-in:checked+span:after
      top 0
      width 32px
      height 32px
      background-color #74C37A
      border-radius 5px
      z-index 0

.b-loading-status
    display flex
    justify-content space-between
    align-items center
    min-height 80px
    padding 20px
    border-bottom 1px solid $placeholder-color

    b
        line-height 1.2
        margin-right 15px

.b-generated
    display flex
    justify-content space-between
    align-items center
    min-height 80px
    padding 20px
    border-bottom 1px solid $placeholder-color
    margin-bottom 40px

    &__left

        a
            font-weight bold
            margin-right 30px

        span
            white-space nowrap

    &__right

        a
            background-repeat no-repeat
            background-position right center
            background-size 36px
            display inline-block
            padding-right 50px
            min-height 36px
            line-height 36px
            white-space nowrap

@import './style/select.styl'
@import './style/preloaders.styl'
