// start /components/report-form/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'report-form'
else
  - var componentsArray = [ 'report-form' ]
  
.b-report-form.ph-block

  .ph

    .ph__text
      div
      div
      div
      div
      div
      div

  .ph-content

    .b-report-form__text

      form( action="" method="GET" data-ajax-url="/components/report-form/response.json" )

        input#element_id( type="hidden" value="123" )

        .b-report-form__autosave-text.small.text-muted Последнее сохранение
          | 
          span 13 апреля 2020 14:53

        .b-collapse-block.open
          .b-collapse-block__head
            a( href="" )
              i Основные сведения
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

            .b-report-form__buttons
              div
                a.btn.btn-primary.btn-sm( href="" )
                  span.icon( style="background-image: url( '/template/images/copywhite.svg' );" )
                  | Заполнить из реестра
                a.btn.btn-light.btn-sm( href="" )
                  span Очистить поля
                  span Вернуть поля
              div
                small.text-muted Вы можете использовать данные, уже указанные в реестре, и автоматически заполнить поля форм.
                  
            hr

            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label.active

                  input#COMPANYNAME( type="text" name="COMPANYNAME" value="ООО «Компания + Я»" required autocomplete="off" )
                  label( for="COMPANYNAME" ) Наименование организации *

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) ООО &laquo;Компания + Я&raquo;
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
                  
            hr
            
            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label

                  textarea#POSTADDRESS( row="10" cols="10" name="POSTADDRESS" required autocomplete="off")
                  label( for="POSTADDRESS" ) Почтовый адрес *

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) 125252
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
              
            hr
            
            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label

                  textarea#ADDRESS( row="10" cols="10" name="ADDRESS" required autocomplete="off")
                  label( for="ADDRESS" ) Фактический адрес *

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) Улица Строителей
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
              
            hr
            
            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label

                  input#FIO( type="text" name="FIO" required autocomplete="off")
                  label( for="FIO" ) ФИО подписывающего отчет *

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) Петров Иван Валерьевич
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
              
            hr
            
            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label

                  input#EMAIL( type="email" name="EMAIL" required autocomplete="off")
                  label( for="EMAIL" ) Email *

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) maxim@twinpx.ru
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
              
            hr
            
            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label

                  input#OKPO( type="text" name="OKPO" autocomplete="off" )
                  label( for="OKPO" ) ОКПО

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) 78978979879879798979789
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
              
            hr
            
            .row.align-items-center

              .col-lg-6.col-12

                .b-float-label

                  input#OGRN( type="text" name="OGRN" autocomplete="off" )
                  label( for="OGRN" ) ОГРН

              hr.hr--xs.d-block.d-lg-none.w-100

              .col-lg-6.col-12.small
                span.text-muted Данные из реестра: 
                a.b-complete-link( href="" ) 1231231231321312313123
                  span.icon( style="background-image: url( '/template/images/copy.svg' );" )
              
            hr
            
            .row

              .col-md-6.col-12

                .b-float-label( data-src="/template/images/calendar.svg" )

                  input#SIGNINGDATE( type="text" name="SIGNINGDATE" required)
                  img.calendar-icon( src="" alt="Выбрать дату в календаре" onclick="" border="0" autocomplete="off" )
                  label( for="SIGNINGDATE" ) Дата подписания *

              hr.d-block.d-md-none.w-100

              .col-md-6.col-12
            
                .b-float-label( data-src="/template/images/calendar.svg" )

                  input#COMPLETIONDATE( type="text" name="COMPLETIONDATE" required autocomplete="off")
                  img.calendar-icon( src="" alt="Выбрать дату в календаре" onclick="" border="0" )
                  label( for="COMPLETIONDATE" ) Дата сдачи отчета в Минфин России *
              
            hr

        .b-collapse-block.open
          .b-collapse-block__head
            a( href="" )
              i Сотрудники
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

            .b-staff-table

              table.table( data-result="/components/registry-report/result.json" )
                thead
                  tr
                    th.asc( data-field="name" ) ФИО
                    th( data-field="ornz" ) ОРНЗ
                    th( data-field="type" ) Тип договора
                    th
                tbody
                  tr( data-url="/pages/profile/" )
                    input( type="hidden" name="staff-member-id" value="1" )
                    td.asc Савельева Людмила Викторовна
                    td 20606017533
                    td Основной
                    td
                      a.btn-delete( style="background-image: url( '/template/images/btn-delete.svg' );" )
                  tr( data-url="/pages/profile/" )
                    input( type="hidden" name="staff-member-id" value="2" )
                    td.asc Широкова Ольга Владимировна
                    td 20406000036
                    td По совместительству
                    td
                      a.btn-delete( style="background-image: url( '/template/images/btn-delete.svg' );" )
                  tr( data-url="/pages/profile/" )
                    input( type="hidden" name="staff-member-id" value="3" )
                    td.asc Ушаков Алексей Вячеславович
                    td 20406000036
                    td
                    td
                      a.btn-delete( style="background-image: url( '/template/images/btn-delete.svg' );" )

            .b-staff-table.added
              h3 Добавленные

              table.table( data-result="/components/registry-report/result.json" )
                thead
                  tr
                    th.asc( data-field="name" ) ФИО
                    th( data-field="ornz" ) ОРНЗ
                    th( data-field="type" ) Тип договора
                    th
                tbody
                  tr( data-url="/pages/profile/" )
                    input( type="hidden" name="staff-member-id" value="1" )
                    td.asc Савельева Людмила Викторовна
                    td 20606017533
                    td Основной
                    td
                      a.btn-delete( style="background-image: url( '/template/images/btn-delete.svg' );" )
                  tr( data-url="/pages/profile/" )
                    input( type="hidden" name="staff-member-id" value="2" )
                    td.asc Широкова Ольга Владимировна
                    td 20406000036
                    td По совместительству
                    td
                      a.btn-delete( style="background-image: url( '/template/images/btn-delete.svg' );" )
                  tr( data-url="/pages/profile/" )
                    input( type="hidden" name="staff-member-id" value="3" )
                    td.asc Ушаков Алексей Вячеславович
                    td 20406000036
                    td
                    td
                      a.btn-delete( style="background-image: url( '/template/images/btn-delete.svg' );" )

            button.btn.btn-success( type="button" data-toggle="modal" data-target="#addStaffMemberModal" ) Добавить сотрудника

            #addStaffMemberModal.modal.fade(tabindex="-1" aria-labelledby="addStaffMemberModalLabel" aria-hidden="true")
              .modal-dialog
                .modal-content
                  button.close(type="button" data-dismiss="modal" aria-label="Close" style="background-image: url( '/template/images/cancel.svg' );")
                  .modal-body( data-hint-url="/components/report-form/hint-response.json" data-info-url="/components/report-form/info-response.json" data-method="GET" )
                    h3.text-center Добавить аудитора

                    hr.hr--xl

                    .b-float-label
                      input#modalORNZ( type="text" autocomplete="off" )
                      label( for="modalORNZ" ) ОРНЗ
                        em не найден
                      .b-input-hint

                    hr

                    .b-float-label
                      input#modalFIO( type="text" autocomplete="off" )
                      label( for="modalFIO" ) ФИО
                        em не найден
                      .b-input-hint

                    hr.hr--xl

                    .text-center
                      button.btn.btn-secondary( data-dismiss="modal" ) Добавить

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Контакты
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Численность персонала
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Объём услуг
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Характеристика организаций
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Аудиторские заключения
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Участие в сетях
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Руководство
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        .b-collapse-block
          .b-collapse-block__head
            a( href="" )
              i Сотрудники
              i.text-danger Не заполнены обязательные поля
            span
          .b-collapse-block__body

        hr.hr--lg

        .b-report-form__submit
          button.btn.btn-secondary.btn-lg( type="submit" disabled ) Сдать отчет
          small.text-muted Вы не закончили заполнение обязательных полей.
            | 
            a( href="#" ) Продолжить

// end /components/report-form/