@import '../../styl/component-include.styl'

.b-report

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-report
      
  .b-collapse-block__head,
  .text-muted.small,
  .text-muted.small + p
    font-family $roboto
    
  .b-collapse-block__body
    padding-bottom 20px

@media print

  .b-body-shutter,
  #bx-panel-back,
  #bx-panel,
  .b-header,
  .b-breadcrumbs,
  h1,
  aside.d-md-block,
  .b-left-menu,
  .b-footer,
  .b-collapse-block__head span
    display none !important

  article.col-md-8
    width 100% !important
    max-width 100% !important
    flex none !important

  .b-collapse-block
    border-bottom none

    &__head

      a
        text-decoration none

    &__body
      display block !important

      .small
        font-size 1rem

      .text-muted
        color #000
        font-weight bold
        margin-right 20px
        float left

      p
        color #000