table.table( data-result="/components/poll-result/result.json" )
  thead
    tr
      th( data-field="fio" ) ФИО
      th( data-field="ornz" ) ОРНЗ
      th( data-field="date" ) Дата голосования
      th( data-field="status" ) Статус курса
      th( data-field="bulletin" ) Бюллетень
  tbody
    tr
      td Савельева Людмила Викторовна
      td 20606017533
      td 18 мая 2021 15:12:41
      td Голосует
      td
        a.pdf-icon( href="/upload/example.pdf" target="_blank" style="background-image: url('/template/images/pdf.svg');" )
    tr
      td Савельева Людмила Викторовна
      td 20606017533
      td 18 мая 2021 15:12:41
      td Голосует
      td
        a.pdf-icon( href="/upload/example.pdf" target="_blank" style="background-image: url('/template/images/pdf.svg');" )
    tr
      td Савельева Людмила Викторовна
      td 20606017533
      td 18 мая 2021 15:12:41
      td Голосует
      td
        a.pdf-icon( href="/upload/example.pdf" target="_blank" style="background-image: url('/template/images/pdf.svg');" )
    tr
      td Савельева Людмила Викторовна
      td 20606017533
      td 18 мая 2021 15:12:41
      td Голосует
      td
        a.pdf-icon( href="/upload/example.pdf" target="_blank" style="background-image: url('/template/images/pdf.svg');" )

hr.hr--xl

include ../../modules/pagination/include