// start /components/poll-result/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'poll-result'
else
  - var componentsArray = [ 'poll-result' ]
  
.b-poll-result.ph-block

  .ph

    .ph__text
      div
      div
      div
      div
      div
      div

  .ph-content

    .b-poll-result-ill( style="background-image: url('/upload/events/2.jpeg');")

    hr

    h3 Текст подробного описания

    p Ольга Александровна представила презентацию и доложила об основных результатах работы Дирекции СРО ААС за отчетный период: о деятельности по организации и обеспечению исполнения СРО ААС функций саморегулируемой организации аудиторов, в том числе о ведении реестра аудиторов и аудиторских организаций и вопросах членства в СРО ААС, об организации внешнего контроля качества и обучения по программам повышения квалификации аудиторов; об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС; о работе подразделений внутреннего контроля; об организации работы с обращениями, запросами членов СРО ААС и заинтересованных лиц, с жалобами на членов СРО ААС; о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС. В докладе Генеральный директор представила информацию о проделанной в отчётном периоде работе, связанной с обеспечением необходимых мер по созданию единой саморегулируемой организации аудиторов.

    hr

    .b-poll-result__groups

      .b-poll-result__groups__item

        h3 Раздел с вопросами
        p Описание раздела может быть очень коротким, а может иметь инструкцию.

        hr

        .b-poll-result__questions

          .b-poll-result__questions__item 
            .b-poll-result__questions__title Вариант ответ номер один с пояснением.
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 5 600
          .b-poll-result__questions__item 
            .b-poll-result__questions__title о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС.
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 12 785
          .b-poll-result__questions__item 
            .b-poll-result__questions__title об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 400
          .b-poll-result__questions__item 
            .b-poll-result__questions__title Генеральный директор представила информацию о проделанной в отчётном периоде работе
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 3 698

      .b-poll-result__groups__item

        h3 Раздел с вопросами
        p Описание раздела может быть очень коротким, а может иметь инструкцию.

        hr

        .b-poll-result__questions

          .b-poll-result__questions__item 
            .b-poll-result__questions__title Вариант ответ номер один с пояснением.
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 5
          .b-poll-result__questions__item 
            .b-poll-result__questions__title о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС.
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 2
          .b-poll-result__questions__item 
            .b-poll-result__questions__title об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС
            .b-poll-result__questions__graph.b-graph
              .b-graph__wrapper
                .b-graph__img
                .b-graph__num 3


// end /components/poll/