// start /components/poll-result/

script( src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" )
script( src="https://unpkg.com/vuex" )

script( src="/components/poll-result/store.js" )

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'poll-result'
else
  - var componentsArray = [ 'poll-result' ]
  
.b-poll-result.ph-block

  .ph

    .ph__text
      .ph__num-blocks
        div
        div
        div
      .ph__ill
        div
        div
        div
        div
        div

  .ph-content

    include ../../modules/num-blocks/include

    .b-poll-result-ill( style="background-image: url('/upload/events/2.jpeg');")

    hr

    h3 Текст подробного описания

    p Ольга Александровна представила презентацию и доложила об основных результатах работы Дирекции СРО ААС за отчетный период: о деятельности по организации и обеспечению исполнения СРО ААС функций саморегулируемой организации аудиторов, в том числе о ведении реестра аудиторов и аудиторских организаций и вопросах членства в СРО ААС, об организации внешнего контроля качества и обучения по программам повышения квалификации аудиторов; об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС; о работе подразделений внутреннего контроля; об организации работы с обращениями, запросами членов СРО ААС и заинтересованных лиц, с жалобами на членов СРО ААС; о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС. В докладе Генеральный директор представила информацию о проделанной в отчётном периоде работе, связанной с обеспечением необходимых мер по созданию единой саморегулируемой организации аудиторов.

    hr

    #pollResult.b-poll-result__groups

      .b-poll-result__groups__item(v-for="group in $store.state.groups")

        h3 {{group.title}}
        p( v-html="group.description" )

        hr.hr--xl

        .b-poll-result__questions
          div( v-for="question in group.questions" )
            poll-question( :question="question" )
            hr.hr--xl

// end /components/poll/