extends ../../layouts/main

block vars
  - var page = 'pages-form-auth-confirm'
  - var authorized = 'true'

block title
  title Введите код подтвеждения | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/form-auth

  hr

  .container-fluid
  
    h1 Авторизация
  
  .container-fluid
        
    include ../../components/form.auth.confirm/template
  
    