.row.b-check-detail__data
  .col-lg-6 
    table.table
      tbody
        tr
          th Номер проверки
          td N3456
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Дата начала проверки
          td 13.01.2021 13:08
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Дата окончания проверки
          td 21.01.2021 13:08
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Объект проверки
          td 
            div
              a(href="") ООО АФ «КОНСУЛ»
              hr.hr--xs
              .small.text-muted 11782631892674
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Вид проверки
          td Плановая
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")

  .col-lg-6 
    table.table
      tbody
        tr
          th Статус
          td
            span.label-gray
              span Черновик
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Проверяемый период
          td 2017-2020
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Уполномоченный эксперт
          td
            div
              a(href="") Байкова Светлана Викторовна
              hr.hr--xs
              .small.text-muted 11782631892674
              hr
              a(href="") Андриенко Олег Владимирович
              hr.hr--xs
              .small.text-muted 11782631892674
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Уполномоченный эксперт
          td
            div
              a(href="") Байкова Светлана Викторовна
              hr.hr--xs
              .small.text-muted 11782631892674
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
