.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body Some text

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body Some text

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body Some text