.b-check-detail__reports
  table.table
    thead
      tr
        th.asc( data-field="title" ) Дата сдачи
        th( data-field="id" ) Название отчета
        th( data-field="start" ) Статус
    tbody
      tr( data-url="/pages/appeal-detail-public/" data-target="_self" )
        td.asc 03.11.2022
        td Уточненный отчет аудиторской организации за первое полугодие 2022 года номер 192733, cоздан 99999999998
        td 
          .label-gray
            span Черновик

      tr( data-url="/pages/appeal-detail-public/" data-target="_self" )
        td.asc 17.09.2022
        td Отчет аудиторской организации за первое полугодие 2022 года номер 192733, cоздан 99999999998
        td 
          .label-blue
            span Ожидает рассмотрения
            
      tr( data-url="/pages/appeal-detail-public/" data-target="_self" )
        td.asc 11.02.2022
        td Уточненный отчет «Форма 2-аудит» за 2021 номер 198764, cоздан 99999999998
        td 
          .label-green
            span Опубликован
            
      tr( data-url="/pages/appeal-detail-public/" data-target="_self" )
        td.asc 07.05.2020
        td О наличии доступа к гос.тайне номер 156973, cоздан 99999999998
        td 
          .label-green
            span Опубликован

  hr.hr--xl

  include ../../modules/pagination/include