b
  font-weight bold

i
  font-style italic

table
  display table
  border-collapse collapse
  border 0
  box-sizing border-box
  text-indent initial

table

  &.table-800
    width 800px

  &.table-100
    width 100%

  &.mb-20
    margin-bottom 20px

  &.mb-40
    margin-bottom 40px

tr

  &.height-20
    height 20px

  &.height-40
    height 40px

  &.height-60
    height 60px

td
  font-family "Times New Roman", serif
  font-size 10pt
  line-height 1.2
  vertical-align top

  &.text-center
    text-align center

  &.vertical-middle
    vertical-align middle

  /*

  &.text-right
    text-align right
    
  &.text-bottom
    vertical-align bottom

  &.nowrap
    white-space nowrap

  &.pb-3
    padding-bottom 3px

  &.pb-10
    padding-bottom 10px

  &.pb-20
    padding-bottom 20px

  &.pb-30
    padding-bottom 30px*/

  &.text-12
    font-size 12pt

  &.text-8
    font-size 8pt

  &.text-bold
    font-weight bold

td.border
  border 1px solid #000

td.border-top
  border-top 1px solid #000

td.border-right
  border-right 1px solid #000

td.border-bottom
  border-bottom 1px solid #000