.b-checkbox
  label
    input.filled-in( type="checkbox" required )
    span Я принимаю условия Пользовательского соглашения и даю своё согласие СРО ААС на обработку моей персональной информации на условиях, определенных Политикой конфиденциальности.