.b-docs-block

  .b-docs-block__item( href="/pages/news/" )
  
    .b-docs-block__body
    
      a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
      
      span.b-docs-block__text
      
        a( href="/pages/news/" ) Постановление Правительства Российской Федерации от 16.02.2005 № 82 «Об утверждении Положения о порядке передачи информации в Федеральную службу по финансовому мониторингу адвокатами, нотариусами и лицами, осуществляющими предпринимательскую деятельность в сфере оказания юридических или бухгалтерских услуг»
        
        span.b-docs-block__data
          span.text-muted 654 Кб .doc
          span.text-muted Дата документа: 13 января 2020
          span.text-muted Дата публикации: 15 января 2020
          span.btn.btn-tag Архив документа
          
    .b-docs-block__collapsed
    
      .b-docs-block__item( href="/pages/news/" )
    
        a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
        
        span.b-docs-block__text
        
          a( href="/pages/news/" ) Постановление Правительства Российской Федерации от 16.02.2005 № 82 «Об утверждении Положения о порядке передачи информации в Федеральную службу по финансовому мониторингу адвокатами, нотариусами и лицами, осуществляющими предпринимательскую деятельность в сфере оказания юридических или бухгалтерских услуг»
          
          span.b-docs-block__data
            span.text-muted 654 Кб .doc
            span.text-muted Дата документа: 13 января 2020
            span.text-muted Дата публикации: 15 января 2020
    
      .b-docs-block__item( href="/pages/news/" )
    
        a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/pdf.svg' );" )
        
        span.b-docs-block__text
        
          a( href="/pages/news/" ) Постановление Правительства Российской Федерации от 16.02.2005 № 82 «Об утверждении Положения о порядке передачи информации в Федеральную службу по финансовому мониторингу адвокатами, нотариусами и лицами, осуществляющими предпринимательскую деятельность в сфере оказания юридических или бухгалтерских услуг»
          
          span.b-docs-block__data
            span.text-muted 654 Кб .doc
            span.text-muted Дата документа: 13 января 2020
            span.text-muted Дата публикации: 15 января 2020
    
      .b-docs-block__item( href="/pages/news/" )
    
        a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/zip.svg' );" )
        
        span.b-docs-block__text
        
          a( href="/pages/news/" ) Постановление Правительства Российской Федерации от 16.02.2005 № 82 «Об утверждении Положения о порядке передачи информации в Федеральную службу по финансовому мониторингу адвокатами, нотариусами и лицами, осуществляющими предпринимательскую деятельность в сфере оказания юридических или бухгалтерских услуг»
          
          span.b-docs-block__data
            span.text-muted 654 Кб .doc
            span.text-muted Дата документа: 13 января 2020
            span.text-muted Дата публикации: 15 января 2020
            
      span.btn.btn-tag Скрыть архивные документы

  hr.hr--md

  .b-docs-block__item( href="/pages/news/" )
  
    .b-docs-block__body
    
      a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/zip.svg' );" )
      
      span.b-docs-block__text
      
        a( href="/pages/news/" ) Постановление Правительства Российской Федерации от 16.02.2005 № 82 «Об утверждении Положения о порядке передачи информации в Федеральную службу по финансовому мониторингу адвокатами, нотариусами и лицами, осуществляющими предпринимательскую деятельность в сфере оказания юридических или бухгалтерских услуг»
        
        span.b-docs-block__data
          span.text-muted 654 Кб .doc
          span.text-muted Дата документа: 13 января 2020
          span.text-muted Дата публикации: 15 января 2020

  hr.hr--md

  .b-docs-block__item( href="/pages/news/" )
  
    .b-docs-block__body
    
      a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/pdf.svg' );" )
      
      span.b-docs-block__text
      
        a( href="/pages/news/" ) Постановление Правительства Российской Федерации от 16.02.2005 № 82 «Об утверждении Положения о порядке передачи информации в Федеральную службу по финансовому мониторингу адвокатами, нотариусами и лицами, осуществляющими предпринимательскую деятельность в сфере оказания юридических или бухгалтерских услуг»
        
        span.b-docs-block__data
          span.text-muted 654 Кб .doc
          span.text-muted Дата документа: 13 января 2020
          span.text-muted Дата публикации: 15 января 2020
            