.b-collapse-block.show-on-load
  .b-collapse-block__head
    a( href="" )
      strong( style="background-image: url( '/template/images/docs.svg' );" )
      em
        i Аттестаты
        | 
        i 34 документа
    span
  .b-collapse-block__body
    include docs
    
.b-collapse-block.show-on-load
  .b-collapse-block__head
    a( href="" )
      strong( style="background-image: url( '/template/images/docs.svg' );" )
      em
        i Сведения о применении мер дисциплинарного воздействия
        | 
        i 9 документов
    span
  .b-collapse-block__body
    include docs