.b-docs-block

  a.b-docs-block__item( href="/pages/news/" )
    
    span.b-docs-block__icon( style="background-image: url( '/template/images/profile.svg' );" )
    span.b-docs-block__text
      | Порядок применения мер дисциплинарного воздействия к членам СРО ААС
      span.text-muted 654 Кб .doc

  hr.hr--md

  a.b-docs-block__item( href="/pages/news/" )
    
    span.b-docs-block__icon( style="background-image: url( '/template/images/profile.svg' );" )
    span.b-docs-block__text
      | Порядок применения мер дисциплинарного воздействия к членам СРО ААС
      span.text-muted 654 Кб .doc
            