.b-collapse-block.open.slide
  .b-collapse-block__head
    a( href="" ) Документы по теме
    span
  .b-collapse-block__body
    include docs
    
.b-collapse-block.open.slide
  .b-collapse-block__head
    a( href="" ) Документы по теме
    span
  .b-collapse-block__body
    include docs

.b-collapse-block.open.slide
  .b-collapse-block__head
    a( href="" ) Документы по теме
    span
  .b-collapse-block__body
    include docs