.b-docs-block

  .b-docs-block__item( href="/pages/news/" )
  
    .b-docs-block__body
    
      a.b-docs-block__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
      
      span.b-docs-block__text
      
        a( href="/pages/news/" ) Членские взносы за четыре квартала при уплате до 31 января года, за который производится уплата.