// start /components/events.tabs/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'events.tabs'
else
  - var componentsArray = [ 'events.tabs' ]
  
.b-events-tabs
          
  .row

    .col-12.col-sm-6
      .b-events-tabs__item
        .b-events-tabs__top( style="background-image: url( '/upload/events/2.jpeg' );" )
          .b-events-tabs__date 14 сентября
          .b-events-tabs__year 2020
          a.b-events-tabs__tag( href="/pages/events/" ) Онлайн
        .b-events-tabs__bottom
          a.b-events-tabs__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году»
          a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие

    hr.d-block.d-sm-none.w-100

    .col-12.col-sm-6
      .b-events-tabs__item
        .b-events-tabs__top( style="background-image: url( '/upload/events/1.jpeg' );" )
          .b-events-tabs__date 18 сентября
          .b-events-tabs__year 2020
        .b-events-tabs__bottom
          a.b-events-tabs__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новации налогового законодательства-2020: изменения, основные проблемы и способы их решения»
          a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие

// end /components/events.tabs/