.b-collapse-block.open.slide
  .b-collapse-block__head
    a(href='') Основные сведения
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Краткое наименование
        p ООО &quot;АКФ &quot;РУБЛЕВиК&quot;
        .text-muted.small Полное наименование
        p Общество с ограниченной ответственностью &quot;АКФ &quot;РУБЛЕВиК&quot;
        .text-muted.small Наименование на иностранном языке
        p
        .text-muted.small Фирменное наименование
        p Общество с ограниченной ответственностью &quot;АКФ &quot;РУБЛЕВиК&quot;
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Субъект РФ
        p Брянская область
        .text-muted.small Организационно-правовая форма
        p ООО
        .text-muted.small ОРНЗ
        p 11406024257
        .text-muted.small ИНН
        p 3257019094
        .text-muted.small ОГРН
        p 1143256009401
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Дата государственной регистрации юридического лица
        p 19.06.2014
        .text-muted.small Дата и номер решения о приеме в члены СРО
        p 11.07.2014 № 147
        .text-muted.small Дата вступления в силу решения о приеме в члены СРО
        p
          | 11.07.2014
        .text-muted.small Дата внесения записи в реестр
        p
          | 11.07.2014
        .text-muted.small Дата прекращения членства
        p.text-danger
          | 18.06.2021
        .text-muted.small Основание прекращения членства
        p.text-danger
          | пункт 2, ч.15, ст.18 №307-ФЗ

.b-collapse-block
  .b-collapse-block__head
    a(href='') Контакты
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Адрес постоянно действующего исполнительного органа
        p 241047, Брянская обл., г. Брянск, ул. 2-я Мичурина, д. 31, оф. 17
        .text-muted.small Телефон
        p (952)960-72-26, (4832)31-16-76
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Адрес официального сайта в сети Интернет
        p Нет данных
        .text-muted.small Адрес электронной почты
        p svaaudit@yandex.ru
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4

.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сотрудники организации
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Количество аудиторов - сотрудников аудиторской организации
        p
          | 3
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small ФИО
        p
          | Беспалова Ольга Николаевна
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          a(href='/person/19711/') 22006343880
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small ФИО
        p
          | Калимуллин Линар Равилевич
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          a(href='/person/2292/') 21006014051
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small ФИО
        p
          | Кузнецова Валентина Владимировна
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          a(href='/person/17390/') 22006297214
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения о применении мер дисциплинарного воздействия
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Нарушение стандартов аудиторской деятельности
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено решение об исключении аудиторской организации, аудитора из&nbsp;&nbsp;членов саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 512 18.06.2021
        .text-muted.small Орган, принявший решение
        p
          | Постоянно действующий коллегиальный орган управления саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Нарушение кодекса профессиональной этики аудиторов
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено решение об исключении аудиторской организации, аудитора из&nbsp;&nbsp;членов саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 512 18.06.2021
        .text-muted.small Орган, принявший решение
        p
          | Постоянно действующий коллегиальный орган управления саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Нарушение правил независимости аудиторов и аудиторских организаций
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено решение об исключении аудиторской организации, аудитора из&nbsp;&nbsp;членов саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 512 18.06.2021
        .text-muted.small Орган, принявший решение
        p
          | Постоянно действующий коллегиальный орган управления саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Несоблюдение требования о доле уставного &#40;складочного&#41; капитала аудиторской организации, принадлежащей аудиторам и &#40;или&#41; аудиторским организациям
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено решение об исключении аудиторской организации, аудитора из&nbsp;&nbsp;членов саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 512 18.06.2021
        .text-muted.small Орган, принявший решение
        p
          | Постоянно действующий коллегиальный орган управления саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Несоблюдение требования о том, что лицо, являющееся единоличным исп. органом ауд. орг-ии, ИП &#40;управляющий&#41;, коммерческая орг-ия, которой переданы по договору полномочия исполнительного органа, должно быть аудитором или аудиторской организацией
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено решение об исключении аудиторской организации, аудитора из&nbsp;&nbsp;членов саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 512 18.06.2021
        .text-muted.small Орган, принявший решение
        p
          | Постоянно действующий коллегиальный орган управления саморегулируемой организации аудиторов
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Иные нарушения
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено предупреждение в письменной форме о недопустимости&nbsp;&nbsp;нарушения требований Федерального закона от 30 декабря 2008 г. № 307-ФЗ «Об аудиторской деятельности»
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 95 19.12.2019
        .text-muted.small Орган, принявший решение
        p
          | Специализированный орган, осуществляющий рассмотрение дел о применении в отношении членов саморегулируемой организации аудиторов мер дисциплинарного воздействия
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Нарушение стандартов аудиторской деятельности
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесено предупреждение в письменной форме о недопустимости&nbsp;&nbsp;нарушения стандартов аудиторской деятельности
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 95 19.12.2019
        .text-muted.small Орган, принявший решение
        p
          | Специализированный орган, осуществляющий рассмотрение дел о применении в отношении членов саморегулируемой организации аудиторов мер дисциплинарного воздействия
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Иные нарушения
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Направлено СРО, членом которой&nbsp;&nbsp;является аудиторская организация, обязательное для исполнения&nbsp;&nbsp;предписание о приостановлении членства аудиторской организации в&nbsp;&nbsp;СРО
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 48-14-25/24-10870 19.10.2018
        .text-muted.small Орган, принявший решение
        p
          | Уполномоченный федеральный орган
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | 27.04.2019
        .text-muted.small Дата, с которой восстановлено членство
        p
          | 27.04.2019
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Нарушение стандартов аудиторской деятельности
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Направлено СРО, членом которой&nbsp;&nbsp;является аудиторская организация, обязательное для исполнения&nbsp;&nbsp;предписание о приостановлении членства аудиторской организации в&nbsp;&nbsp;СРО
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 48-14-25/24-10870 19.10.2018
        .text-muted.small Орган, принявший решение
        p
          | Уполномоченный федеральный орган
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | 27.04.2019
        .text-muted.small Дата, с которой восстановлено членство
        p
          | 27.04.2019
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Нарушение кодекса профессиональной этики аудиторов
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Направлено СРО, членом которой&nbsp;&nbsp;является аудиторская организация, обязательное для исполнения&nbsp;&nbsp;предписание о приостановлении членства аудиторской организации в&nbsp;&nbsp;СРО
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 48-14-25/24-10870 19.10.2018
        .text-muted.small Орган, принявший решение
        p
          | Уполномоченный федеральный орган
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | 27.04.2019
        .text-muted.small Дата, с которой восстановлено членство
        p
          | 27.04.2019
        .text-muted.small Дата погашения меры
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p
          | Иные нарушения
        .text-muted.small Меры дисциплинарного воздействия
        p
          | Вынесены иные установленные внутренними документами&nbsp;&nbsp;саморегулируемой организации аудиторов меры
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p
          | 44 19.09.2014
        .text-muted.small Орган, принявший решение
        p
          | Специализированный орган, осуществляющий рассмотрение дел о применении в отношении членов саморегулируемой организации аудиторов мер дисциплинарного воздействия
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p
          | Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p
          | Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p
          | Нет данных
        .text-muted.small Дата погашения меры
        p
          | Нет данных
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения о прохождении внешнего контроля качества работы
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Год прохождения проверки качества
        p
          | 2021
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Орган, проводивший проверку
        p
          | Саморегулируемая организация аудиторов Ассоциация «Содружество»
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Год прохождения проверки качества
        p
          | 2019
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Орган, проводивший проверку
        p
          | Саморегулируемая организация аудиторов Ассоциация «Содружество»
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Год прохождения проверки качества
        p
          | 2018
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Орган, проводивший проверку
        p
          | Федеральное казначейство
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Год прохождения проверки качества
        p
          | 2015
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Орган, проводивший проверку
        p
          | Саморегулируемая организация аудиторов Ассоциация «Содружество»
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения о членстве в других СРО аудиторов
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Наименование СРО
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ члена
        p
          | Нет данных
        //
          <div class="text-muted small">ОРНЗ</div>
          <p>
          Нет данных
          </p>
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Период
        p
          | Нет данных
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения о регистрации в других государствах
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Наименование регистрирующего органа
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Регистрационный номер
        p
          | Нет данных
        //
          <div class="text-muted small">ОРНЗ</div>
          <p>
          Нет данных
          </p>
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения об учредителях
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Учредитель
        p
          | Учредитель
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ФИО
        p
          | Жихарева Анна Семеновна
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          | Нет данных
    hr.hr--sl.hr--line
    .row
      .col-12.col-lg-4
        .text-muted.small Учредитель
        p
          | Учредитель
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ФИО
        p
          | Калимуллин Линар Равилевич
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          a(href='/person/2292/') 21006014051
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Подразделения
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Форма
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Адрес
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Органы управления
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Орган управления
        p
          | Единоличный
        .text-muted.small Должность/Наименование
        p
          | Директор
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Фамилия
        p
          | Калимуллин
        .text-muted.small Имя
        p
          | Линар
        .text-muted.small Отчество
        p
          | Равилевич
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          a(href='/person/2292/') 21006014051
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Участие в МСАО
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Код МСАО
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Наименование МСАО
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Адрес (местонахождение) всех членов этой сети
        p
          | Нет данных
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения о правопреемстве
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Наименование организации
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p
          | Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Дата регистрации
        p
          | Нет данных
.b-collapse-block
  div(class='b-collapse-block__head')
    a(href='') Сведения об оказании услуг по проведению аудита бухгалтерской (финансовой) отчетности организаций, указанных в части 3 статьи 5 Федерального закона от 30 декабря 2008 г. N 307-ФЗ «Об аудиторской деятельности»
    span
  div(class='b-collapse-block__body')
    .row
      .col-12.col-lg-4
        .text-muted.small Дата заключения первого в календарном году договора на проведение такого аудита
        p
          | Нет данных

.b-collapse-block
  .b-collapse-block__head
    a( href="" ) Основные сведения
    span
  .b-collapse-block__body

    .row
      .col-12.col-lg-4
        .text-muted.small Номер аттестата
        p К000223
        .text-muted.small ФИО на иностранном языке
        p Нет данных
        .text-muted.small Дата рождения
        p 19.03.1953

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .text-muted.small Место рождения
        p Москва
        .text-muted.small Субъект РФ
        p Москва
        .text-muted.small ИНН
        p Москва
        .text-muted.small ОГРНИП
        p Нет
        .text-muted.small Адрес официального сайта
        p Нет

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p 29906002124
        .text-muted.small Дата и номер решения о приеме в члены СРО
        p 12.10.2009 № 4
        .text-muted.small Дата вступления в силу решения о приеме в члены СРО
        p 12.10.2009
        .text-muted.small Дата внесения записи в реестр
        p 30.12.2009

.b-collapse-block.open.slide
  .b-collapse-block__head
    a( href="" ) Сертификаты о повышении квалификации
    span
  .b-collapse-block__body

    table.table-responsive
      thead
          tr
              th Номер сертификата
              th Дата сертификата
              th Часы
              th ОГРН УМЦ
              th Статус сертификата
      tbody
          tr
              td 92834784987234-H
              td 13.01.1982
              td 48
              td 8273648742876234
              td Подтвержден
          tr
              td 92834784987234-H
              td 13.01.1982
              td 48
              td 8273648742876234
              td Подтвержден
          tr
              td 92834784987234-H
              td 13.01.1982
              td 48
              td 8273648742876234
              td Подтвержден

.b-collapse-block
  .b-collapse-block__head
    a( href="" ) Сведения о применении мер дисциплинарного воздействия
    span
  .b-collapse-block__body

    .row
      .col-12.col-lg-4
        .text-muted.small Номер аттестата
        p К000223

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .text-muted.small Место рождения
        p Москва
        .text-muted.small Субъект РФ
        p Москва
        .text-muted.small ИНН

      hr.d-block.d-lg-none.w-100
      
      .col-12.col-lg-4
        .text-muted.small ОРНЗ
        p 29906002124
        .text-muted.small Дата и номер решения о приеме в члены СРО
        p 12.10.2009 № 4

.b-collapse-block
  .b-collapse-block__head
    a( href="" ) Сведения о регистрации в других государствах
    span
  .b-collapse-block__body

    .row
      .col-12.col-lg-4
        .text-muted.small Дата рождения
        p 19.03.1953

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .text-muted.small ОГРНИП
        p Нет
        .text-muted.small Адрес официального сайта
        p Нет

      hr.d-block.d-lg-none.w-100
      
      .col-12.col-lg-4
        .text-muted.small Дата вступления в силу решения о приеме в члены СРО
        p 12.10.2009
        .text-muted.small Дата внесения записи в реестр
        p 30.12.2009
