
.b-collapse-block.open.slide
  .b-collapse-block__head
    a(href='') Основные сведения
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small ФИО
        p( itemprop="name" ) Селезнева Оксана Александровна
        .text-muted.small ОРНЗ
        p 21706025376
        .text-muted.small Дата рождения
        p( itemprop="birthDate" ) Скрытая информация
        .text-muted.small Место рождения
        p( itemprop="birthPlace" ) Скрытая информация
        .text-muted.small Адрес официального сайта
        p
          a( href="http://www.site.ru" itemprop="url" ) http://www.site.ru

      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ФИО на иностранном языке
        p Нет данных
        .text-muted.small Субъект РФ
        p Республика Башкортостан
        .text-muted.small Номер аттестата
        p 043987
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Дата и номер решения о приеме в члены СРО
        p 23.01.2017 № 285
        .text-muted.small Дата вступления в силу решения о приеме в члены СРО
        p 23.01.2017
        .text-muted.small Дата внесения записи в реестр
        p 26.01.2017

.b-collapse-block
  .b-collapse-block__head
    a(href='') Аттестаты
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Номер аттестата
        p 043987
        .text-muted.small Вид аудита
        p Общий аудит
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения о выдаче аттестата
        p № 105 от 25.04.2002
        .text-muted.small Орган, выдавший аттестат
        p Центральная аттестационно-лицензионная аудиторская комиссия Минфина России
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата приказа об аннулировании аттестата
        p Нет данных
        .text-muted.small Основания аннулирования аттестата
        p Нет данных
        .text-muted.small Орган, аннулировавший аттестат
        p Нет данных

.b-collapse-block
  .b-collapse-block__head
    a(href='') Сведения о применении мер дисциплинарного воздействия
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Вид нарушения
        p Нет данных
        .text-muted.small Меры дисциплинарного воздействия
        p Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Номер и дата принятия решения
        p Нет данных
        .text-muted.small Орган, принявший решение
        p Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Срок приостановления членства (дни)
        p Нет данных
        .text-muted.small Дата принятия решения о восстановлении членства
        p Нет данных
        .text-muted.small Дата, с которой восстановлено членство
        p Нет данных
        .text-muted.small Дата погашения меры
        p Нет данных

.b-collapse-block
  .b-collapse-block__head
    a(href='') Сведения о прохождении внешнего контроля деятельности
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Год прохождения проверки качества
        p 2021
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Орган, проводивший проверку
        p Саморегулируемая организация аудиторов Ассоциация «Содружество»
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4

.b-collapse-block
  .b-collapse-block__head
    a(href='') Сертификаты о повышении квалификации
    span
  .b-collapse-block__body
    table.table-responsive
      thead
        tr
          th Номер сертификата
          th Дата сертификата
          th Часы
          th ОГРН УМЦ
          th Статус сертификата
      tbody
        tr
          td 06-17-022-000238
          td 06.12.2017
          td 40
          td 1088600000169
          td Подтвержден
        tr
          td 06-18-022-000311
          td 12.12.2018
          td 40
          td 1088600000169
          td Подтвержден
        tr
          td 06-19-022-000438
          td 06.12.2019
          td 40
          td 1088600000169
          td Подтвержден
        tr
          td 06-20-022-000468
          td 07.12.2020
          td 40
          td 1088600000169
          td Подтвержден
        tr
          td 06-21-019-000775
          td 02.11.2021
          td 40
          td 1227700758834
          td Подтвержден
        tr
          td 06-22-019-000840
          td 01.11.2022
          td 40
          td 1227700758834
          td Подтвержден

.b-collapse-block
  .b-collapse-block__head
    a(href='') Подтверждение повышения квалификации
    span
  .b-collapse-block__body
    table.table-responsive
      thead
        tr
          th Номер приказа
          th Дата приказа
          th Период подтверждения
      tbody
        tr
          td 116-П
          td 29.09.2017
          td 2015
        tr
          td 116-П
          td 29.09.2017
          td 2016
        tr
          td 19-П
          td 31.01.2018
          td 2017
        tr
          td 14-П
          td 31.01.2019
          td 2018
        tr
          td 122-П
          td 31.12.2019
          td 2019
        tr
          td 26-П
          td 26.02.2021
          td 2020
        tr
          td 202-П
          td 30.11.2021
          td 2021
        tr
          td 194-П
          td 30.11.2022
          td 2022

.b-collapse-block
  .b-collapse-block__head
    a(href='') Сведения о регистрации в других государствах
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Регистрационный номер
        p Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Наименование регистрирующего органа
        p Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4

.b-collapse-block
  .b-collapse-block__head
    a(href='') Сведения о членстве в других СРО аудиторов
    span
  .b-collapse-block__body
    .row
      .col-12.col-lg-4
        .text-muted.small Наименование СРО
        p СРО АПР
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small ОРНЗ члена
        p 20201016701
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Период
        p 21.12.2009 - 09.01.2017

.b-collapse-block
  .b-collapse-block__head
    a(href='') Место работы
    span
  .b-collapse-block__body
    .row( itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" )
      .col-12.col-lg-4
        .text-muted.small Организация
        p( itemprop="name" ) Нет данных
        .text-muted.small ОРНЗ организации
        p Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
        .text-muted.small Рабочий адрес
        p( itemprop="Location") Нет данных
      hr.d-block.d-lg-none.w-100
      .col-12.col-lg-4
