@import '../../styl/component-include.styl'

.b-profile

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-profile
  
  &__photo
    background-color $line-color
    border-radius 10px
    height 200px
    position relative
    margin-bottom 110px

    i
      position absolute
      top 30px
      left 50%
      font-style  normal
      margin-left -119px
      border-radius 51%
      background-bg()
      width 236px
      height 236px
      z-index 1

      span
        position absolute
        top 148px
        left calc(50% - 170px / 2)
        right 0
        height 48px
        line-height 48px
        border-radius 24px
        text-align center
        color #fff
        font-size $16px
        width 170px
        z-index 2

      
  .b-collapse-block__head,
  .text-muted.small,
  .text-muted.small + p
    font-family $roboto
    
  .b-collapse-block__body
    padding-bottom 20px