// start /components/profile/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'profile'
else
  - var componentsArray = [ 'profile' ]
  
.b-profile.ph-block

  .ph

    .ph__photo
      div
    .ph__text
      div
      div
      div

  .ph-content

    .b-profile__photo
      i( style="background-image: url( '/upload/portrait.jpg' );" title="Иванов Петр Валерьевич" )
        span(style="background-color: #f00;") Исключен

    .b-profile__text

      .row
        .col-sm-8.offset-sm-2
            h3 Профайл
            p Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.

      hr.hr--line.hr--xs

      .b-collapse-block
        .b-collapse-block__head
          a( href="" ) Основные сведения
          span
        .b-collapse-block__body

          .row
            .col-12.col-lg-4
              .text-muted.small Номер аттестата
              p К000223
              .text-muted.small ФИО на иностранном языке
              p Нет данных
              .text-muted.small Дата рождения
              p 19.03.1953

            hr.d-block.d-lg-none.w-100

            .col-12.col-lg-4
              .text-muted.small Место рождения
              p Москва
              .text-muted.small Субъект РФ
              p Москва
              .text-muted.small ИНН
              p Москва
              .text-muted.small ОГРНИП
              p Нет
              .text-muted.small Адрес официального сайта
              p Нет

            hr.d-block.d-lg-none.w-100

            .col-12.col-lg-4
              .text-muted.small ОРНЗ
              p 29906002124
              .text-muted.small Дата и номер решения о приеме в члены СРО
              p 12.10.2009 № 4
              .text-muted.small Дата вступления в силу решения о приеме в члены СРО
              p 12.10.2009
              .text-muted.small Дата внесения записи в реестр
              p 30.12.2009

      .b-collapse-block.open.slide
        .b-collapse-block__head
          a( href="" ) Сертификаты о повышении квалификации
          span
        .b-collapse-block__body

          table.table-responsive
            thead
                tr
                    th Номер сертификата
                    th Дата сертификата
                    th Часы
                    th ОГРН УМЦ
                    th Статус сертификата
            tbody
                tr
                    td 92834784987234-H
                    td 13.01.1982
                    td 48
                    td 8273648742876234
                    td Подтвержден
                tr
                    td 92834784987234-H
                    td 13.01.1982
                    td 48
                    td 8273648742876234
                    td Подтвержден
                tr
                    td 92834784987234-H
                    td 13.01.1982
                    td 48
                    td 8273648742876234
                    td Подтвержден

      .b-collapse-block
        .b-collapse-block__head
          a( href="" ) Сведения о применении мер дисциплинарного воздействия
          span
        .b-collapse-block__body

          .row
            .col-12.col-lg-4
              .text-muted.small Номер аттестата
              p К000223

            hr.d-block.d-lg-none.w-100

            .col-12.col-lg-4
              .text-muted.small Место рождения
              p Москва
              .text-muted.small Субъект РФ
              p Москва
              .text-muted.small ИНН

            hr.d-block.d-lg-none.w-100
            
            .col-12.col-lg-4
              .text-muted.small ОРНЗ
              p 29906002124
              .text-muted.small Дата и номер решения о приеме в члены СРО
              p 12.10.2009 № 4

      .b-collapse-block
        .b-collapse-block__head
          a( href="" ) Сведения о регистрации в других государствах
          span
        .b-collapse-block__body

          .row
            .col-12.col-lg-4
              .text-muted.small Дата рождения
              p 19.03.1953

            hr.d-block.d-lg-none.w-100

            .col-12.col-lg-4
              .text-muted.small ОГРНИП
              p Нет
              .text-muted.small Адрес официального сайта
              p Нет

            hr.d-block.d-lg-none.w-100
            
            .col-12.col-lg-4
              .text-muted.small Дата вступления в силу решения о приеме в члены СРО
              p 12.10.2009
              .text-muted.small Дата внесения записи в реестр
              p 30.12.2009

// end /components/profile/