meta( charset="utf-8" )
meta( name="keywords", content="")
meta( name="description", content="")
meta( name="viewport" content="width=device-width, initial-scale=1" )

//pwa meta tags
meta( name="theme-color" content="#074c86")
meta( name="apple-mobile-web-app-status-bar" content="#074c86")

link( rel="icon" type="image/png" href="/components/pwa/images/android-icon-144x144.png")
link( rel="apple-touch-icon" href="/components/pwa/images/apple-icon-180x180.png")
link( rel="manifest" href="/pwa/poll/manifest.json")