.b-content-gallery

  .swiper-container
    .swiper-wrapper
      .swiper-slide
        img( src="/upload/gallery/1.jpg" alt="" )
      .swiper-slide
        img( src="/upload/gallery/2.jpg" alt="" )
      .swiper-slide
        img( src="/upload/gallery/3.jpg" alt="" )
    .swiper-pagination
    
  .swiper-button-prev
  .swiper-button-next