.b-articles-block

  h2 Статьи по теме

  a( href="" ) Год несбывшихся надежд. Что происходило на российском рынке аудита в последние 12 месяцев

  hr.hr--line

  a( href="" ) Предпосылки и перспективы изменений в квалификационной аттестации аудиторов в Российской Федерации

  hr.hr--line

  a( href="" ) Планы на чужую перспективу
    