// start /components/poll/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'poll'
else
  - var componentsArray = [ 'poll' ]
  
.b-poll.ph-block

  .ph

    .ph__text
      div
      div
      div
      div
      div
      div

  .ph-content

    .b-poll-ill( style="background-image: url('/upload/events/2.jpeg');")

    hr

    h3 Текст подробного описания

    p Ольга Александровна представила презентацию и доложила об основных результатах работы Дирекции СРО ААС за отчетный период: о деятельности по организации и обеспечению исполнения СРО ААС функций саморегулируемой организации аудиторов, в том числе о ведении реестра аудиторов и аудиторских организаций и вопросах членства в СРО ААС, об организации внешнего контроля качества и обучения по программам повышения квалификации аудиторов; об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС; о работе подразделений внутреннего контроля; об организации работы с обращениями, запросами членов СРО ААС и заинтересованных лиц, с жалобами на членов СРО ААС; о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС. В докладе Генеральный директор представила информацию о проделанной в отчётном периоде работе, связанной с обеспечением необходимых мер по созданию единой саморегулируемой организации аудиторов.

    hr

    h3 Раздел с вопросами

    p Описание раздела может быть очень коротким, а может иметь инструкцию.

    hr

    .b-poll__questions
      
      .b-poll__questions__item

        h3 Вопрос номер один

        p Текст анонса и пояснения для вопроса номер 1.

        .b-poll__questions__note Выбрано 2 из допустимых 2

        .b-poll__questions__set

          label.b-poll__form-control.i-active

            .b-poll__form-control__img( style="background-image: url('/upload/events/1.jpeg');")

            .b-poll__form-control__text
              b Вариант ответ номер один с пояснением
              span Очень короткое пояснение вопроса.

            .b-poll__checkbox
              input( type="checkbox" class="filled-in" checked )
              span

          label.b-poll__form-control.i-active

            .b-poll__form-control__img( style="background-image: url('/upload/events/2.jpeg');")

            .b-poll__form-control__text
              b Вариант ответ номер один с пояснением
              span Очень короткое пояснение вопроса. Или очень длинное. Очень короткое пояснение вопроса. Или очень длинное. Очень короткое пояснение вопроса. Или очень длинное. Очень короткое пояснение вопроса. Или очень длинное.

            .b-poll__radio
              input( type="radio" name="r1" class="with-gap" checked )
              span

          label.b-poll__form-control.i-active

            .b-poll__form-control__img( style="background-image: url('/upload/events/2.jpeg');")

            .b-poll__form-control__text
              b Вариант ответ номер один с пояснением
              span Очень короткое пояснение вопроса. Или очень длинное. Очень короткое пояснение вопроса. Или очень длинное. Очень короткое пояснение вопроса. Или очень длинное. Очень короткое пояснение вопроса. Или очень длинное.

            .b-poll__radio
              input( type="radio" name="r1" class="with-gap" checked )
              span




// end /components/poll/