// start /components/news.tabs/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'news.tabs'
else
  - var componentsArray = [ 'news.tabs' ]

link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )
  
.b-news-tabs

  .b-news-tabs__tabs

    .swiper-container
      .swiper-wrapper
        a.swiper-slide.active( href="" ) Все новости
        a.swiper-slide( href="" ) Новости СРО ААС
        a.swiper-slide( href="" ) Официальные новости
        a.swiper-slide( href="" ) Региональные
    .b-news-tabs__decor

  hr
  
  .b-news-tabs__block

    .swiper-container
      .swiper-wrapper

        .swiper-slide
          
          .row

            .col-12.col-sm-4
              p
                a( href="" ) Учётная политика, изменения в бухгалтерских оценках, ошибки (IAS8). Другие виды оценок и обесценение активов (IAS2, IAS36, IFRS 4,IFRS13)
              .small.text-muted 10 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) Учётная политика, изменения в бухгалтерских оценках, ошибки (IAS8). Другие виды оценок и обесценение активов (IAS2, IAS36, IFRS 4,IFRS13)
              .small.text-muted 10 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) Учётная политика, изменения в бухгалтерских оценках, ошибки (IAS8). Другие виды оценок и обесценение активов (IAS2, IAS36, IFRS 4,IFRS13)
              .small.text-muted 10 сентября 2020

        .swiper-slide
          
          .row

            .col-12.col-sm-4
              p
                a( href="" ) 48-я Международная yаучно-практическая онлайн конференция «Татуровско-Шереметовские чтения»
              .small.text-muted 8 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) 48-я Международная yаучно-практическая онлайн конференция «Татуровско-Шереметовские чтения»
              .small.text-muted 8 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) 48-я Международная yаучно-практическая онлайн конференция «Татуровско-Шереметовские чтения»
              .small.text-muted 8 сентября 2020

        .swiper-slide
          
          .row

            .col-12.col-sm-4
              p
                a( href="" ) Заседания Совета Приволжского Территориального отделения Саморегулируемой организации аудиторов Ассоциации «Содружество»
              .small.text-muted 4 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) Заседания Совета Приволжского Территориального отделения Саморегулируемой организации аудиторов Ассоциации «Содружество»
              .small.text-muted 4 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) Заседания Совета Приволжского Территориального отделения Саморегулируемой организации аудиторов Ассоциации «Содружество»
              .small.text-muted 4 сентября 2020

        .swiper-slide
          
          .row

            .col-12.col-sm-4
              p
                a( href="" ) Учётная политика, изменения в бухгалтерских оценках, ошибки (IAS8). Другие виды оценок и обесценение активов (IAS2, IAS36, IFRS 4,IFRS13)
              .small.text-muted 10 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) 48-я Международная yаучно-практическая онлайн конференция «Татуровско-Шереметовские чтения»
              .small.text-muted 8 сентября 2020

            hr.d-block.d-sm-none.w-100

            .col-12.col-sm-4
              p
                a( href="" ) Заседания Совета Приволжского Территориального отделения Саморегулируемой организации аудиторов Ассоциации «Содружество»
              .small.text-muted 4 сентября 2020

// end /components/news.tabs/