#preappealModal.modal--text.modal.fade(tabindex="-1" aria-labelledby="preappealModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      button.close(type="button" data-dismiss="modal" aria-label="Close" style="background-image: url( '/template/images/cancel.svg' );")
      .modal-body

        .modal-frame.modal-frame--1
          h3.text-center Условия подачи жалобы
          hr
          p.text-center Если вы <b>являетесь</b> действующим членом СРО ААС (аудитором), вам необходимо авторизоваться на сайте и подать жалобу используя личный кабинет.
          p.text-center Если вы не <b>являетесь</b> членом СРО ААС, введите ваш Email и получите на него инструкцию.
          hr.hr--sl
          .text-center.modal-buttons
            a.btn.btn-secondary.btn-lg( href="/pages/profile/" ) Я аудитор
            a.btn.btn-primary.btn-lg( data-dismiss="modal" ) Отправить инструкцию