.modal

  &-frame
    display none
    transition( opacity .5s ease-out )
    opacity 0

    &.modal-frame--active
      display block
      opacity 1

  &--text
  
    .modal-body
      width 100%
      max-width 565px
      margin 0 auto
      padding-top 70px
      padding-bottom 70px

  &--alert
    
    .modal-dialog
      box-shadow 0 5px 10px #FF000026

  &-buttons

    .btn
      margin 0 8px

  &-dialog
    box-shadow 0 5px 10px #0000000d

    @media (min-width: 576px)
      max-width 800px

  &-backdrop
    background #fff

    &.show
      opacity .7

  &-content
    border-radius 7px
    border 0

  .close
    position absolute
    top 22px
    right 22px
    padding 0
    background-repeat no-repeat
    background-position center
    background-size 16px
    width 32px
    height 32px
    opacity 1
    z-index 1

  h3:first-child
    margin-top 0