// start /components/appeal.inbox/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'appeal.inbox'
else
  - var componentsArray = [ 'appeal.inbox' ]

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex" )

script( src="https://unpkg.com/vue-select@latest")
link( rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css")

script( src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.js")
link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.css")

script( src="/components/appeal.inbox/store.js" )
  
.b-appeal-inbox.ph-block

  .ph
    div
    div
    div

  .ph-content

    h3 Заявки на изменения в реестре

    include ../../modules/num-blocks/appeal-inbox

    #moderation.b-registry-report
      moderation-filter( @rendertable="renderTable" @seturl="seturl" ref="filter")
      hr
      moderation-table( @rendertable="renderTable" @seturl="seturl" )

// end /components/appeal.inbox/