extends ../../layouts/main

block vars
  - var page = 'pages-news'
  - var authorized = 'true'

block title
  title News | AAS

block content

  .container-fluid
  
    h1 Пресс-центр
  
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/news
          
      article.col-12.col-md-8
        
        include ../../components/news/template
  
    