#titleSearchHeaderResult.title-search-result(style="display: block; position: absolute; top: 2px; left: -1126px; width: 1170px;")
  .container-lg
    .title-search-result__wrapper(style="overflow: hidden; outline: none;" tabindex="2")
      .title-search-result__block(style="width: 1125px;")
        .title-search-result__title Рецепты
        a.title-search-result__item(href="/detail/yablochnyy-pirog-maman-blank/")
          span.title-search-result__img(style="background-image: url( '/upload/resize_cache/iblock/375/75_75_1/322-11.jpg' );")
          span.title-search-result__text
            span.title-search-result__header
              | Яблочный 
              b пирог
              |  маман Бланк
            span.title-search-result__info
              | 1 ч.  ,									6 порции,
              | 2528 кКал
