// start /components/search.title/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'search.title'
else
  - var componentsArray = [ 'search.title' ]
  
.title-search-result( style="position: absolute; top: 231px; left: 9px; width: 384px;" )
  .container-fluid
    .title-search-wrapper
      #row_1
        .title-search-item
          a(href="/pc/podpiska_na_rassylku/index.php")
            img(src="/local/templates/aas/components/bitrix/search.title/search_header/images/default.png")
            span
              b По
              | дписка на рассылку
      #row_2
        .title-search-item
          a(href="/help_aas/sad/index.php")
            img(src="/local/templates/aas/components/bitrix/search.title/search_header/images/default.png")
            span
              | Совет 
              b по
              |  аудиторской деятельности
      #row_3
        .title-search-item
          a(href="/activity/confirmation_training/index.php")
            img(src="/local/templates/aas/components/bitrix/search.title/search_header/images/default.png")
            span
              b По
              | дтверждение 
              b по
              | вышения квалификации
      #row_4
        .title-search-item
          a(href="/activity/povyshenie_kvalifikacii/index.php")
            img(src="/local/templates/aas/components/bitrix/search.title/search_header/images/default.png")
            span
              b … документ подготовила Иванова Юлия Сергеевна…
      #row_5
        .title-search-item
          a(href="/rules/changereestr/index.php")
            img(src="/local/templates/aas/components/bitrix/search.title/search_header/images/default.png")
            span
              b По
              | рядок внесения изменений в реестр  
      #row_8
        .title-search-all
          a(href="/search/index.php?q=%D0%BF%D0%BE") Все результаты поиска 

// end /components/search.title/