@import '../../styl/component-include.styl'

.title-search

  &-result
    font-size $14px
    line-height 17px
    width 100% !important
    left 0 !important

  &-wrapper
    background-color #fff
    border-radius 0 0 5px 5px
    box-shadow 3px 3px 5px #0000000d
    border 1px solid $line-color
    padding-top 10px

    img
      width 64px
      height 64px
      border-radius 51%
      margin-right 30px

    a
      display flex
      justify-content flex-start
      align-items center

  &-item
    padding 10px 20px

  &-all
    margin-top 10px
    padding 30px 20px
    border-top 1px solid $line-color
      