// start /components/report-form-ozo/

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex" )

script( src="https://unpkg.com/vue-select@latest" )
link( rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css" )

script( src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.js" )
link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.css" )

script( src="https://cdn.jsdelivr.net/npm/vue-scrollto" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js" )

script( src="/components/report-form-ozo/store.js" )

script
  | window.reportFormOZOPaths = {
  |   addCompany: '/components/report-form-ozo/addCompany.json',
  |   removeCompany: '/components/report-form-ozo/removeCompany.json',
  |   autosave: '/components/report-form-ozo/removeCompany.json',
  | };

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'report-form-ozo'
else
  - var componentsArray = [ 'report-form-ozo' ]

.b-report-form-ozo.ph-block

  .ph

    .ph__text
      div
      div
      div
      div
      div
      div

  .ph-content

    form(action="" method="GET")

      .b-report-form-ozo__hidden 
        input(type="hidden", name="SOME" value="") 

      #reportFormOZO

// end /components/report-form-ozo/