.b-collapse-block
  .b-collapse-block__head
    a( href="" ) Протоколы, повестки
    span
  .b-collapse-block__body
    include protocol
    
.b-collapse-block
  .b-collapse-block__head
    a( href="" ) Протоколы, повестки
    span
  .b-collapse-block__body
    include protocol

.b-collapse-block
  .b-collapse-block__head
    a( href="" ) Протоколы, повестки
    span
  .b-collapse-block__body
    include protocol