.b-protocol-block

  h3 Повестка дня Комитета по ОЗО

  .b-protocol-doc
    
    a.b-protocol-doc__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
    
    span.b-protocol-doc__text
    
      a( href="/pages/news/" ) Протокол №1 от 25.05.2020

      span.b-protocol-doc__data
        span.text-muted 654 Кб .doc
        span.text-muted Дата документа: 13 января 2020
        span.text-muted Дата публикации: 15 января 2020

  hr.hr--md

  .b-protocol-doc
    
    a.b-protocol-doc__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
    
    span.b-protocol-doc__text
    
      a( href="/pages/news/" ) Протокол №1 от 25.05.2020

      span.b-protocol-doc__data
        span.text-muted 654 Кб .doc
        span.text-muted Дата документа: 13 января 2020
        span.text-muted Дата публикации: 15 января 2020

  h3 Протоколы заседаний

  .b-protocol-doc
    
    a.b-protocol-doc__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
    
    span.b-protocol-doc__text
    
      a( href="/pages/news/" ) Протокол №1 от 25.05.2020

      span.b-protocol-doc__data
        span.text-muted 654 Кб .doc
        span.text-muted Дата документа: 13 января 2020
        span.text-muted Дата публикации: 15 января 2020

  hr.hr--md

  .b-protocol-doc
    
    a.b-protocol-doc__icon( href="/pages/news/" style="background-image: url( '/template/images/doc.svg' );" )
    
    span.b-protocol-doc__text
    
      a( href="/pages/news/" ) Протокол №1 от 25.05.2020

      span.b-protocol-doc__data
        span.text-muted 654 Кб .doc
        span.text-muted Дата документа: 13 января 2020
        span.text-muted Дата публикации: 15 января 2020
  