doctype html
html
  head
    title Выписка 3
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/excerpt/style.css" rel="stylesheet" )

    table.header
      col( width="175" )
      col( width="425" )
      col( width="200" )
      tr
        td.aas-logo
          img( src="/template/images/logo-aas.svg" alt="СРО ААС" width="120" )
        td.text
          .header-companyname Саморегулируемая организация аудиторов<br>Ассоциация «Содружество»
          .header-membership Член Международной Федерации Бухгалтеров (IFAC)

        td.header-contacts
          p +7 (495) 734-22-22
          p 119192, г. Москва Мичуринский проспект, дом 21, корпус 4
          p auditor-sro.org
          p ОГРН 1097799010870 ИНН 7729440813 КПП 772901001

    table.h1
      tr
        td
          .h1-title ВЫПИСКА
          p из реестра аудиторов и аудиторских организаций<br>Саморегулируемой организации аудиторов<br>Некоммерческого партнерства<br>«Аудиторская Ассоциация Содружество»

    table.date-number
      tr
        td.date «13» апреля 2016 г.
        td.number № 4819

    table.text
      tr
        td.text( style="padding-bottom: 15px;") Настоящая выписка содержит сведения об аудиторской организации
      tr
        td( align="center" )
          b
            u Общество с ограниченной ответственностью "Профитек"<br>ОГРН 1025500978062, ОРНЗ 11206030735,

    table.certificate
      tr
        td включенной в Реестр аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Некоммерческого партнерства «Аудиторская Ассоциация Содружество» (НП ААС)<br>Дата и номер решения о приеме в члены НП ААС: <b>04.09.2012 г., № 71</b><br>Дата вступления в силу решения о приеме в члены НП ААС: <b>04.09.2012 г.</b><br>Дата <b>приостановления членства</b> в НП ААС с <b>12.04.2016 г.</b>

    .table-data 

      table 
        col( width="40" )
        col( width="300" )
        col( width="460" )
        tbody
          tr 
            td( colspan="3" ) Сведения об аудиторской организации:
          tr.border 
            td( align="center" ) 1
            td Наименование аудиторской организации
            td Общество с ограниченной ответственностью "Профитек"
          tr.border 
            td( align="center" ) 2
            td Сокращенное наименование аудиторской организации
            td ООО "Профитек"
          tr.border 
            td( align="center" ) 3
            td Организационно-правовая форма
            td Общество с ограниченной ответственностью
          tr.border 
            td( align="center" ) 4
            td Адрес (место нахождения)
            td 644010, г. Омск, ул. Учебная, д. 83, корп. 1
          tr.border 
            td( align="center" ) 5
            td Телефон
            td (3812)40-90-92, (3812)40-90-93, (3812)40-90-94, (913)612-13-60
          tr.border 
            td( align="center" ) 6
            td Адрес электронной почты
            td profitek@mail.ru
          tr.border 
            td( align="center" ) 7
            td Адрес официального сайта
            td www.profitek55.ru

        tbody
          tr 
            td( colspan="3" ) Сведения об учредителях (участниках) аудиторской организации: 

          tr.border 
            td( align="center" colspan="3" )
              b 1
          tr.border 
            td( align="center" ) 1
            td ФИО/ название организации
            td Киселев Павел Алексеевич
          tr.border 
            td( align="center" ) 2
            td ОРНЗ
            td 20205026460 
            
          tr.border 
            td( align="center" colspan="3" )
              b 2
          tr.border 
            td( align="center" ) 1
            td ФИО/ название организации
            td Щербань Татьяна Владимировна
          tr.border 
            td( align="center" ) 2
            td ОРНЗ
            td нет

        tbody
          tr 
            td( colspan="3" ) Сведения о членах коллегиального и (или) единоличного исполнительного органа аудиторской организации: 

          tr.border 
            td( align="center" colspan="3" )
              b 1
          tr.border 
            td( align="center" ) 1
            td Орган управления
            td Единоличный
          tr.border 
            td( align="center" ) 2
            td Наименование
            td Директор 
          tr.border 
            td( align="center" ) 3
            td ФИО
            td Слесаренко Мария Ивановна
          tr.border 
            td( align="center" ) 4
            td ОРНЗ
            td 21203076194 
            
          tr.border 
            td( align="center" colspan="3" )
              b 2
          tr.border 
            td( align="center" ) 1
            td Орган управления
            td Коллегиальный
          tr.border 
            td( align="center" ) 2
            td Наименование
            td 
          tr.border 
            td( align="center" ) 3
            td ФИО
            td Слесаренко Мария Ивановна
          tr.border 
            td( align="center" ) 4
            td ОРНЗ
            td 21203076194

        tbody
          tr 
            td( colspan="3" ) Сведения о членстве в других СРО аудиторов:

          tr.border 
            td( align="center" colspan="3" )
              b 1
          tr.border 
            td( align="center" ) 1
            td Наименование СРО
            td СРО НП «Гильдия Аудиторов ИПБР»
          tr.border 
            td( align="center" ) 2
            td ОРНЗ
            td 10904032776 
          tr.border 
            td( align="center" ) 3
            td Дата начала периода
            td Нет данных
          tr.border 
            td( align="center" ) 4
            td Дата окончания периода
            td 26.06.2012 

        tbody
          tr 
            td( colspan="3" ) Сведения о прохождении внешнего контроля качества работы:

          tr.border 
            td( align="center" colspan="3" )
              b 1
          tr.border 
            td( align="center" ) 1
            td Дата проведения проверки качества работы
            td 02.04.2013
          tr.border 
            td( align="center" ) 2
            td Орган, проводивший проверку
            td Федеральная служба финансово-бюджетного надзора 
          tr.border 
            td( align="center" colspan="3" )
              b 2
          tr.border 
            td( align="center" ) 1
            td Дата проведения проверки качества работы
            td 02.04.2014
          tr.border 
            td( align="center" ) 2
            td Орган, проводивший проверку
            td НП ААС
          tr.border 
            td( align="center" colspan="3" )
              b 3
          tr.border 
            td( align="center" ) 1
            td Дата проведения проверки качества работы
            td 25.03.2016
          tr.border 
            td( align="center" ) 2
            td Орган, проводивший проверку
            td НП ААС

        tbody
          tr 
            td( colspan="3" ) Сведения о применении мер дисциплинарного воздействия:

          tr.border 
            td( align="center" colspan="3" )
              b 1
          tr.border 
            td( align="center" ) 1
            td Вид нарушения
            td Нарушение стандартов аудиторской деятельности
          tr.border 
            td( align="center" ) 2
            td Меры дисциплинарного воздействия
            td Вынесено предупреждение в письменной форме о недопустимости нарушения требований федеральных стандартов аудиторской деятельности
          tr.border 
            td( align="center" ) 3
            td Номер и дата принятия решения
            td 51-06/06-04/1499 от 02.04.2013
          tr.border 
            td( align="center" ) 4
            td Орган, принявший решения
            td Уполномоченный федеральный орган

          tr.border 
            td( align="center" colspan="3" )
              b 2
          tr.border 
            td( align="center" ) 1
            td Вид нарушения
            td Несоблюдение требования о членстве в саморегулируемой организации аудиторов
          tr.border 
            td( align="center" ) 2
            td Меры дисциплинарного воздействия
            td Вынесено решение о приостановлении членства аудиторской организации, аудитора в СРО аудиторов на срок до устранения ими выявленных нарушений, но не более 180 календ. дней со дня, следующего за днем принятия решения о приостановлении членства
          tr.border 
            td( align="center" ) 3
            td Номер и дата принятия решения
            td 215 от 12.04.2016
          tr.border 
            td 4
            td Орган, принявший решения
            td Постоянно действующий коллегиальный орган управления саморегулируемой организации аудиторов

        tbody
          tr 
            td( colspan="3" ) Сведения об аудиторах, являющихся работниками аудиторской организации на основании трудового договора:

          tr.border 
            td( align="center" colspan="3" )
              b 1
          tr.border 
            td( align="center" ) 1
            td ФИО
            td Алексеева Светлана Владимировна
          tr.border 
            td( align="center" ) 2
            td ОРНЗ
            td 21206053247

          tr.border 
            td( align="center" colspan="3" )
              b 2
          tr.border 
            td( align="center" ) 1
            td ФИО
            td Борисова Юлия Олеговна
          tr.border 
            td( align="center" ) 2
            td ОРНЗ
            td 21203076295

          tr.border 
            td( align="center" colspan="3" )
              b 3
          tr.border 
            td( align="center" ) 1
            td ФИО
            td Вахитов Халит Гатиятович
          tr.border 
            td( align="center" ) 2
            td ОРНЗ
            td 21001006776

    .issue-date Выписка сформирована по состоянию на 13 апреля 2016 года.

    table.signature
      tr
        td.occupation Руководитель отдела ведения реестра<br>аудиторов и аудиторских организаций НП ААС
        td.signature &nbsp;
        td.fio Лыбаш О.Н. 
      tr
        td &nbsp;
        td.note (подпись)
        td &nbsp;
