doctype html
html
  head
    title Выписка 1
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/excerpt/style.css" rel="stylesheet" )

    table.signature
      tr
        td
          img( src="/template/images/signature.svg" alt="" width="270" height="100" )

    table.header
      col( width="150" )
      col( width="500" )
      col( width="150" )
      tr
        td.aas-logo( rowspan="5" )
          img( src="/template/images/logo-aas-small.svg" alt="СРО ААС" width="140" )
        td.header-companyname Саморегулируемая организация аудиторов
        td.ifac-logo( rowspan="5" )
          img( src="/template/images/logo-ifac.svg" alt="СРО ААС" width="70" )
      tr
        td.header-companytitle Ассоциация «Содружество»
      tr
        td.header-membership член Международной Федерации Бухгалтеров (IFAC)
      tr
        td.header-inn (ОГРН 1097799010870 ИНН 7729440813 КПП 772901001)
      tr
        td.header-address 119192, г. Москва, Мичуринский проспект, дом 21, корпус 4.<br>т: +7 (495) 734-22-22, ф: +7 (495) 734-04-22, www.auditor-sro.org, info@auditor-sro.org

    table.h1
      tr
        td.h1-title ВЫПИСКА
      tr
        td.p из реестра аудиторов и аудиторских организаций<br>Саморегулируемой организации аудиторов<br>Ассоциации «Содружество»

    table.date-number
      tr
        td.date «09» февраля 2021 г.
        td.number № 2190-Ф/21

    table.text
      tr
        td.text Настоящая выписка из реестра аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации «Содружество» (СРО ААС)  выдана  в том, что аудитор
      tr
        td.fio
          b Коновалова Татьяна Стефановна,
      tr
        td.note фамилия, имя, отчество (если имеется) аудитора

    table.certificate
      tr
        td имеющий квалификационный(ые) аттестат(ы) аудитора:
      tr
        td № <b><u>009290</u></b> в области <b><u>общего аудита</u></b>, выданный на основании <b><u>протокола ЦАЛАК</u></b> от <b><u>28 декабря 1995 г.</u></b> № <b><u>27</u></b>
      tr
        td № <b><u>009290</u></b> в области <b><u>общего аудита</u></b>, выданный на основании <b><u>протокола ЦАЛАК</u></b> от <b><u>28 декабря 1995 г.</u></b> № <b><u>27</u></b>
      tr
        td № <b><u>009290</u></b> в области <b><u>общего аудита</u></b>, выданный на основании <b><u>протокола ЦАЛАК</u></b> от <b><u>28 декабря 1995 г.</u></b> № <b><u>27</u></b>

    table.ornz
      tr
        td является  членом СРО ААС  и включен в реестр аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации «Содружество» 09 февраля 2021 г. за основным регистрационным номером записи:

          table
            tr
              td 2
              td 2
              td 1
              td 0
              td 6
              td 0
              td 2
              td 1
              td 3
              td 5
              td 4
      tr
        td.note (основной регистрационный номер записи)

    table.membership
      tr
        td Сведения о членстве в СРО аудиторов и аудиторских организаций до вступления в члены СРО ААС:
      tr
        td Саморегулируемая организация аудиторов «Российский Союз аудиторов»  ОРНЗ  21703082804, период членства c 25.10.2017 г. по 26.06.2020 г.
      tr
        td Саморегулируемая организация аудиторов «Российский Союз аудиторов»  ОРНЗ  21703082804, период членства c 25.10.2017 г. по 26.06.2020 г.

    table.signature
      tr
        td.occupation Генеральный директор СРО ААС
        td.signature
          img( src="/template/images/signature-stamp.png" alt="" width="280" )
        td.fio Носова О.А.
