doctype html
html
  head
    title Выписка 1
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/excerpt/style.css" rel="stylesheet" )

    table.header
      col( width="175" )
      col( width="325" )
      col( width="300" )
      tr
        td.aas-logo
          img( src="/template/images/logo-aas.svg" alt="СРО ААС" width="120" )
        td.text
          .header-companyname Саморегулируемая организация аудиторов<br>Ассоциация «Содружество»
          .header-membership Член Международной Федерации Бухгалтеров (IFAC)
          p +7 (495) 734-22-22, 119192, г. Москва Мичуринский проспект, дом 21, корпус 4, auditor-sro.org, ОГРН 1097799010870 ИНН 7729440813 КПП 772901001

        td.header-contacts

    table.h1
      tr
        td
          .h1-title ВЫПИСКА
          p из реестра аудиторов и аудиторских организаций<br>Саморегулируемой организации аудиторов<br>Ассоциации «Содружество»

    table.date-number
      tr
        td.date «09» февраля 2021 г.
        td.number № 2190-Ф/21

    table.text
      tr
        td.text Настоящая выписка из реестра аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации «Содружество» (СРО ААС)  выдана  в том, что аудитор
      tr
        td.fio
          b Коновалова Татьяна Стефановна,
      tr
        td.note фамилия, имя, отчество (если имеется) аудитора

    table.certificate
      tr
        td имеющий квалификационный(ые) аттестат(ы) аудитора:
      tr
        td № <b><u>009290</u></b> в области <b><u>общего аудита</u></b>, выданный на основании <b><u>протокола ЦАЛАК</u></b> от <b><u>28 декабря 1995 г.</u></b> № <b><u>27</u></b>
      tr
        td № <b><u>009290</u></b> в области <b><u>общего аудита</u></b>, выданный на основании <b><u>протокола ЦАЛАК</u></b> от <b><u>28 декабря 1995 г.</u></b> № <b><u>27</u></b>
      tr
        td № <b><u>009290</u></b> в области <b><u>общего аудита</u></b>, выданный на основании <b><u>протокола ЦАЛАК</u></b> от <b><u>28 декабря 1995 г.</u></b> № <b><u>27</u></b>

    table.ornz
      tr
        td является  членом СРО ААС  и включен в реестр аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации «Содружество» 09 февраля 2021 г. за основным регистрационным номером записи:

          table
            tr
              td 2
              td 2
              td 1
              td 0
              td 6
              td 0
              td 2
              td 1
              td 3
              td 5
              td 4
      tr
        td.note (основной регистрационный номер записи)

    table.membership
      tr
        td Сведения о членстве в СРО аудиторов и аудиторских организаций до вступления в члены СРО ААС:
      tr
        td Саморегулируемая организация аудиторов «Российский Союз аудиторов»  ОРНЗ  21703082804, период членства c 25.10.2017 г. по 26.06.2020 г.
      tr
        td Саморегулируемая организация аудиторов «Российский Союз аудиторов»  ОРНЗ  21703082804, период членства c 25.10.2017 г. по 26.06.2020 г.

    table.signature
      tr
        td.occupation Генеральный директор СРО ААС
        td.signature &nbsp;
        td.fio Носова О.А. 
      tr
        td &nbsp;
        td.note (подпись)
        td &nbsp;
