@import '../../styl/component-include.styl'

.b-appeal-new

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

.b-appeal-new

  h3
    margin-top 0
    margin-bottom 40px

  &__wrapper
    display flex
    align-items stretch
    justify-content space-between

    @media(max-width 1023px)
      flex-wrap wrap

    @media(max-width 575px)
      display block

  &__item
    background-color #FAFAFA
    padding 25px 25px 88px
    border-radius 10px
    width calc((100% - 30px * 2) / 3)
    position relative

    @media(max-width 1023px)
      width calc((100% - 30px) / 2)
      margin-bottom 30px

    @media(max-width 575px)
      width auto

    .btn
      position absolute
      bottom 25px
      left 25px
      z-index 1

  &__title
    font-size $20px
    font-weight $bold
    font-family $roboto
    margin-bottom 13px

  &__text
    font-size $14px
    min-height 82px
    margin-bottom 27px

  &__note
    font-weight $bold
    font-family $roboto
    min-height 21px

