// start /components/appeal.new/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'appeal.new'
else
  - var componentsArray = [ 'appeal.new' ]
  
.b-appeal-new.ph-block

  .ph
    div
    div
    div

  .ph-content

    h3 Создать обращение

    .b-appeal-new__wrapper

      .b-appeal-new__item
        .b-appeal-new__title Внести изменение в реестр
        .b-appeal-new__text Создайте заявление на изменение в реестре и следить за его выполнением.
        .b-appeal-new__note 13 требует внимания
        a.btn.btn-secondary.btn-md( href="" disabled ) Личный кабинет
        

      .b-appeal-new__item
        .b-appeal-new__title Подать жалобу
        .b-appeal-new__text Вы можете создать жалобу для рассмотрения специалистами отдела по работе с жалобами. Вы можете создать жалобу для рассмотрения специалистами отдела по работе с жалобами.
        .b-appeal-new__note
        a.btn.btn-secondary.btn-md( href="" ) Создать обращение

      .b-appeal-new__item
        .b-appeal-new__title Предложить новость
        .b-appeal-new__text Вы можете опубликовать: новость, пресс-релиз, публикацию.
        .b-appeal-new__note 1 требует внимания
        a.btn.btn-secondary.btn-md( href="" ) Создать обращение

      .b-appeal-new__item
        .b-appeal-new__title Подать жалобу
        .b-appeal-new__text Вы можете создать жалобу для рассмотрения специалистами отдела по работе с жалобами. Вы можете создать жалобу для рассмотрения специалистами отдела по работе с жалобами.
        .b-appeal-new__note
        a.btn.btn-secondary.btn-md( href="" ) Создать обращение

      .b-appeal-new__item
        .b-appeal-new__title Предложить новость
        .b-appeal-new__text Вы можете опубликовать: новость, пресс-релиз, публикацию.
        .b-appeal-new__note 1 требует внимания
        a.btn.btn-secondary.btn-md( href="" ) Создать обращение

    hr.hr--xl

    .h1 Как работать с обращениями

    p Публикуем инструкцию по работе с обращениями.

// end /components/appeal.new/