extends ../../layouts/main

block vars
  - var page = 'pages-poll-list'
  - var authorized = 'true'

block title
  title Список голосований | Pages | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/profile

  hr

  .container-fluid
  
    h1 Голосование
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/profile
          
      article.col-12.col-md-8
        
        include ../../components/poll-list/template

        hr

        include ../../modules/pagination/include