aside.col-3
  flex 0 0 25%
  max-width 25%
  position relative
  width 100%
  padding-right 15px
  padding-left 15px
  
  &.d-none.d-md-block
  
    @media( max-width 767px )
      display none

article.col
  flex-basis 0
  -ms-flex-positive 1
  flex-grow 1
  max-width 100%
  position relative
  width 100%
  padding-right 15px
  padding-left 15px