aside.col-4
  -ms-flex 0 0 33.333333%
  flex 0 0 33.333333%
  max-width 33.333333%
  position relative
  width 100%
  padding-right 15px
  padding-left 15px
  
  &.d-none.d-md-block
  
    @media( max-width 767px )
      display none

article.col-12
  position relative
  width 100%
  padding-right 15px
  padding-left 15px
  
  @media (min-width: 768px)
    &.col-md-7
      -ms-flex 0 0 58.333333%
      flex 0 0 58.333333%
      max-width 58.333333%
