body
  margin 0
  overflow-y scroll

.container-fluid
  margin-right auto
  margin-left auto
  width 100%
  box-sizing border-box
  
  @media ( min-width 1200px )
    max-width 1480px

  @media ( min-width 768px )
    padding-right 35px !important
    padding-left 35px !important
    
*, ::after, ::before
  box-sizing: border-box

.row
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  margin-right -15px
  margin-left -15px
  
  &.justify-content-md-between
  
    @media (min-width 768px)
      -ms-flex-pack justify!important
      justify-content space-between!important