.b-header
  height 144px
  overflow hidden
  
  .container-fluid
  
    &:before
      content ''
      display block
      position absolute
      top 0
      left 35px
      width calc( 100% - 70px )
      height 144px
      background-color $placeholder-color
      transition( background-color .5s ease )
      z-index 1
      
      @media ( max-width 767px )
        height 86px
      
  @media ( max-width 767px )
    height 86px

  &__top,
  &__bottom
    opacity 0
    transition( all .5s ease )