@import '../../styl/component-include.styl'

.b-form-auth,
.b-form-result

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-form-auth

  &__block
    border 1px solid $line-color
    padding 50px 0 60px

    .col-md-6
      padding 0 10%

  .invalid
    color #ff0000
    
  p.text-center
    margin-right auto
    margin-left auto
    
  h3
    margin 0 0 2rem

.b-form-result

  &__block
    border 1px solid $line-color
    padding 130px 50px

    h3
      max-width initial

    p
      max-width 750px
      margin 0 auto

.b-form-error
  box-shadow 0 5px 10px #f2762e29
  padding 20px 35px
  font-size $12px
  line-height 16px
  display flex
  justify-content space-between
  align-items center
  margin-bottom 40px
  border-radius 10px

  &__icon
    width 33px
    height 38px
    background-bg()

    @media( max-width 400px )
      display none

     @media( max-width 1099px ) and ( min-width 768px )

        .col-md-6 &
          display none

  &__text
    width calc( 100% - 33px - 30px )

    @media( max-width 400px )
      width auto

     @media( max-width 1099px ) and ( min-width 768px )

      .col-md-6 &
        width auto

    p
      margin 0 0 10px
      