// start /components/form.auth/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'form.auth'
else
  - var componentsArray = [ 'form.auth' ]
  
.b-form-auth.ph-block

  .ph

    .ph__block

      .ph-col
        div
        div
        div
        div
        div

      .ph-col
        div
        div
        div
        div
        div


  .ph-content

    .b-form-auth__block
    
      p.text-center.invalid Данного ОРНЗ нет в реестре. Введите корректный ОРНЗ.
      
      hr

      .row

        .col-12.col-md-6.b-validate-form

          h3 Вход в личный кабинет

          .b-form-error
            .b-form-error__icon( style="background-image: url( '/template/images/warning.svg' );" )
            .b-form-error__text
              p Личный кабинет доступен только физическим лицам. Информация о компании доступна в личном кабинете «Единоличного органа управления» СРО (генерального директора).
              a( href="" ) Подробнее
          
          form( action="/pages/form-result/" method="GET" )
            
            .b-float-label.invalid

              input#USERNAME( type="text" autocomplete="off" )
              label( for="USERNAME" ) Логин ОРНЗ

            hr

            .b-float-label

              div.password-invisible
                div( style="background-image: url('/template/images/invisible.svg');" )
                div( style="background-image: url('/template/images/visible.svg');" )
              input#PASSWORD( type="password" )
              label( for="PASSWORD" autocomplete="off" ) Пароль
              
            hr

            button.btn.btn-secondary.btn-lg( type="submit" ) Войти

        hr.hr--xl.d-block.d-md-none.w-100

        .col-12.col-md-6.b-validate-form

          h3 У вас нет пароля?

          form( action="/pages/form-result/" method="GET" )
          
            p Введите свой ОРНЗ и нажмите «получить пароль». Пароль придет на вашу почту, которая указана в реестре.
            hr
            
            .b-float-label

              input#USERNAME( type="text" autocomplete="off" )
              label( for="USERNAME" ) Логин ОРНЗ
              
            hr

            button.btn.btn-primary.btn-lg( type="submit" ) Получить пароль

// end /components/form.auth/