// start /components/form.auth/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'form.auth'
else
  - var componentsArray = [ 'form.auth' ]
  
.b-form-auth.ph-block

  .ph

    .ph__block

      .ph-col
        div
        div
        div
        div
        div

      .ph-col
        div
        div
        div
        div
        div


  .ph-content

    .b-form-auth__block
    
      p.text-center.invalid Данного ОРНЗ нет в реестре. Введите корректный ОРНЗ.
      
      hr

      .row

        .col-12.col-md-6.b-validate-form

          h3 Вход в личный кабинет

          .b-form-error
            .b-form-error__icon( style="background-image: url( '/template/images/warning.svg' );" )
            .b-form-error__text
              p Личный кабинет доступен только физическим лицам. Информация о компании доступна в личном кабинете «Единоличного органа управления» СРО (генерального директора).
              a( href="" ) Подробнее
          
          form( action="/pages/form-result/" method="GET" )
            
            .b-float-label.invalid

              input#USERNAME( type="text" autocomplete="off" )
              label( for="USERNAME" ) Логин ОРНЗ

            hr

            .b-float-label

              div.password-invisible
                div( style="background-image: url('/template/images/invisible.svg');" )
                div( style="background-image: url('/template/images/visible.svg');" )
              input#PASSWORD( type="password" )
              label( for="PASSWORD" autocomplete="off" ) Пароль
              
            hr

            .b-checkbox
              label
                input.filled-in( type="checkbox" )
                span Я принимаю <a href="/" target="_blank">условия Пользовательского соглашения</a> и даю своё согласие СРО ААС на обработку моей персональной информации на условиях, определенных Политикой конфиденциальности.

              .circle-loader
                .circle.circle-1
                .circle.circle-2
                .circle.circle-3
                .circle.circle-4
                .circle.circle-5

            #docToSignModal.modal--text.modal.fade(tabindex="-1" aria-labelledby="docToSignModalLabel" aria-hidden="true")
              .modal-dialog

              //-пример вёрстки окна
                .modal-content
                  button.close(type="button" data-dismiss="modal" aria-label="Close" style="background-image: url( '/template/images/cancel.svg' );")
                  .modal-head
                    h3 Положение о членстве Саморегулируемой организации аудиторов Ассоциации «Содружество»
                  .modal-body
                  
                    .progress-indicator
                      .item.item-1
                      .item.item-2
                      .item.item-3
                      .item.item-4
                      .item.item-5

                    .modal-body__text
                      b Общие положения
                      p Положение о членстве Саморегулируемой организации аудиторов Ассоциации «Содружество» (далее – СРО ААС) разработано в соответствии с Федеральным законом от 30.12.2008 г. № 307-ФЗ «Об аудиторской деятельности» (далее – ФЗ «Об аудиторской деятельности»), Федеральным законом от 01.12.2007 г. № 315-ФЗ «О саморегулируемых организациях» и Уставом СРО ААС. Настоящее Положение определяет условия и требования к членству в СРО ААС, порядок приема в члены СРО ААС, условия и порядок приостановления, восстановления и прекращения членства в СРО ААС, права и обязанности членов СРО ААС, размеры подлежащих уплате взносов.
                      p Основные понятия и термины, используемые в настоящем Положении:
                      p СРО – саморегулируемая организация аудиторов;
                      p Реестр – реестр аудиторов и аудиторских организаций СРО ААС;
                      p Реестр УМЦ – реестр образовательных организаций, осуществляющих обучение членов СРО ААС - аудиторов по программам повышения квалификации;
                      p КАА – квалификационный аттестат аудитора;
                      p ОППК – обучение по программам повышения квалификации;
                      p Подтверждение ОППК – подтверждение соблюдения аудиторами требования о прохождении обучения по программам повышения квалификации;
                      p ВККР – внешний контроль качества работы членов СРО ААС – аудиторских организаций, индивидуальных аудиторов и аудиторов;
                      p ВКД – внешний контроль деятельности членов СРО ААС – аудиторских организаций, индивидуальных аудиторов и аудиторов;
                      p Контроль деятельности УМЦ – контрольные мероприятия в отношении деятельности образовательной организации, внесенной в Реестр УМЦ;
                      p Претендент – юридическое лицо, физическое лицо или индивидуальный предприниматель, подавший документы на вступление в члены СРО ААС;
                      p Аудиторская организация – коммерческая организация (юридическое лицо), являющаяся членом СРО ААС, сведения о которой включены в Реестр;
                      p Аудитор – физическое лицо, получившее КАА, являющееся членом СРО ААС, сведения о котором включены в Реестр;
                      p Индивидуальный аудитор – аудитор, зарегистрированный и осуществляющий аудиторскую деятельность в качестве индивидуального предпринимателя;
                      p Образовательная организация – юридическое лицо, удовлетворяющее требованиям законодательства Российской Федерации об образовательной деятельности, являющееся членом СРО ААС, сведения о котором могут быть включены в Реестр УМЦ;
                      p Безупречная деловая (профессиональная) репутация в сфере аудиторской деятельности – деловая (профессиональная) репутация членов СРО ААС и претендентов в члены СРО ААС – применяется с учетом Положения о деловой (профессиональной) репутации в СРО ААС.
                      p Членство в СРО ААС является добровольным.
                      p Членами СРО ААС могут быть:
                      p аудиторские организации, индивидуальные аудиторы и аудиторы, признающие Устав СРО ААС, соответствующие условиям и требованиям, предъявляемым к ним ФЗ «Об аудиторской деятельности», настоящим Положением и локальными нормативными актами СРО ААС;
                      p юридические лица, не являющиеся аудиторскими организациями (в том числе образовательные организации), и физические лица, не являющиеся аудиторами, признающие Устав СРО ААС, соответствующие условиям и требованиям, предъявляемым к ним настоящим Положением и локальными нормативными актами СРО ААС.
                      p СРО ААС оповещает о своих действиях в отношении члена СРО ААС посредством электронной почты, почтового отправления или извещения в личном кабинете на сайте СРО ААС.
                      p Надлежащим источником адресов электронной почты, почтовых адресов членов СРО ААС – аудиторских организаций, индивидуальных аудиторов и аудиторов являются сведения Реестра.
                      p Надлежащим источником адресов электронной почты, почтовых адресов членов СРО ААС – образовательных организаций являются сведения Реестра УМЦ.
                      p Надлежащим источником адресов электронной почты, почтовых адресов членов СРО ААС, не являющихся аудиторскими организациями, индивидуальными аудиторами, аудиторами и образовательными организациями, являются сведения реестра членов СРО ААС.
                      p Источником адресов для уведомления СРО являются сведения, размещенные на официальном Интернет-сайте СРО ААС в разделе «Контактная информация СРО ААС».

                      button#docToSignButton.btn.btn-secondary.btn-lg Подтверждаю

                  .modal-bottom(style="background-image: url( '/template/images/warning.svg' );") Дочитайте до конца используя колесо мыши (скроллинг), подтвердите прочтение нажав «Ознакомился». После этого доступ к личному кабинету будет открыт.

            hr

            button.btn.btn-secondary.btn-lg( type="submit" disabled ) Войти

        hr.hr--xl.d-block.d-md-none.w-100

        .col-12.col-md-6.b-validate-form

          h3 У вас нет пароля?

          form( action="/pages/form-result/" method="GET" )
          
            p Введите свой ОРНЗ и нажмите «получить пароль». Пароль придет на вашу почту, которая указана в реестре.
            hr
            
            .b-float-label

              input#USERNAME( type="text" autocomplete="off" )
              label( for="USERNAME" ) Логин ОРНЗ
              
            hr

            button.btn.btn-primary.btn-lg( type="submit" ) Получить пароль

// end /components/form.auth/