doctype html
html
  head
    title Календарный план
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/pdf/umc-plan.css" rel="stylesheet" )

    table.text-11
      tr
        td.text-right.pb-20
          i Приложение № 3<br>к Договору № 01 от 16 февраля 2021 г.

    table.text-11
      tr
        td.pb-3.border.text-center
          b Автономная некоммерческая организация<br>«Институт переподготовки и повышения квалификации<br>профессиональных бухгалтеров и аудиторов»
      tr
        td.text-center.pb-30 (наименование образовательной организации)

    table.text-14
      tr
        td.text-center
          b Календарный план<br>проведения курсов повышения квалификации аудиторов – членов СРО ААС
      tr
        td.text-center.pb-20
          b Курс «НАЗВАНИЕ»

    table.text-12
      tr
        td.pb-10 по программе(ам) повышения квалификации:

    table.text-12
      tr
        td( width="30" ) &nbsp;
        td( width="80" ) 6-2-24
        td( width="920" ) Новые федеральные стандарты бухгалтерского учета
        td( width="100" ) 24 час
      tr
        td( width="30" ) &nbsp;
        td( width="80" ) 6-2-36
        td( width="920" ) Практика применения МСА: формирование аудиторского заключения
        td( width="100" ) 16 час

    table
      tr
        td.pb-20

    table.text-12
      tr
        td группа № 002, период проведения занятий с 27 сентября 2021 г. по 05 октября 2021 г., город Москва.

    table.border.text-center
      tr.text-11
        td( width="30" )
          b №<br>п/п
        td( width="120" )
          b Название раздела
        td( width="120" )
          b Номер и наименование программы
        td( width="220" )
          b Тема занятия
        td( width="30" )
          b Кол-<br>во часов
        td( width="170" )
          b Ф.И.О. преподавателя, занимаемая должность, ученая степень*
        td( width="100" )
          b Дата проведе-<br>ния*
        td( width="100" )
          b Время прове-<br>дения*
        td( width="140" )
          b Место проведения (название организации, адрес, номер аудитории)*
        td( width="100" )
          b Форма обучения
      tr
        td 1
        td Бухгалтерский учет и отчетность
        td 6-2-24, Новые федеральные стандарты бухгалтерского учета
        td Требования новых Федеральных стандартов бухгалтерского учета в целях с целью их применения при проведении аудита бухгалтерской (финансовой) отчетности: Система нормативного регулирования БУ в РФ, ФСБУ 5/2019 «Запасы»
        td 8
        td Лихникевич И.П. - к.э.н., доцент, генеральный директор ООО АФ"Статус" г.Москва
        td 27.09.2021
        td 10:00-17:00
        td АНО "ИППК ПБиА", г.Москва, Мичуринский пр., д.21, корп.4, online-вебинар
        td Очная дистанционная
      tr
        td 2
        td Бухгалтерский учет и отчетность
        td 6-2-24, Новые федеральные стандарты бухгалтерского учета
        td Требования новых Федеральных стандартов бухгалтерского учета в целях с целью их применения при проведении аудита бухгалтерской (финансовой) отчетности: ФСБУ 26/2020 «Капитальные вложения» и ФСБУ 6/2020 «Основные средства»
        td 8
        td Лихникевич И.П. - к.э.н., доцент, генеральный директор ООО АФ"Статус" г.Москва
        td 27.09.2021
        td 10:00-17:00
        td АНО "ИППК ПБиА", г.Москва, Мичуринский пр., д.21, корп.4, online-вебинар
        td Очная дистанционная

    table
      tr
        td.pb-20

    table.text-11
      tr
        td.pb-30
          b *при форме заочного дистанционного обучения - не заполняются

    table.text-12
      tr
        td.pb-30 25 августа 2021 г.

    table.text-12
      tr
        td.pb-30 МЕСТО ПРОСТОЙ ЭП