doctype html
html
  head
    title Заявление об отмене курса
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/pdf/excerpt.css" rel="stylesheet" )
    link( href="/components/pdf/application.css" rel="stylesheet" )

    table.table-800.mb-30
      tr
        td.text-right.pb-30 Обращение № 233УМЦ21042023<br>Приложение № 2
      tr
        td.text-right В СРО ААС

    table.table-800.mb-30
      tr
        td.border &nbsp;
      tr
        td.text-center.text-9 (наименование образовательной организации)

    table.h1.mb-30
      tr
        td.text-center( style="font-weight: bold; text-align: center;") Уведомление об отмене курса повышения квалификации<br>аудиторов– членов СРО ААС

    table.table-800.mb-30
      tr
        td.text-11.pb-20 группа № НОМЕР, период проведения занятий с ДАТА по ДАТА, город по программе(ам)повышения квалификации:

    table.table-800.mb-100
      tr
        td( width="30%" ) {код программы}
        td.text-center( width="40%" ) {наименование программы}
        td.text-right( width="30%" ) {продолжительность программы в акад.час}

    table.table-800
      tr
        td.pb-20 12 апреля 2023 года
      tr
        td ПРОСТАЯ ЭП
