extends ../../layouts/pwa

block vars
  - var page = 'pages-poll-pwa'
  - var authorized = 'true'

block title
  title PWA голосование | Pages | AAS

block content

  .container-fluid

    img.b-pwa-logo(src="/template/images/logo-aas-small.svg")
  
    h1 Голосование на тему «Большой опрос членов СРО ААС»

    include ../../components/poll/template