extends ../../layouts/main

block vars
  - var page = 'pages-study-courses-detail'
  - var authorized = 'true'

block title
  title Комбинированный курс «Практика аудита и новые ФСБУ» | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/study

  hr

  .container-fluid
  
    h1 Комбинированный курс «Практика аудита и новые ФСБУ»
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/study
          
      article.col-12.col-md-9

        include ../../components/study.courses.detail/template