@import '../../styl/component-include.styl'

.b-statistics

  &.b-ph-block
    
    &.i-ph-animated
      
      .b-ph-content
        position static
        width auto
        opacity 1
        
      .b-ph
        position absolute
        top 0
        left 0
        opacity 0
        z-index -1
    
.b-statistics
  text-align center
  margin-bottom -10px

  b
    display block
    font-size $24px
    line-height 36px
    margin-bottom 4px
    white-space nowrap

    @media( max-width 767px )
      font-size $16px

  small
    display block
    margin-bottom 10px