extends ../../layouts/main

block vars
  - var page = 'pages-registry'
  - var authorized = 'true'

block title
  title Реестр членов | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/registry

  hr

  .container-fluid
    
    .b-h-badges

      h1 Реестр членов — аудиторов и индивидуальных аудиторов
    
      .b-badges
        .badge.badge-light 03 ноября 2020
        .badge.badge-light 20 777 членов
    
    include ../../components/registry/template
  
    