extends ../../layouts/main

block vars
  - var page = 'pages-registry'
  - var authorized = 'true'

block title
  title Реестр членов | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/registry

  hr

  .container-fluid
  
    h1 Реестр членов
      hr.hr--sm.d-block.d-sm-none
      | 
      span.badge.badge-primary 03 ноября 2020
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/registry
          
      article.col-12.col-md-8
        
        include ../../components/registry/template
  
    