.b-committee

  .row
    
    .col-12.col-sm-6.col-md-12.col-lg-6
      .b-committee__item
        a( href="/pages/comission/" )
          b Комитет по противодействию коррупции и легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма
        p Небольшой текст о комиссии по контролю качества.
        
    hr.d-block.d-sm-none.d-md-block.d-lg-none.w-100
    
    .col-12.col-sm-6.col-md-12.col-lg-6
      .b-committee__item
        a( href="/pages/comission/" )
          b Комиссия по контролю качества
        p Небольшой текст о комиссии по контролю качества.
        
    hr.w-100
    
    .col-12.col-sm-6.col-md-12.col-lg-6
      .b-committee__item
        a( href="/pages/comission/" )
          b Комитет по противодействию коррупции и легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма
        p Небольшой текст о комиссии по контролю качества.
        
    hr.d-block.d-sm-none.d-md-block.d-lg-none.w-100
    
    .col-12.col-sm-6.col-md-12.col-lg-6
      .b-committee__item
        a( href="/pages/comission/" )
          b Комиссия по контролю качества
        p Небольшой текст о комиссии по контролю качества.
            