.b-committee

  .row
    
    .col-12.col-sm-4.col-md-12.col-lg-4

      .b-structure__block

        .b-committee__item
          a( href="/pages/comission/" )
            b Генеральный директор

        .b-structure__block

          .b-committee__item
            a( href="/pages/comission/" )
              b Структурные подразделения

          .b-structure__block

            .b-committee__item
              a( href="/pages/comission/" )
                b Дирекция

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел по работе с членами

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел по ведению реестра

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел по контролю качества

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел повышения и подтверждения квалификации

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел экспертизы, аналитики и PR

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел внутреннего контроля

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел по рассмотрению жалоб

            .b-committee__item
              a( href="/pages/comission/" )
                b Отдел информационных технологий

            .b-committee__item
              a( href="/pages/comission/" )
                b Юридический отдел

            .b-committee__item
              a( href="/pages/comission/" )
                b Финансовый отдел
        
    hr.d-block.d-sm-none.d-md-block.d-lg-none.w-100
    
    .col-12.col-sm-4.col-md-12.col-lg-4

      .b-structure__block

        .b-committee__item
          a( href="/pages/comission/" )
            b Правление

        .b-structure__block
            
          .b-committee__item
            a( href="/pages/comission/" )
              b Территориальные отделения

          .b-structure__block
              
            .b-committee__item
              a( href="/pages/comission/" )
                b Центральное
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Северо-западное
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Приволжское
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Южное
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Волго-Донское
              p Описание
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Уральское
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Сибирское
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Дальневосточное

        .b-structure__block
              
          .b-committee__item
            a( href="/pages/comission/" )
              b Советы

          .b-structure__block
              
            .b-committee__item
              a( href="/pages/comission/" )
                b Экспертно-Консультативный
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Научно-методический

        .b-structure__block
              
          .b-committee__item
            a( href="/pages/comission/" )
              b Специализированные органы

          .b-structure__block
              
            .b-committee__item
              a( href="/pages/comission/" )
                b Комиссия по контролю качества
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Дисциплинарная комиссия
                
            .b-committee__item
              a( href="/pages/comission/" )
                b Комитет по аудиту ОЗО

        .b-structure__block
              
          .b-committee__item
            a( href="/pages/comission/" )
              b Комитеты/комиссии

          .b-structure__block
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По правовым вопросам
                
            .b-committee__item
              a( href="/pages/comission/" )
                b По стандартизации и методологии аудиторской деятельности
                
            .b-committee__item
              a( href="/pages/comission/" )
                b По аудиту средних и малых предприятий
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По профессиональной этике и независимости аудиторов
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По стандартизации и методологии учета и отчетности
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По членству
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По противодействию коррупции (ПОД ФТ)
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По профессиональному образованию
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По международным связям
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По региональному взаимодействию
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По конкурсным отборам
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По бюджету
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По информации
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По ИТ и кибербезопасности
              
            .b-committee__item
              a( href="/pages/comission/" )
                b По наградам (комиссия)
        
    hr.d-block.d-sm-none.d-md-block.d-lg-none.w-100
    
    .col-12.col-sm-4.col-md-12.col-lg-4

      .b-structure__block

        .b-committee__item
          a( href="/pages/comission/" )
            b Контрольно-ревизионная комиссия
              