@import '../../styl/component-include.styl'

.b-committee
  display block
  
  &__item
    border 1px solid $placeholder-color
    padding 35px
    height 100%
    
    @media( max-width 767px )
      padding 20px

  a
    font-family $roboto
    display inline-block
    font-size $24px
    margin-bottom 25px