@import '../../styl/component-include.styl'

.b-comission

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-comission-tabs
  display block
  overflow hidden

  &__tabs
    position relative
    border-bottom 1px solid $line-color
    padding-bottom 14px
    font-size $14px
    font-family $roboto

    @media( max-width 650px )
      transform( translateX( 100px ))
      opacity 0
      transition( all .5s ease )
      
      &.animate
        opacity 1
        transform( translate(0))
    
    a.swiper-slide
      display inline-block
      margin-right 30px
      white-space nowrap
      width auto !important

      &,
      &:hover,
      &:focus,
      &:active
        color #6f6f6f

      &.active
        color #3b3b3b
        pointer-events none

    .swiper-container-initialized

      a

        &:hover
          opacity 1

  &__decor
    position absolute
    bottom -1px
    left 0
    border-top 1px solid #999
    transition( all .5s ease )

  &__block
    position relative

  &__item
    position absolute
    top 0
    left 0
    width 100%
    background-color #fff
    opacity 0
    pointer-events none
    padding-bottom 66px
    z-index 10

    &.active
      position static
      transition( opacity .5s ease )
      opacity 1
      pointer-events auto

  &.all

    .b-comission-tabs__item
      position static
      opacity 1
      pointer-events auto
