doctype html
html
  head
    title Заявление об изменении в реестре
    meta( charset="utf-8" )
    link( href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet" )
    
  body
    link( href="/components/pdf/application.css" rel="stylesheet" )

    table.table-800.mb-100
      col( width="400" )
      col( width="400" )
      tr
        td
        td

          table.table-100
            tr
              td.text-right.text-11
                b
                  i Приложение № 1
            tr
              td В СРО ААС<br>от аудиторской организации
            tr
              td
                table.table-100
                  col
                  col( width="5" )
                  tr
                    td.pb-3
                      table.table-100
                        tr
                          td.border &nbsp;
                    td.text-right.text-bottom ,
            tr
              td.text-center.text-11 (наименование)
            tr
              td
                table.table-100
                  col( width="60" )
                  col
                  col( width="5" )
                  tr
                    td.text-bottom ОРНЗ
                    td.pb-3
                      table.table-100
                        tr
                          td.border &nbsp;
                    td.text-right.text-bottom ,
            tr
              td.text-right в лице
            tr
              td.border &nbsp;
            tr
              td.text-center.text-11 (должность, ФИО)

    table.table-800.mb-30
      tr
        td.text-center
          b ЗАЯВЛЕНИЕ

    table.table-800.mb-30
      tr
        td Прошу внести изменения в реестр аудиторов и аудиторских организаций СРО ААС в связи с:
      tr
        td.border &nbsp;
      tr
        td.border &nbsp;
      tr
        td.border &nbsp;

    table.table-800.mb-30
      tr
        td Обновлённые данные:
      tr
        td.border &nbsp;
      tr
        td.border &nbsp;
      tr
        td.border &nbsp;

    table.table-800.mb-100
      tr
        td
          b
            i Приложения:
      tr
        td 1. 
      tr
        td 2.
      tr
        td 3.    

    table.table-800
      tr
        td «23» сентября 2021 г.

    table.table-800
      tr
        td
          table.stamp
            tr 
              td.fs19.pt7 ДОКУМЕНТ ПОДПИСАН
            tr 
              td.fs11 ПРОСТОЙ ЭЛЕКТРОННОЙ ПОДПИСЬЮ
            tr 
              td.fs8 СЕРВИС ОБРАЩЕНИЙ HTTPS://AUDITOR-SRO.ORG
            tr 
              td.fs10 12.01.2021
            tr 
              td.fs10.pb7 АБДУРАХМАНОВА АЙШАТ<br>КАМАЛИТДИНОВНА
