extends ../../layouts/main

block vars
  - var page = 'pages-registry-work'
  - var authorized = 'true'

block title
  title Данные реестра Моя работа | AAS

block content

  hr

  .container-fluid
  
    include ../../modules/breadcrumbs/registry

  hr

  .container-fluid
    
    h1 Где вы работаете
    
    .row.justify-content-md-between
      
      aside.col-3.d-none.d-md-block
        
        include ../../components/left-menu/registry
          
      article.col-12.col-md-9
    
        include ../../components/registry-work/template
  
    