footer.b-footer.ph-block

  .container-fluid.d-none.d-lg-block

    hr.hr--xl.hr--line

    .row

      .col-2
        a( href="/" )
          img( src="/template/images/logo-aas.svg" width="80" height="56" alt="Саморегулируемая организация аудиторов АССОЦИАЦИЯ «СОДРУЖЕСТВО»" )

        hr.hr--md

        p 119192, г. Москва,<br>Мичуринский проспект,<br>дом 21, корпус 4.

        p Телефон: +7 (495) 734-22-22<br>Факс: +7 (495) 734-04-22<br>info@auditor-sro.org

        p Время работы:<br>Пн-Чт с 10:00 до 18:00,<br>Пт до 17:00.<br>Без перерыва на обед.

      .col-2

        .b-footer__menu
          b
            a( href="" ) СРО ААС
          a( href="" ) Документы
          a( href="" ) Президент СРО ААС
          a( href="" ) Компенсационный фонд
          a( href="" ) Комитеты и комиссии
          a( href="" ) Отчетность
          a( href="" ) Документы
          a( href="" ) Президент СРО ААС
          a( href="" ) Компенсационный фонд
          a( href="" ) Комитеты и комиссии
          a( href="" ) Отчетность
          a( href="" ) Документы
          a( href="" ) Президент СРО ААС
          a( href="" ) Компенсационный фонд
          a( href="" ) Комитеты и комиссии
          a( href="" ) Отчетность

        a.b-footer__youtube( href="" )
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path class="cls-1" d="M27.73,10.11A3.06,3.06,0,0,0,25.57,8C23.66,7.43,16,7.43,16,7.43s-7.66,0-9.57.51a3.13,3.13,0,0,0-2.16,2.17A32.62,32.62,0,0,0,3.77,16a32.5,32.5,0,0,0,.5,5.89A3.06,3.06,0,0,0,6.43,24c1.93.53,9.57.53,9.57.53s7.66,0,9.57-.51a3.06,3.06,0,0,0,2.16-2.15,32.62,32.62,0,0,0,.5-5.89A30.13,30.13,0,0,0,27.73,10.11Z"/>
            <path class="cls-2" d="M13.56,19.67,19.93,16l-6.37-3.67Z"/>
          </svg>
          span Наш YouTube

      .col-2

        .b-footer__menu
          b
            a( href="" ) Членство
          a( href="" ) Порядок вступления
          a( href="" ) Взносы
          a( href="" ) Свидетельство о членстве
          a( href="" ) Свидетельство о членстве
          a( href="" ) Отчетность

      .col-2

        .b-footer__menu
          b
            a( href="" ) Саморегулирование
          a( href="" ) Контроль качества
          a( href="" ) Повышение квалификации
          a( href="" ) Подтверждение повышения квалификации
          a( href="" ) Аттестация аудиторов
          a( href="" ) Дисциплинарное производство

      .col-2

        .b-footer__menu
          b
            a( href="" ) Аудиторам
          a( href="" ) Законодательство
          a( href="" ) Стандарты
          a( href="" ) Совет по аудиторской деятельности
          a( href="" ) Методические материалы, разъяснения и рекомендации
          a( href="" ) Судебная практика

      .col-2

        .b-footer__menu
          b
            a( href="" ) Пресс-Центр
          a( href="" ) Новости СРО ААС
          a( href="" ) Официальные новости
          a( href="" ) Вестник
          a( href="" ) Мероприятия
          a( href="" ) Публикации

  .container-fluid

    hr.hr--line.hr--lg

    p Продолжая использовать наш сайт, вы даете согласие на обработку файлов Cookies и других<br>пользовательских данных, в соответствии с <a href="">Политикой конфиденциальности</a>.
    p © 2020 СРО ААС