header.b-header.ph-block

  .b-header-fixed-wrapper

    .container-fluid

      .b-header__top
        
          .b-header__logo
            a.b-header__logo-aas( href="/" )
              img( src="/template/images/logo-aas.svg" width="80" height="56" alt="СРО ААС" )
              
            span.b-header__slogan.d-none.d-md-block Саморегулируемая организация аудиторов<br>АССОЦИАЦИЯ «СОДРУЖЕСТВО»
            
            a.b-header__logo-ifac.d-none.d-md-block( href="/" )
              img( src="/template/images/logo-ifac.svg" width="85" height="30" alt="IFAC" )
            
          .b-header__profile
          
            if authorized
              a.d-none.d-md-block( href="/pages/profile/" )
                i( style="background-image: url( '/upload/portrait.jpg' );" )
                span Иванов Пётр Васильевич
            else
              a.btn.btn-secondary.d-none.d-md-block( href="/pages/form-auth/" ) Личный кабинет
              
            a.b-header__profile-icon.d-inline-block.d-md-none( href="/profile/" style="background-image: url( '/template/images/profile.svg' );" )
            a.b-header__menu-icon.d-inline-block.d-md-none( href="#" style="background-image: url( '/template/images/menu.svg' );" )
        
      .b-header__bottom
            
        .b-header__menu
          .b-header__menu-item.active( data-dropdown="true" )
            .b-header__menu-arrow.d-block.d-md-none( style="background-image: url( '/template/images/arrow-right.svg' );" )
            span
              a( href="/pages/about/" ) СРО ААС  
            .b-header__menu-dropdown
              .b-header__menu-dropdown__item
                a( href="" ) Структура СРО ААС
                .b-header__menu-dropdown__sub
                  a( href="" ) Съезд
                  a( href="" ) Правление
                  a( href="" ) Генеральный директор
                  a( href="" ) Территориальные отделения
                  a( href="" ) Комитеты и комиссии

              .b-header__menu-dropdown__item
                a( href="" ) Документы
                  
              .b-header__menu-dropdown__item
                a( href="" ) Стратегия развития
                  
              .b-header__menu-dropdown__item
                a( href="" ) Компенсационный фонд
                  
              .b-header__menu-dropdown__item
                a( href="" ) Отчетность
                .b-header__menu-dropdown__sub
                  a( href="" ) Отчет в Минфин
                  a( href="" ) Отчетность в Федеральное казначейство
                  a( href="" ) Отчетность СРО ААС
                  a( href="" ) Отчетность аудиторов
                  
              .b-header__menu-dropdown__item
                a( href="" ) Иски и заявления
                  
              .b-header__menu-dropdown__item
                a( href="" ) Награды
                  
              .b-header__menu-dropdown__item
                a( href="" ) Фирменная символика
                  
              .b-header__menu-dropdown__item
                a( href="" ) Контакты
            
          .b-header__menu-item
            span
              i Реестр
          .b-header__menu-item( data-dropdown="true" )
            .b-header__menu-arrow.d-block.d-md-none( style="background-image: url( '/template/images/arrow-right.svg' );" )
            span
              i Членство 
            .b-header__menu-dropdown
              .b-header__menu-dropdown__item
                a( href="" ) Контроль качества
              .b-header__menu-dropdown__item
                a( href="" ) Повышение квалификации
              .b-header__menu-dropdown__item
                a( href="" ) Подтверждение повышения квалификации
              .b-header__menu-dropdown__item
                a( href="" ) Аттестация аудиторов
              .b-header__menu-dropdown__item
                a( href="" ) Дисциплинарное производство
              .b-header__menu-dropdown__item
                a( href="" ) Международное сотрудничество
              .b-header__menu-dropdown__item
                a( href="" ) МФБ (IFAC)
              .b-header__menu-dropdown__item
                a( href="" ) ICAEW
              
          .b-header__menu-item
            span
              a( href="/pages/self-regulation/" ) Саморегулирование
          .b-header__menu-item
            span
              a( href="/pages/auditors/" ) Аудиторам
          .b-header__menu-item
            span
              a( href="/pages/news/" ) Пресс-Центр
          .b-header__menu-item
            span
              a( href="/pages/events/" ) Мероприятия
        
        .b-header__search.d-none.d-md-block
          form( action="" method="GET" )
            a.b-header__search-icon( href="" style="background-image: url( '/template/images/search.svg' );" )
            a.b-header__cancel-icon( href="" style="background-image: url( '/template/images/cancel.svg' );" )
            div
              input( type="text" name="search" value="" )
              
      .b-header__profile-menu
        a( href="/pages/profile/" ) Контроль качества
        a( href="/pages/profile/" ) Повышение квалификации
        a( href="/pages/profile/" ) Подтверждение повышения квалификации
        span Аттестация аудиторов
        a( href="/pages/profile/" ) Дисциплинарное производство
        a( href="/pages/profile/" ) Международное сотрудничество
        a( href="/pages/profile/" ) МФБ (IFAC)
        a( href="/pages/profile/" ) ICAEW

//-.container-fluid

  .b-header__menu-dropdown

    .b-header__menu-dropdown__item
      a( href="" ) Структура СРО ААС
      .b-header__menu-dropdown__sub
        a( href="" ) Съезд
        a( href="" ) Правление
        a( href="" ) Генеральный директор
        a( href="" ) Территориальные отделения
        a( href="" ) Комитеты и комиссии

    .b-header__menu-dropdown__item
      a( href="" ) Документы
        
    .b-header__menu-dropdown__item
      a( href="" ) Стратегия развития
        
    .b-header__menu-dropdown__item
      a( href="" ) Компенсационный фонд
        
    .b-header__menu-dropdown__item
      a( href="" ) Отчетность
      .b-header__menu-dropdown__sub
        a( href="" ) Отчет в Минфин
        a( href="" ) Отчетность в Федеральное казначейство
        a( href="" ) Отчетность СРО ААС
        a( href="" ) Отчетность аудиторов
        
    .b-header__menu-dropdown__item
      a( href="" ) Иски и заявления
        
    .b-header__menu-dropdown__item
      a( href="" ) Награды
        
    .b-header__menu-dropdown__item
      a( href="" ) Фирменная символика
        
    .b-header__menu-dropdown__item
      a( href="" ) Контакты