header.b-header.ph-block

  .b-header-fixed-wrapper

    .container-fluid

      .b-header__top
        
          .b-header__logo
            a.b-header__logo-aas( href="/" )
              img( src="/template/images/logo-aas.svg" width="80" height="56" alt="СРО ААС" )
              
            span.b-header__slogan.d-none.d-md-block Саморегулируемая организация аудиторов<br>АССОЦИАЦИЯ «СОДРУЖЕСТВО»
            
            a.b-header__logo-ifac.d-none.d-md-block( href="/" )
              img( src="/template/images/logo-ifac.svg" width="85" height="30" alt="IFAC" )
            
          .b-header__profile
          
            if authorized
              a.d-none.d-md-block( href="/pages/profile/" )
                i( style="background-image: url( '/upload/portrait.jpg' );" )
                  em.b-note-badge( style="background-color: #f00;" ) !
                span Иванов Пётр Васильевич
            else
              a.btn.btn-secondary.d-none.d-md-block( href="/pages/form-auth/" ) Личный кабинет
              
            a.b-header__profile-icon.d-inline-block.d-md-none( href="/profile/" style="background-image: url( '/template/images/profile.svg' );" )
            a.b-header__menu-icon.d-inline-block.d-md-none( href="#" style="background-image: url( '/template/images/menu.svg' );" )
        
      .b-header__bottom
        .b-header__menu
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/about/") СРО ААС
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/structure/")
                  | Структура СРО ААС
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/about/structure/sezd/")
                    | Съезд
                  
                  a.bx-nav-3-lvl(href="/about/structure/pravlenie/")
                    | Правление
                  
                  a.bx-nav-3-lvl(href="/about/structure/generalnyy-direktor/")
                    | Генеральный директор
                  
                  a.bx-nav-3-lvl(href="/about/structure/regions/")
                    | Территориальные отделения
                  
                  a.bx-nav-3-lvl(href="/about/structure/committee/")
                    | Комитеты и комиссии
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/documents/")
                  | Документы
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/strategiya-razvitiya/")
                  | Стратегия развития
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/fond/")
                  | Компенсационный фонд
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/otchet/")
                  | Отчетность
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/iski/")
                  | Иски и заявления
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/nagrady/")
                  | Награды
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/corporate_identity/")
                  | Фирменная символика
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/about/ceo/")
                  | Контакты
          
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/reestr/") Реестры
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/auditory/")
                  | Аудиторы
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/organizatsiy/")
                  | Аудиторские организации
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/reestr-vydannykh-sro-aas-kvalifikatsionnykh-attestatov-auditora/")
                  | Выданные КАА
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/reestr-annulirovannykh-sro-aas-kvalifikatsionnykh-attestatov-auditora/")
                  | Аннулированные КАА
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/mery-distsiplinarnogo-vozdeystviya-k-chlenam-sro-aas/")
                  | Дисциплинарные меры к аудиторам
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/mery-distsiplinarnogo-vozdeystviya-k-chlenam-sro-aas-organizatsiy/")
                  | Дисциплинарные меры к организациям
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/reestr-auditorov-prekrativshikh-chlenstvo-v-sro-aas/")
                  | Аудиторы прекратившие членство
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/reestr/reestr-auditorskikh-organizatsiy-prekrativshikh-chlenstvo-v-sro-aas/")
                  | Организации прекратившие членство
          
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/rules/") Членство
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/rules/introduction/")
                  | Вступить
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/rules/introduction/auditors/")
                    | Вступить аудитору
                  
                  a.bx-nav-3-lvl(href="/rules/introduction/companies/")
                    | Вступить аудиторской организации
                  
                  a.bx-nav-3-lvl(href="/rules/introduction/individual-auditors/")
                    | Вступить индивидуальному аудитору
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/rules/due/")
                  | Взносы
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/rules/change/")
                  | Внести изменения в реестр
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/rules/change/izmeneniya-dlya-auditorov-i-individualnykh-auditorov/")
                    | Аудиторам и индивидуальным аудиторам
                  
                  a.bx-nav-3-lvl(href="/rules/change/izmenenie-dlya-auditorskikh-organizatsiy/")
                    | Организациям
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/rules/membership_certificate/")
                  | Свидетельство о членстве
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/rules/vipiska/")
                  | Выписка из реестра
          
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/activity/") Саморегулирование
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/quality_control/")
                  | Контроль качества
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/tipovoy-komplekt-dokumentov-po-organizatsii-i-osushchestvleniyu-vkkr/")
                    | Типовой комплект документов по ВККР
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/upolnomochennye-eksperty-po-kontrolyu-kachestva/")
                    | Уполномоченные эксперты
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/plany-vneshnikh-proverok-kachestva/")
                    | Планы внешних проверок качества
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/rezultaty-vneshnikh-proverok-kachestva-raboty/")
                    | Результаты проверок
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/otchet-o-sostoyanii-sistemy-vneshnego-kontrolya-kachestva-raboty-chlenov-sro-aas/")
                    | Отчет
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/tselevoy-vznos-na-organizatsiyu-i-osushchestvlenie-vneshnego-kontrolya-kachestva/")
                    | Взнос
                  
                  a.bx-nav-3-lvl(href="/activity/quality_control/deyatelnost-federalnogo-kaznacheystva/")
                    | Деятельность Федерального казначейства
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/povyshenie_kvalifikacii/")
                  | Повышение квалификации
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/activity/povyshenie_kvalifikacii/programmy-povysheniya-kvalifikatsii/")
                    | Программы повышения квалификации
                  
                  a.bx-nav-3-lvl(href="/activity/povyshenie_kvalifikacii/confirmation_training/")
                    | Подтверждение повышения квалификации
                  
                  a.bx-nav-3-lvl(href="/activity/povyshenie_kvalifikacii/akkreditatsiya-umts/")
                    | Аккредитация УМЦ
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/")
                    | Расписание УМЦ
                  
                  a.bx-nav-3-lvl(href="/activity/povyshenie_kvalifikacii/vznosy-umts/")
                    | Взносы УМЦ
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/certification/")
                  | Аттестация аудиторов
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/distciplinprocess/")
                  | Дисциплинарное производство
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/activity/distciplinprocess/otchet-distsiplinarnoy-komissii/")
                    | Отчет
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/intcooperation/")
                  | Международное сотрудничество
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/mfb_ifac/")
                  | МФБ (IFAC)
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/obsuzhdaem_proekty_mezhdunarodnyh_standartov_i_dokumentov/")
                  | Обсуждаем проекты международных стандартов и документов
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/zakonoproekty/")
                  | Обсуждаем проекты нормативных актов
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/uchastie_v_obwestvennyh_organizaciyah/")
                  | Участие в общественных организациях
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/protivkorrupcii/")
                  | Противодействие коррупции и легализации (отмыванию) доходов
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/activity/profilak_narusj_obyaz_treb/")
                  | Профилактика нарушений обязательных требований
          
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/help_aas/") Аудиторам
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/zakonodatelstvo/")
                  | Законодательство
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/pravila_i_standarty/")
                  | Стандарты
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/help_aas/pravila_i_standarty/standarty-audita/")
                    | Стандарты аудита
                  
                  a.bx-nav-3-lvl(href="/help_aas/pravila_i_standarty/standarty-bukhucheta/")
                    | Стандарты бухучета
                  
                  a.bx-nav-3-lvl(href="/help_aas/pravila_i_standarty/professionalnye-standarty/")
                    | Профессиональные стандарты
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/sad/")
                  | Совет по аудиторской деятельности
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/recommendations/")
                  | Методические материалы, разъяснения и рекомендации
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/obyazannosti/")
                  | Обязанности
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/help_aas/obyazannosti/otchet-v-minfin-rossii/")
                    | Отчет в Минфин
                  
                  a.bx-nav-3-lvl(href="/help_aas/obyazannosti/otchetnost-v-federalnoe-kaznacheystvo")
                    | Отчет в Федеральное казначейство
                  
                  a.bx-nav-3-lvl(href="/help_aas/obyazannosti/raskrytie_inform")
                    | Раскрытие информации
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/otchetnost-auditorov")
                  | Отчетность членов в СРО ААС
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/help_aas/sudebnaya_praktika/")
                  | Судебная практика
          
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/pc/") Пресс-Центр
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/actions/")
                  | Новости СРО ААС
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/novosti/")
                  | Официальные новости
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/pc/novosti/novosti-proektov-normativnykh-aktov/")
                    | Новости проектов нормативных актов
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/regionalnye-novosti/")
                  | Региональные новости
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/tsentralnoe-otdelenie/")
                    | Центральное отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/severo-zapadnoe-otdelenie/")
                    | Северо-Западное отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/privolzhskoe-otdelenie/")
                    | Приволжское отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/yuzhnoe-otdelenie/")
                    | Южное отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/volgo-donskoe-otdelenie/")
                    | Волго-Донское отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/uralskoe-otdelenie/")
                    | Уральское отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/sibirskoe-otdelenie/")
                    | Сибирское отделение
                  
                  a.bx-nav-3-lvl(href="/pc/regionalnye-novosti/dalnevostovchnoe-otdelenie/")
                    | Дальневостовчное отделение
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/publikacii_news/")
                  | Публикации
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/vestnik/")
                  | Вестник
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/zhurnal-audit/")
                  | Журнал Аудит
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/pc/mezhdunarodnoe-sotrudnichestvo/")
                  | Международное сотрудничество
          
          .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
            .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
            span
              a(href="/events/") Мероприятия
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/vebinary/")
                  | Вебинары
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/zasedanie/")
                  | Заседания
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/konferentsiya/")
                  | Конференции
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/kruglyy-stol/")
                  | Круглые столы
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/pravlenie/")
                  | Правление
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/raspisanie-umts/")
                  | Расписание УМЦ
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/volgograd/")
                    | Волгоград
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/ekaterinburg/")
                    | Екатеринбург
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/izhevsk/")
                    | Ижевск
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/irkutsk/")
                    | Иркутск
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/kazan/")
                    | Казань
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/kemerovo/")
                    | Кемерово
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/krasnodar/")
                    | Краснодар
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/krasnoyarsk/")
                    | Красноярск
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/moskva/")
                    | Москва
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/nizhniy-novgorod/")
                    | Нижний Новгород
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/novosibirsk/")
                    | Новосибирск
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/omsk/")
                    | Омск
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/rostov-na-donu/")
                    | Ростов-на Дону
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/samara/")
                    | Самара
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/sankt-peterburg/")
                    | Санкт-Петербург
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/saratov/")
                    | Саратов
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/stavropol/")
                    | Ставрополь
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/tolyatti/")
                    | Тольятти
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/tula/")
                    | Тула
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/tyumen/")
                    | Тюмень
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/ulan-ude/")
                    | Улан-Уде
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/ufa/")
                    | Уфа
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/chelyabinsk/")
                    | Челябинск
                  
                  a.bx-nav-3-lvl(href="/events/raspisanie-umts/yaroslavl/")
                    | Ярославль
            .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/regionalnye-meropriyatiya/")
                  | Региональные мероприятия
                .b-header__menu-dropdown__sub
                  
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/tsentralnoe-otdelenie/")
                    | Центральное отделение
                  
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/severo-zapadnoe-otdelenie/")
                    | Северо-Западное отделение
                  
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/privolzhskoe-otdelenie/")
                    | Приволжское отделение
                  
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/yuzhnoe-otdelenie/")
                    | Южное отделение
                  
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/volgo-donskoe-otdelenie/")
                    | Волго-Донское отделение
                  
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/uralskoe-otdelenie/")
                    | Уральское отделение
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/sibirskoe-odelenie/")
                    | Сибирское отделение
                  a.bx-nav-3-lvl(href="/events/regionalnye-meropriyatiya/dalnevostovchnoe-otdelenie/")
                    | Дальневостовчное отделение
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/seminary/")
                  | Семинары
              .b-header__menu-dropdown__item.bx-nav-2-lvl
                a(href="/events/sezd/")
                  | Съезд
        
        .b-header__search.d-none.d-md-block
          form( action="" method="GET" )
            a.b-header__search-icon( href="" style="background-image: url( '/template/images/search.svg' );" )
            a.b-header__cancel-icon( href="" style="background-image: url( '/template/images/cancel.svg' );" )
            div
              input( type="text" name="search" value="" )
              
      .b-header__profile-menu
        .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
          .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
          span
            a(href="/events/") Мероприятия

          .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/vebinary/")
                | Вебинары
            
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/zasedanie/")
                | Заседания
            
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/konferentsiya/")
                | Конференции

        .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
          .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
          span
            a(href="/events/") Повышение квалификации
            
          .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/vebinary/")
                | Вебинары
            
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/zasedanie/")
                | Заседания
            
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/konferentsiya/")
                | Конференции
                
        .b-header__menu-item.bx-nav-1-lvl(data-dropdown="true")
          .b-header__menu-arrow.d-block.d-md-none(style="background-image: url( '/local/components/twinpx/menu.multilevel/templates/header_horizontal_multilevel/images/arrow-right.svg' );")
          span
            a(href="/events/") Контроль качества
            
          .b-header__menu-dropdown.bx-nav-2-lvl-wrap
              
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/vebinary/")
                | Вебинары
            
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/zasedanie/")
                | Заседания
            
            .b-header__menu-dropdown__item.bx-nav-2-lvl
              a(href="/events/konferentsiya/")
                | Конференции
              
        //-a( href="/pages/profile/" ) Контроль качества
        //-a( href="/pages/profile/" ) Повышение квалификации
        //-a( href="/pages/profile/" ) Подтверждение повышения квалификации
        //-span Аттестация аудиторов
        //-a( href="/pages/profile/" ) Дисциплинарное производство
        //-a( href="/pages/profile/" ) Международное сотрудничество
        //-a( href="/pages/profile/" ) МФБ (IFAC)
          em.b-note-badge( style="background-color: #f00;" ) !
        //-a( href="/pages/profile/" ) ICAEW

//-.container-fluid

  .b-header__menu-dropdown

    .b-header__menu-dropdown__item
      a( href="" ) Структура СРО ААС
      .b-header__menu-dropdown__sub
        a( href="" ) Съезд
        a( href="" ) Правление
        a( href="" ) Генеральный директор
        a( href="" ) Территориальные отделения
        a( href="" ) Комитеты и комиссии

    .b-header__menu-dropdown__item
      a( href="" ) Документы
        
    .b-header__menu-dropdown__item
      a( href="" ) Стратегия развития
        
    .b-header__menu-dropdown__item
      a( href="" ) Компенсационный фонд
        
    .b-header__menu-dropdown__item
      a( href="" ) Отчетность
      .b-header__menu-dropdown__sub
        a( href="" ) Отчет в Минфин
        a( href="" ) Отчетность в Федеральное казначейство
        a( href="" ) Отчетность СРО ААС
        a( href="" ) Отчетность аудиторов
        
    .b-header__menu-dropdown__item
      a( href="" ) Иски и заявления
        
    .b-header__menu-dropdown__item
      a( href="" ) Награды
        
    .b-header__menu-dropdown__item
      a( href="" ) Фирменная символика
        
    .b-header__menu-dropdown__item
      a( href="" ) Контакты