meta( charset="utf-8" )
meta( name="keywords", content="")
meta( name="description", content="")
meta( name="viewport" content="width=device-width, initial-scale=1" )

meta( property="og:title" content="СРО ААС" )
meta( property="og:description" content="Саморегулируемая ассоциация аудиторов Ассоциация СОДРУЖЕСТВО" )
meta( property="og:image" content="/template/images/logo-aas.svg" )
meta( property="og:type" content="company" )
meta( property="og:url" content= "http://aas-markup.2px.ru"  )