h3 Ваши возможности

.b-appeal-wrapper

  .b-appeal-item
    .b-appeal-title Создать курс
    .b-appeal-text Вы можете создать учебный курс для учебного центра.
    a.btn.btn-secondary.btn-md(href='') Создать курс

  .b-appeal-item
    .b-appeal-title Консультационный вопрос
    .b-appeal-text Напишите сотрудника отдела повышения и подтверждения квалификации.
    a.btn.btn-secondary.btn-md(href='') Создать курс