.b-member-card
  .b-member-card__text
    .b-member-card__description Отдел по работе с членами отвечает за взаимодействие между членами СРО ААС и сотрудниками обеспечивающими работу организации.
    hr.hr--md
    .row.justify-content-sm-left
      .col-sm-auto
        .small.text-muted Телефон
        b
          a( href="tel:+74957340420" ) +7 (495) 734-04-20

      hr.hr--sm.w-100.d-block.d-sm-none

      .col-sm-auto
        .small.text-muted Email
        b
          a( href="mailto:klimenkova@auditor-sro.org" ) klimenkova@auditor-sro.org
            