.b-member-card
  a.b-member-card__photo( href="" style="background-image: url( '/upload/search/3.jpg' );" )
  .b-member-card__text
    a.b-member-card__name( href="" ) Игорь Козырев
    .b-member-card__status Председатель Правления СРО ААС
    .b-member-card__description Независимый член Правления, председатель Комиссии СРО ААС по наградам, председатель Рабочего органа Совета по аудиторской деятельности, председатель Правления Фонда НСФО, начальник Департамента международной отчетности Бухгалтерии ПАО ЛУКОЙЛ, Заслуженный экономист РФ.
            