h2 Описание курса
p Комбинированный курс повышения квалификации объемом 40 академических часов, который включает в себя 2 наиболее популярные программы: Практикум по применению МСА: последние изменения и актуальные вопросы Новое в бухгалтерском учете. Новые ФСБУ

.row 
  .col-lg-6 
    table.table
      tbody
        tr
          th Номер курса
          td N3456
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Форма проведения
          td Онлайн
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Дата начала курса
          td 13.01.2021 13:08
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Дата окончания курса
          td 21.01.2021 13:08
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Количество часов
          td 40
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
  .col-lg-6 
    table.table
      tbody
        tr
          th Статус
          td
            span.label-gray
              span Черновик
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Город
          td Москва
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th УМЦ
          td
            div
              a(href="") Частное образовательное учреждение дополнительного профессионального образования «Учебно-методический центр «Триада
              hr.hr--xs
              .small.text-muted 11782631892674
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")


h2 Блоки курса

#editStudyCourseBlocks
