h2 Описание курса
p Комбинированный курс повышения квалификации объемом 40 академических часов, который включает в себя 2 наиболее популярные программы: Практикум по применению МСА: последние изменения и актуальные вопросы Новое в бухгалтерском учете. Новые ФСБУ

h2 Блоки курса

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")
              
    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")
              
    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")
              
    .b-scd-form
      .b-scd-form-text
        div 27 сентября 2021 18:00
        div Внутренний контроль в аудиторской организации. Внешний контроль деятельности
        div 20 часов
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")