h2 Описание курса
p Комбинированный курс повышения квалификации объемом 40 академических часов, который включает в себя 2 наиболее популярные программы: Практикум по применению МСА: последние изменения и актуальные вопросы Новое в бухгалтерском учете. Новые ФСБУ

.row 
  .col-lg-6 
    table.table
      tbody
        tr
          th Номер курса
          td N3456
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Форма проведения
          td Онлайн
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Дата начала курса
          td 13.01.2021 13:08
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Дата окончания курса
          td 21.01.2021 13:08
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Количество часов
          td 40
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
  .col-lg-6 
    table.table
      tbody
        tr
          th Статус
          td
            span.label-gray
              span Черновик
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th Город
          td Москва
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")
        tr
          th УМЦ
          td
            div
              a(href="") Частное образовательное учреждение дополнительного профессионального образования «Учебно-методический центр «Триада
              hr.hr--xs
              .small.text-muted 11782631892674
            span.b-copy-icon( style="background-image: url('/template/images/copy-30.svg')")


h2 Блоки курса

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Требования новых Федеральных стандартов бухгалтерского учета в целях с целью их применения при проведении аудита бухгалтерской (финансовой) отчетности: Система нормативного регулирования БУ в РФ, ФСБУ 5/2019 «Запасы»
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Требования новых Федеральных стандартов бухгалтерского учета в целях с целью их применения при проведении аудита бухгалтерской (финансовой) отчетности: ФСБУ 26/2020 «Капитальные вложения» и ФСБУ 6/2020 «Основные средства»
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Требования новых Федеральных стандартов бухгалтерского учета в целях с целью их применения при проведении аудита бухгалтерской (финансовой) отчетности: ФСБУ 25/2018 «Бухгалтерский учет аренды»
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")
              
    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Оценка искажений, выявленных в ходе аудита. Информирование лиц, отвечающих за корпоративное управление, о значимых выводах в результате аудита и о недостатках внутреннего контроля Информирование о ключевых вопросах аудита в аудиторском заключении.
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Немодифицированное и модифицированное мнение в аудиторском заключении. Разделы «Существенная неопределенность в отнощшении непрерывности деятельности», «Важные обстоятельства» и «Прочие сведения» в аудиторском заключении. Обязанности аудитора, относящиеся к прочей информации, включенной в годовой отчет организации.
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")
              
    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

.b-collapse-block
  .b-collapse-block__head
    a(href='') Название блока 1
    span
  .b-collapse-block__body

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")

    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")
              
    .b-scd-form
      .b-scd-form-text
        .b-scd-form-info
          .b-scd-form-date 27 сентября 2021<br>10:00−18:00
          .b-scd-form-time 9 часов
          .b-scd-form-type Очная дистанционная
        .b-scd-form-about
          .b-scd-form-description Внутренний контроль в аудиторской организации. Внешний контроль деятельности
          .b-scd-form-lecturer Лихникевич И.П.
      .b-scd-form-icon
        button.btn-edit
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            g
              path(d="M9.263,1.439l-8.21,8.69a3.05,3.05,0,0,0-.67,1.43L.013,14.8a1.527,1.527,0,0,0,1.87,1.77l3.22-.55a2.871,2.871,0,0,0,1.39-.75l8.21-8.69c1.42-1.5,2.06-3.21-.15-5.3C12.353-.791,10.683-.061,9.263,1.439Z" transform="translate(4.002 3.701)")
              path(d="M0,0A6.126,6.126,0,0,0,5.45,5.15" transform="translate(11.895 6.59)")
              path(d="M0,0H24V24H0Z" fill="none" opacity="0")