.b-scd-history
  .b-scd-history__item
    div 27 сентября 2021 18:00
    div Комбинированный курс «Практика аудита и новые ФСБУ» создан.
  .b-scd-history__item
    div 5 октября 2021 11:00
    div Комбинированный курс «Практика аудита и новые ФСБУ» изменен.
  .b-scd-history__item
    div 10 ноября 2021 14:40
    div Комбинированный курс «Практика аудита и новые ФСБУ Практика аудита и новые ФСБУ Практика аудита и новые ФСБУ Практика аудита и новые ФСБУ Практика аудита и новые ФСБУ Практика аудита и новые ФСБУ» отправлен на модерацию.
  .b-scd-history__item
    div 27 сентября 2021 18:00
    div Комбинированный курс «Практика аудита и новые ФСБУ» отклонено.