@import '../../styl/component-include.styl'

.b-study-courses-detail

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-study-courses-detail
  display block
  overflow hidden
  position relative

  &__item
    display none

    &.active
      display block

  &__tabs
    position relative
    border-bottom 1px solid $line-color
    padding-bottom 14px
    font-size $14px
    font-family $roboto

    @media( max-width 650px )
      transform( translateX( 100px ))
      opacity 0
      transition( all .5s ease )
      
      &.animate
        opacity 1
        transform( translate(0))
    
    a.swiper-slide
      display inline-block
      margin-right 30px
      white-space nowrap
      width auto !important

      &,
      &:hover,
      &:focus,
      &:active
        color #6f6f6f

      &.active
        color #3b3b3b
        pointer-events none

    .swiper-container-initialized

      a

        &:hover
          opacity 1
    
  &__decor
    position absolute
    bottom -1px
    left 0
    border-top 1px solid #999
    transition( all .5s ease )

  .b-copy-icon
    width 16px
    height 16px
    background-repeat no-repeat
    background-position center
    background-size contain
    margin-left 16px
    flex-shrink 0
    -webkit-transition( opacity .2s linear )
    transition( opacity .2s linear )
    opacity 0
    position relative

    @media(max-width 767px)
      display none

    &__note
      position absolute
      top -31px
      left 16px
      background #F0F5FC
      border-radius 3px
      color #074C86
      font-family $roboto
      font-size $11px
      line-height 29px
      padding 0 10px
      white-space nowrap
      opacity 0
      -webkit-transition( opacity .2s linear )
      transition( opacity .2s linear )
      pointer-events none

      &.b-copy-icon__note--show
        opacity 1

  .table
    font-family $roboto

    table&
      margin-bottom 0

      @media (max-width: 575px)
        th:nth-child(2),
        td:nth-child(2)
          display table-cell

    th
      width 35%

    td
      display flex
      align-items center

      &:hover
      
        .b-copy-icon
          opacity 1

.b-scd

  &-status
    position absolute
    top 10px
    right 0
    z-index 10

    .label-gray
      display inline-block

    @media(max-width 575px)
      position static
      margin-bottom 1rem

  &-buttons
    padding-right 80px

    @media(max-width 575px)
      padding-right 0

    .btn
      min-width 200px
      margin-right 10px
      margin-bottom 10px

      &:last-child
        margin-right 0

      @media(max-width 575px)

        &
          margin-right 0
          width 100%

  &-form
    display grid
    grid-template-columns 1fr 38px
    gap 1rem
    padding 1rem 0
    border-top 1px solid #f2f2f2

    &-text
      display flex
      justify-content space-between
      font-size $14px
      font-family $roboto

      @media(max-width 575px)
        display block

    &-info
      width calc(100% / 7)
      min-width 125px
      flex-shrink 0

      @media(max-width 575px)
        margin-bottom 1rem

    &-date
      margin-bottom 10px
      
    &-time
      margin-bottom 10px

    &-type
      font-size $11px
      color #9B9B9B

    &-about
      margin 0 1rem
      width 100%
      height 100%
      display flex
      flex-direction column
      justify-content space-between

      @media(max-width 575px)
        margin 0

    &-description
      font-size $16px
      font-weight $bold
      margin-bottom 12px
      
    &-icon
      display flex
      justify-content center
      align-items center

  &-history

    &__item
      display flex
      font-size $14px
      margin-bottom 1.5rem

      @media(max-width 575px)
        display block

      &:last-child
        margin-bottom 0

      div:first-child
        width 200px
        margin-right 2rem
        flex-shrink 0

        @media(max-width 575px)
          width auto

