@import '../../styl/component-include.styl'

/*control*/
#editStudyCourseModal

  .b-float-label,
  .b-float-label-select-vc
    margin-bottom 2rem

  .b--hidden
    display none

  .b-edit-study-course-form-error
    color $danger-color
    text-align center

@import './style/collapse-vue-component.styl'
@import './style/checkbox-vue-component.styl'
@import './style/add-fieldset-block.styl'
@import './style/select.styl'
@import './style/datepicker.styl'
@import './style/transition.styl'