@import '../../styl/component-include.styl'

/*control*/
#editStudyCourseModal .b-float-label,
#editStudyCourseModal .b-float-label-select-vc
  margin-bottom 2.5rem

@import './style/collapse-vue-component.styl'
@import './style/checkbox-vue-component.styl'
@import './style/add-fieldset-block.styl'
@import './style/select.styl'
@import './style/datepicker.styl'
@import './style/transition.styl'