// start /components/study.courses.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'study.courses.detail'
else
  - var componentsArray = [ 'study.courses.detail' ]

link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )
  
.b-study-courses-detail.ph-block

  .ph
    div
    div
    div
    div
    div

  .ph-content

    .b-scd-status
      .label-gray 
        span Черновик

    .b-scd-buttons 

      a.btn.btn-light.btn-link-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-edit.svg' );" )
        span Отредактировать

      a.btn.btn-light.btn-blue-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-task-square.svg' );" )
        span Отправить на проверку

      a.btn.btn-light.btn-gray-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-archive.svg' );" )
        span Архивировать

      a.btn.btn-light.btn-red-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-remove.svg' );" )
        span Удалить

    hr.hr--md

    .b-study-courses-detail__tabs

      .swiper-container
        .swiper-wrapper
          a.swiper-slide.active( href="" data-tab="tab1" ) Описание курса
          a.swiper-slide( href="" data-tab="tab2" ) История изменений
      .b-study-courses-detail__decor
    
    .b-study-courses-detail__block
      .b-study-courses-detail__item.active(data-tab="tab1")
        hr
        include ../../components/study.courses.detail/description

      .b-study-courses-detail__item(data-tab="tab2")
        hr
        include ../../components/study.courses.detail/history

// end /components/study.courses.detail/