// start /components/study.courses.detail/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'study.courses.detail'
else
  - var componentsArray = [ 'study.courses.detail' ]

link( rel="stylesheet", href="/template/css/swiper.min.css" )
script( src="/template/js/swiper.min.js" )

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex@3" )

script( src="https://unpkg.com/vue-select@latest" )
link( rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css" )

script( src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.js" )
link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.css" )

script( src="https://cdn.jsdelivr.net/npm/vue-scrollto" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js" )

script( src="/components/study.courses.detail/script-edit-form.js" )
script( src="/components/study.courses.detail/store-edit-form.js" )

link( rel="stylesheet", href="/components/study.courses.detail/style-edit-form.css" )

script
  | window.reportFormOZOPaths = {
  |   addCompany: '/components/report-form-ozo/addCompany.json',
  |   removeCompany: '/components/report-form-ozo/removeCompany.json',
  |   autosave: '/components/report-form-ozo/removeCompany.json',
  | };
  
.b-study-courses-detail.ph-block

  .ph
    div
    div
    div
    div
    div

  .ph-content

    .b-scd-status
      .label-gray 
        span Черновик

    .b-scd-buttons 

      a.btn.btn-light.btn-link-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-edit.svg' );" )
        span Отредактировать

      a.btn.btn-light.btn-blue-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-task-square.svg' );" )
        span Отправить на проверку

      a.btn.btn-light.btn-gray-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-archive.svg' );" )
        span Архивировать

      a.btn.btn-light.btn-red-color(href="")
        span.icon( style="background-image: url( '/template/images/icon-remove.svg' );" )
        span Удалить

    hr.hr--md

    .b-study-courses-detail__tabs

      .swiper-container
        .swiper-wrapper
          a.swiper-slide.active( href="" data-tab="tab1" ) Описание курса
          a.swiper-slide( href="" data-tab="tab2" ) История изменений
      .b-study-courses-detail__decor
    
    .b-study-courses-detail__block
      .b-study-courses-detail__item.active(data-tab="tab1")
        hr
        include ../../components/study.courses.detail/description

      .b-study-courses-detail__item(data-tab="tab2")
        hr
        include ../../components/study.courses.detail/history

// end /components/study.courses.detail/