@import '../../styl/component-include.styl'

body
  background-color $line-color
  
.b-pwa

  &-logo
    width 54px
    height 54px
    margin-bottom 50px

  &-content
    padding-top 0
    padding-bottom 0

    @media (min-width: 768px)
      padding-top 50px
      padding-bottom 50px

    .container-fluid
      background-color #fff
      padding-top 25px
      padding-bottom 20px

      @media (min-width: 768px)
        padding-top 85px
        padding-bottom 80px
        border-radius 20px
        padding-right 140px !important
        padding-left 140px !important
