.b-staff-block
  h4 Единолично исполняющий орган

  .b-staff-block__grid

    a.b-staff-block__item( href="/pages/profile/" title="Савельев Максим Олегович")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Савельев Максим Олегович

    a.b-staff-block__item( href="/pages/profile/" title="Савельева Мария Евгеньевна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Савельева Мария Евгеньевна

    a.b-staff-block__item( href="/pages/profile/" title="Абдулганеева Виктория Владимировна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Абдулганеева Виктория Владимировна

    a.b-staff-block__item( href="/pages/profile/" title="Савельева Мария Евгеньевна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Савельева Мария Евгеньевна

    a.b-staff-block__item( href="/pages/profile/" title="Абдулганеева Виктория Владимировна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Абдулганеева Виктория Владимировна

  hr.hr--xs

  h4 Уполномоченные сотрудники

  .b-staff-block__grid

    a.b-staff-block__item( href="/pages/profile/" title="Савельев Максим Олегович")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Савельев Максим Олегович

    a.b-staff-block__item( href="/pages/profile/" title="Савельева Мария Евгеньевна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Савельева Мария Евгеньевна

    a.b-staff-block__item( href="/pages/profile/" title="Абдулганеева Виктория Владимировна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Абдулганеева Виктория Владимировна

    a.b-staff-block__item( href="/pages/profile/" title="Савельева Мария Евгеньевна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Савельева Мария Евгеньевна

    a.b-staff-block__item( href="/pages/profile/" title="Абдулганеева Виктория Владимировна")
      span.b-staff-block__img( style="background-image: url( '/upload/portrait.jpg' );" )
      span.b-staff-block__text Абдулганеева Виктория Владимировна

  hr.hr--xs

  .b-staff-block__button
    a.btn.btn-secondary.btn-lg( href="" ) Управлять списком