b
  font-weight bold

i
  font-style italic

table
  display table
  border-collapse collapse
  border 0
  box-sizing border-box
  text-indent initial

table

  &.table-800
    width 800px

  &.table-100
    width 100%

  &.mb-30
    margin-bottom 30px

  &.mb-100
    margin-bottom 100px

td
  font-family "Times New Roman", serif
  font-size 13pt
  line-height 1.2
  vertical-align top

  &.text-right
    text-align right

  &.text-center
    text-align center

  &.text-bottom
    vertical-align bottom

  &.pb-3
    padding-bottom 3px

  &.text-11
    font-size 11pt

td.border
  border-bottom 1px solid #000
  padding-top 5px

