b
  font-weight bold

i
  font-style italic

table
  display table
  border-collapse collapse
  border 0
  box-sizing border-box
  text-indent initial

table

  &.table-800
    width 800px

  &.table-100
    width 100%

  &.mb-30
    margin-bottom 30px

  &.mb-100
    margin-bottom 100px

td
  font-family "Times New Roman", serif
  font-size 13pt
  line-height 1.2
  vertical-align top

  &.text-right
    text-align right

  &.text-center
    text-align center

  &.text-bottom
    vertical-align bottom

  &.nowrap
    white-space nowrap

  &.pb-3
    padding-bottom 3px

  &.pb-10
    padding-bottom 10px

  &.pb-30
    padding-bottom 30px

  &.text-11
    font-size 11pt

  &.text-9
    font-size 9pt

td.border
  border-bottom 1px solid #000
  padding-top 5px

table.stamp
  border 3px solid #173457
  min-width 220px
  margin-top 50px

  td
    text-align center
    text-transform uppercase
    font-family "Roboto Condensed", Roboto, Arial, sans-serif
    font-weight bold
    color #0A355A
    padding 0 15px

  td.pt7
    padding-top 7px

  td.pb7
    padding-bottom 7px

  td.fs19
    font-size 19px

  td.fs11
    font-size 11px

  td.fs10
    font-size 10px

  td.fs8
    font-size 8px