.b-left-menu    

  &.ph-block
    position relative
  
  .ph
    padding 20px 0
    
    div
      width 80%
      height 15px
      background-color $placeholder-color
      margin-bottom 50px
        
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0