.b-payment-requisites

  &.ph-block
    position relative
  
  .ph

    &-wrapper
      display flex
      flex-wrap wrap
      justify-content space-between

      div
        width calc(50% - 15px)
        background-color $placeholder-color
        border-radius 10px
        height 150px

        @media(max-width 1024px)
          width 100%
        
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0