.b-study-courses-detail

  &.ph-block
    position relative
  
  .ph
    
    div
      height 7px
      background-color $placeholder-color
      margin-bottom 10px
      
      &:nth-child(1)
        height 40px
        margin-bottom 32px
        width 60%
      
      &:last-child
        width 70%
        
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0