.b-switch-blocks

  &.ph-block
    position relative
  
  .ph

    div
      height 150px
      margin-bottom 30px
      background-color $placeholder-color
      border-radius 10px

    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 1