.b-quick-links

  .container-fluid

    .row

      .col-12.col-sm-6.col-lg-3

        a( href="" )
          i( style="background-image: url( '/template/images/profile.svg' );" )
          span
            b Проверить в реестре
            | Реестр членов-аудиторов и индивидуальных аудиторов

      hr.hr--sm.d-block.d-sm-none.w-100

      .col-12.col-sm-6.col-lg-3

        a( href="" )
          i( style="background-image: url( '/template/images/profile.svg' );" )
          span
            b Вступить в СРО ААС
            | Правила вступления в саморегулируемую организацию «Содружество»

      hr.hr--sm.d-block.d-lg-none.w-100

      .col-12.col-sm-6.col-lg-3

        a( href="" )
          i( style="background-image: url( '/template/images/profile.svg' );" )
          span
            b Контроль качества
            | Нормативные документы по организации и осуществлению внешнего контроля качества работы.

      hr.hr--sm.d-block.d-sm-none.w-100

      .col-12.col-sm-6.col-lg-3

        a( href="" )
          i( style="background-image: url( '/template/images/profile.svg' );" )
          span
            b Новый личный кабинет
            | Протестируйте свой новый личный кабинет.
            