/*File control*/
.b-float-label--file label span {
  color: #ea4420;
}

/*File*/
.b-float-label--file {
  position: relative;
  margin-bottom: 0;
}
.b-float-label--file svg {
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: 10;
}
.b-float-label--file input {
  display: none;
}
.b-float-label--file label {
  display: block;
  background-color: #f0f5fc;
  background-size: 12px;
  font-size: 14px;
  height: 47px;
  line-height: 47px;
  padding: 0 20px 0 50px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0;
}
.b-float-label--file label a {
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
}
.b-float-label--file .a {
  fill: #c3cfdd;
}
.b-float-label--file .b {
  fill: #a3b2c1;
}
.b-float-label--file .c {
  fill: #d3e0ea;
}
.b-float-label--file .d {
  fill: #fff;
}
.b-float-label--file:hover .a {
  fill: #c335de;
}
.b-float-label--file:hover .b {
  fill: #a3b57e;
}
.b-float-label--file:hover .c {
  fill: #d3deee;
}
.b-float-label--file:hover .d {
  fill: #12daec;
}
.b-float-label--file:active .a,
.b-float-label--file.dragover .a,
.b-float-label--file.filled .a {
  fill: #fff;
}
.b-float-label--file:active .b,
.b-float-label--file.dragover .b,
.b-float-label--file.filled .b {
  fill: #a7bde8;
}
.b-float-label--file:active .c,
.b-float-label--file.dragover .c,
.b-float-label--file.filled .c {
  fill: #d0e0ff;
}
.b-float-label--file:active .d,
.b-float-label--file.dragover .d,
.b-float-label--file.filled .d {
  fill: #4375d8;
}
/*.b-float-label--file .a,
.b-float-label--file .b {
  fill: none;
  stroke: #707070;
  stroke-linecap: round;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.b-float-label--file label .a {
  stroke-linejoin: round;
}
.b-float-label--file:hover .a,
.b-float-label--file:hover .b {
  stroke: #4375D8;
}
.b-float-label--file:active .a,
.b-float-label--file:active .b,
.b-float-label--file.dragover .a,
.b-float-label--file.dragover .b,
.b-float-label--file.filled .a,
.b-float-label--file.filled .b {
  stroke: #fff;
}*/
.b-float-label--file:active label,
.b-float-label--file.dragover label,
.b-float-label--file.filled label {
  background-color: #4375D8;
  color: #fff;
}
.b-float-label--file:active label a,
.b-float-label--file.dragover label a,
.b-float-label--file.filled label a {
  color: #fff;
}
/*invalid*/
.b-float-label--file.invalid .a,
.b-float-label--file:active.invalid .a {
  fill: #ff8080;
}
.b-float-label--file.invalid .b,
.b-float-label--file:active.invalid .b {
  fill: #db6a6a;
}
.b-float-label--file.invalid .c,
.b-float-label--file:active.invalid .c {
  fill: #f9bbbb;
}
.b-float-label--file.invalid .d,
.b-float-label--file:active.invalid .d {
  fill: #fff;
}
/*.b-float-label--file.invalid .a,
.b-float-label--file.invalid .b,
.b-float-label--file:active.invalid .a,
.b-float-label--file:active.invalid .b {
  stroke: #ff0000;
}*/
.b-float-label--file.invalid label,
.b-float-label--file:active.invalid label {
  background-color: #ffeaea;
  color: #ff0000;
}
.b-float-label--file.invalid label a,
.b-float-label--file:active.invalid label a {
  color: #ff0000;
}

.b-float-label-file__label {
  position absolute
  top -23px
  left 15px
  font-size 0.69rem
  color #2b2b2b
  z-index 10
}
.b-float-label-file__close {
  position absolute
  top calc(50% - 8px)
  right 30px
  width 16px
  height 16px
  cursor pointer
  z-index 10
}
.b-float-label-file__close:before {
  content: '';
  display: block;
  height 20px
  border-left 2px solid #fff
  transform( rotate(45deg))
  position absolute
  top -2px
  left 7px
  z-index 10
}
.b-float-label-file__close:after {
  content: '';
  display: block;
  height 20px
  border-left 2px solid #fff
  transform( rotate(135deg))
  position absolute
  top -2px
  left 7px
  z-index 10
}