@import '../../styl/component-include.styl'

.b-events

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-events

  &__menu
    border-bottom 1px solid $placeholder-color
    padding-bottom 10px
    margin-bottom 30px
    font-family $roboto

    @media(min-width 768px)
      display block !important

    div
      display inline-block

    a,
    span
      display inline-block
      font-size $14px
      font-weight $bold

    &-title
      position relative
      font-family $roboto
      font-weight $bold
      font-size 1.2rem
      line-height 1.4
      margin 0 0 1rem
      letter-spacing -1px

      span
        position absolute
        top 0
        right 0
        width 26px
        height 26px
        background-bg()

    &-base
      margin-right 78px

      a,
      span
        margin-right 30px

        &:last-child
          margin-right 0

    &-back
      margin-right 78px

      a,
      span
        padding-left 20px
        background-repeat no-repeat
        background-position left center
        background-size 12px

    &-calendar
      background-repeat no-repeat
      background-position left center
      background-size 16px

      a
        padding-left 28px

    @media(max-width 767px)
      display none
      background-color $placeholder-color
      padding 20px

      a,
      span
        display block
        padding 6px
        padding-left 28px
        margin 0
        font-weight $normal

      &-base,
      &-back
        margin 0

  &-item
    height 100%
    background-color #fafafa
    border-radius 0 0 10px 10px
    position relative
    font-family $roboto
      
    &__top
      background-color $primary-color
      border-radius 10px 10px 0 0
      padding 20px 20px 40px
      color #fff
      overflow hidden
      background-bg()
      position relative
      font-family $roboto
    
      &:before
        content ''
        display block
        position absolute
        top 0
        left 0
        background-color rgba( 0,0,0,.35 )
        width 100%
        height 100%
        z-index 1
      
    &__date
      font-size $24px
      margin-bottom 10px
      position relative
      z-index 2
        
    &__year
      font-size $11px
      position relative
      z-index 2
      
    &__tag
      font-size $12px
      line-height 30px
      height 30px
      border-radius 3px
      padding 0 20px
      background-color rgba( 67,117,216,.9 )
      position absolute
      bottom 20px
      right 20px
      z-index 2
      
      a&
      
        &,
        &:hover,
        &:focus,
        &:active
          color #fff
          
        &:hover
          opacity .85
      
    &__bottom
      padding 20px 20px 110px 20px
      
    &__btn
      position absolute
      bottom 20px
      left 20px
      display flex
      justify-content space-between
      flex-wrap wrap-reverse
      align-items baseline
      width calc( 100% - 40px )

      .btn
        width 135px
        margin 15px 20px 0 0

    &__link
      white-space nowrap
      font-size $12px
        
    a&__title

      &,
      &:hover,
      &:focus,
      &:active
        color #3b3b3b
        
      @media( min-width 992px ) and ( max-width 1199px )
        font-size $12px
        
 /*datepicker*/
 #events-menu-calendar {
   position: relative;
 }
 .mx-input {
  font-size: 0.88rem !important;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.mx-input-wrapper {
  width: 100%;
}
.mx-datepicker {
  position: absolute;
  top: 0;
  left: 0;
}
.mx-icon-calendar {
  width: 16px;
  height: 16px;
  background: url('/local/templates/aas/images/calendar.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  right: 15px;
  display: none;
}
.mx-icon-calendar svg {
  display: none;
}
.mx-datepicker {
  width: 100%;
}
.mx-datepicker+label {
  pointer-events: none;
} 
.mx-icon-clear {
  display: none !important;
}          