@import '../../styl/component-include.styl'

.b-events

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-events

  &-item
    height 100%
    background-color #fafafa
    border-radius 0 0 10px 10px
    position relative
    font-family $roboto
      
    &__top
      background-color $primary-color
      border-radius 10px 10px 0 0
      padding 20px 20px 40px
      color #fff
      overflow hidden
      background-bg()
      position relative
      font-family $roboto
    
      &:before
        content ''
        display block
        position absolute
        top 0
        left 0
        background-color rgba( 0,0,0,.35 )
        width 100%
        height 100%
        z-index 1
      
    &__date
      font-size $24px
      margin-bottom 10px
      position relative
      z-index 2
        
    &__year
      font-size $11px
      position relative
      z-index 2
      
    &__tag
      font-size $12px
      line-height 30px
      height 30px
      border-radius 3px
      padding 0 20px
      background-color rgba( 67,117,216,.9 )
      position absolute
      bottom 20px
      right 20px
      z-index 2
      
      a&
      
        &,
        &:hover,
        &:focus,
        &:active
          color #fff
          
        &:hover
          opacity .85
      
    &__bottom
      padding 20px 20px 110px 20px
      
    &__btn
      position absolute
      bottom 20px
      left 20px
      display flex
      justify-content space-between
      flex-wrap wrap-reverse
      align-items baseline
      width calc( 100% - 40px )

      .btn
        width 135px
        margin 15px 20px 0 0

    &__link
      white-space nowrap
      font-size $12px
        
    a&__title

      &,
      &:hover,
      &:focus,
      &:active
        color #3b3b3b
        
      @media( min-width 992px ) and ( max-width 1199px )
        font-size $12px
        
            