// start /components/events/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'events'
else
  - var componentsArray = [ 'events' ]
  
.b-events.ph-block

  .ph
    div
    div
    div

  .ph-content
  
    .row

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top( style="background-image: url( '/upload/gallery/1.jpg' );" )
            .b-events-item__date 14 сентября
            .b-events-item__year 2020
            a.b-events-item__tag( href="/pages/events/" ) Онлайн
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году»
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие
          

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top( style="background-image: url( '/upload/gallery/1.jpg' );" )
            .b-events-item__date 18 сентября
            .b-events-item__year 2020
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новации налогового законодательства-2020: изменения, основные проблемы и способы их решения»
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top
            .b-events-item__date 25 сентября
            .b-events-item__year 2020
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году».
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие
            
      hr.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top( style="background-image: url( '/upload/gallery/1.jpg' );" )
            .b-events-item__date 14 сентября
            .b-events-item__year 2020
            a.b-events-item__tag( href="/pages/events/" ) Онлайн
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году»
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие
          

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top( style="background-image: url( '/upload/gallery/1.jpg' );" )
            .b-events-item__date 18 сентября
            .b-events-item__year 2020
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новации налогового законодательства-2020: изменения, основные проблемы и способы их решения»
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top
            .b-events-item__date 25 сентября
            .b-events-item__year 2020
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году».
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие
            
      hr.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top( style="background-image: url( '/upload/gallery/1.jpg' );" )
            .b-events-item__date 14 сентября
            .b-events-item__year 2020
            a.b-events-item__tag( href="/pages/events/" ) Онлайн
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году»
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие
          

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top( style="background-image: url( '/upload/gallery/1.jpg' );" )
            .b-events-item__date 18 сентября
            .b-events-item__year 2020
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новации налогового законодательства-2020: изменения, основные проблемы и способы их решения»
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие

      hr.d-block.d-lg-none.w-100

      .col-12.col-lg-4
        .b-events-item
          .b-events-item__top
            .b-events-item__date 25 сентября
            .b-events-item__year 2020
          .b-events-item__bottom
            a.b-events-item__title( href="/pages/events-detail/" ) Круглый стол в дистанционном формате на тему: «Новые ПБУ в 2020 году».
            a.btn.btn-secondary.btn-sm( href="/pages/events-detail/" ) Принять участие
            
    hr.hr--lg
          
    include ../../modules/pagination/include        

// end /components/events/