extends ../../layouts/main

block vars
  - var page = 'blocks-docs'
  - var authorized = 'true'

block title
  title Blocks | Docs | AAS

block content

  hr.hr--xl

  .container-fluid

    h2 Документы по теме
    
    include ../../modules/docs/icon

    h2 Документы по теме
    
    include ../../modules/docs/include