extends ../../../layouts/pwa

block vars
  - var page = 'pages-poll-instruction-pwa'
  - var authorized = 'true'

block title
  title PWA инструкция голосования | Pages | AAS

block content

  .container-fluid

    img.b-pwa-logo(src="/template/images/logo-aas-small.svg")
  
    h1 Голосование на тему «Большой опрос членов СРО ААС»
    
    p Ольга Александровна представила презентацию и доложила об основных результатах работы Дирекции СРО ААС за отчетный период: о деятельности по организации и обеспечению исполнения СРО ААС функций саморегулируемой организации аудиторов, в том числе о ведении реестра аудиторов и аудиторских организаций и вопросах членства в СРО ААС, об организации внешнего контроля качества и обучения по программам повышения квалификации аудиторов; об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС; о работе подразделений внутреннего контроля; об организации работы с обращениями, запросами членов СРО ААС и заинтересованных лиц, с жалобами на членов СРО ААС; о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС. В докладе Генеральный директор представила информацию о проделанной в отчётном периоде работе, связанной с обеспечением необходимых мер по созданию единой саморегулируемой организации аудиторов. Ольга Александровна представила презентацию и доложила об основных результатах работы Дирекции СРО ААС за отчетный период: о деятельности по организации и обеспечению исполнения СРО ААС функций саморегулируемой организации аудиторов, в том числе о ведении реестра аудиторов и аудиторских организаций и вопросах членства в СРО ААС, об организации внешнего контроля качества и обучения по программам повышения квалификации аудиторов; об информационной деятельности СРО ААС и раскрытии информации, о работе официального Интернет-сайта СРО ААС; о работе подразделений внутреннего контроля; об организации работы с обращениями, запросами членов СРО ААС и заинтересованных лиц, с жалобами на членов СРО ААС; о взаимодействии с государственными органами и участии в нормотворческой деятельности; об обеспечении работы Территориальных отделений СРО ААС. В докладе Генеральный директор представила информацию о проделанной в отчётном периоде работе, связанной с обеспечением необходимых мер по созданию единой саморегулируемой организации аудиторов. Ольга Александровна представила презентацию и доложила об основных результатах работы Дирекции СРО ААС за отчетный период: о деятельности по организации и обеспечению исполнения СРО ААС функций саморегулируемой