// start /components/appeal.my/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'appeal.my'
else
  - var componentsArray = [ 'appeal.my' ]

script( src="https://cdn.jsdelivr.net/npm/vue@2" )
script( src="https://unpkg.com/vuex@3" )

script( src="https://unpkg.com/vue-select@latest")
link( rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css")

script( src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.js")
link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.9.0/index.min.css")

script( src="/components/appeal.my/store.js" )
  
.b-appeal-my.ph-block

  .ph
  
    div
    div
    div
    div

  .ph-content
  
    #appealMy.b-registry-report
      my-table( @rendertable="renderTable" @seturl="seturl" )

    hr.hr--lg
    
    a.btn.btn-secondary.btn-lg( href="/pages/appeal-new/" ) Создать обращение

// end /components/appeal.my/