@import '../../styl/component-include.styl'

.b-appeal-my

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1

/*@keyframes rotateDigit
  from
    transform(rotate(0))
  to
    transform(rotate(360deg))*/

.b-appeal-my

  h3
    margin-top 0
    margin-bottom 40px

  #my-filter
    display flex
    justify-content flex-start

    > div
      width calc((100% - 30px * 4) / 9 * 2)
      margin-right 30px

      &:first-child
        width calc((100% - 30px * 4) / 9 * 1)

      &:last-child
        margin-right 0

    @media( max-width 1199px )
      justify-content space-between
      flex-wrap wrap
      
      > div
        width calc( (100% - 30px) / 2 ) !important
        margin 0 0 30px

    @media( max-width 767px )
      
      > div
        width 100% !important
        margin 0 0 30px

        &:last-child
          margin-bottom 0

  &__form

    form
      display flex
      justify-content space-between
      align-items flex-end

      @media( max-width 575px )
        display block

  .b-form

    &-field
      width calc( 100% - 178px )

      label
        font-size $10px
        display block
        margin-bottom 8px

      @media( max-width 575px )
        width 100%

  input.b-form-input
    background-color $line-color
    border-radius 5px
    padding 10px 15px
    height 48px
    line-height 28px
    font-size $14px
    border 0
    width 100%

    &::selection
      background-color $secondary-color
      color #fff
    
    &[type=search]:focus
      outline none
      border-bottom 0

  input[type="search"]
    -webkit-appearance textfield
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

  table.table
    font-family $roboto

    th
      cursor pointer

    th,
    td
      font-size $14px
      text-align center
      vertical-align middle
      border-top none
      border-bottom 1px solid $line-color

      &.asc,
      &.desc
        background-color #f2e4d866

      @media( max-width 1399px )

        &:nth-child(6)
          display table-cell

      @media( max-width 1199px )

        &:nth-child(5)
          display none

      @media( max-width 991px )

        &:nth-child(4)
          display none

      @media( max-width 575px )

        &:nth-child(2),
        &:nth-child(6)
          display none

    th
      padding-right 35px
      padding-left 35px

      &.asc,
      &.desc
        color $secondary-color-2
        position relative

        &:before
          content ''
          width 17px
          height 17px
          border-radius 51%
          position absolute
          top 50%
          right 15px
          margin-top -8px
          background-color $secondary-color
          z-index 1

        &:after
          content ''
          width 5px
          height 5px
          border-right 1px solid #fff
          border-bottom 1px solid #fff
          transform( rotate( 45deg ))
          position absolute
          top 50%
          right 21px
          margin-top -3px
          z-index 2

      &.asc

        &:after
          transform( rotate( -135deg ))
          margin-top -1px

    td

      &.normal
        color $secondary-color-2

    tbody

      &.body--new
        transition( all 0.3s ease)
        overflow hidden
        
        tr
          opacity 1

        tr:not(.tr--show)
          display none
          opacity 0

      tr
        transition( background-color .5s ease )
      
        &:hover
          background-color #fcfcfc

        &[data-url]
          cursor pointer

        &.tr--new

          td
            background-color #F0F5FC

            &.desc,
            &.asc
              background-color #F1F2F5

  .table tbody+tbody
    border-top 0

.text-normal
  color #F2762E

.form-control-wrapper
  position relative

.form-control-select + label
  color #2b2b2b
  position absolute
  top 0
  left 15px
  font-size 0.69rem
  cursor text
  transition( transform 0.2s ease-out)
  transform-origin 0% 100%
  text-align initial
  transform( translateY(-22px))


.form-control-select .vs__dropdown-toggle {
  background-color: $form-control-color;
  border: 0;
  border-radius: 3px;
}
.form-control-select .vs__search, .form-control-select .vs__search:focus {
  height: 48px;
  margin: 0;
  padding: 0 15px;
  border: 0;
}
.form-control-select .vs__dropdown-toggle {
  padding: 0;
}
.form-control-select .vs__selected-options {
  padding: 0;
}
.form-control-select .vs__selected {
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
  border: 0;
  height: 48px;
  padding: 0 15px;
  font-size $14px
  z-index: 1;
}
.form-control-select input[type=search]:focus:not([readonly]) {
  border: 0 !important;
}
.form-control-select .vs__dropdown-menu {
  padding: 0;
  box-shadow: 0 5px 5px #eee;
  border: 0;
  border-radius: 0 0 5px 5px;
  font-size $14px
}
.form-control-select .vs__dropdown-option {
	line-height: 48px;
	padding: 0 15px;
	color: #3b3b3b;
  margin: 0;
}
.form-control-select .vs__dropdown-option:hover {
	cursor: pointer
}
.form-control-select .vs__dropdown-option--highlight {
	background: $form-control-color;
	color: #5F7696
}
.form-control-select .vs__clear {
  display: none !important;
}
.form-control-select input[type=search] {
  width: 0;
}
.form-control-select .vs__open-indicator {
  fill: transparent;
  width: 16px;
  height: 16px;
  background: url('https://auditor-sro.org/local/templates/aas/images/arrow-drop-down.svg') no-repeat center;
  background-size: cover;
}
.form-control-select .vs__actions {
  padding: 0 15px 0 3px;
}
.form-control-select .vs__search
  
  &,
  &:focus
    font-size $14px

.mx-input {
  font-size: 0.88rem !important;
}
.mx-icon-calendar {
  width: 16px;
  height: 16px;
  background: url('https://auditor-sro.org/local/templates/aas/images/calendar.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  right: 15px;
}
.mx-icon-calendar svg {
  display: none;
}
.mx-datepicker {
  width: 100%;
}
.mx-datepicker+label {
  pointer-events: none;
}

.b-input-clear {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url( 'https://auditor-sro.org/local/templates/aas/images/cancel.svg' ) no-repeat center;
  background-size: 16px;
  margin-top: -8px;
  z-index: 1;
}