extends ./layouts/main

block title
  title Pages list | aas

block content

  .container
    h1 СРО ААС
    
    h2 Блоки
    
    ul
      li
        a( href="/blocks/text/" ) Text
      li
        a( href="/blocks/buttons/" ) Buttons
    
    h2 Страницы
    
    ul
      li
        a( href="/pages/main/" ) Main page