extends ./layouts/main

block vars
  - var page = 'pages-main'
  - var authorized = 'true'

block title
  title Pages list | aas

block content

  .container-fluid
    h1 СРО ААС
    
    h2 Блоки
    
    ul
      li
        a( href="/blocks/text/" ) Text
      li
        a( href="/blocks/buttons/" ) Buttons
      li
        a( href="/blocks/left-menu/" ) Левое меню
      li
        a( href="/blocks/search/" ) Поиск помощник
      li
        a( href="/blocks/not-auth/" ) Пользователь не авторизован
      li
        a( href="/blocks/docs/" ) Документы
    
    h2 Страницы
    
    ul
      li
        a( href="/pages/main/" ) Главная
      li
        a( href="/pages/news/" ) Новости
      li
        a( href="/pages/news-detail/" ) Новость детально
      li
        a( href="/pages/form-auth/" ) Формы авторизации и получения пароля
      li
        a( href="/pages/form-result/" ) Результат отправки формы
      li
        a( href="/pages/profile/" ) Личный кабинет
      li
        a( href="/pages/form-profile/" ) Редактирование анкеты
      li
        a( href="/pages/form-profile-photo/" ) Редактирование анкеты с фото
      li
        a( href="/pages/registry/" ) Реестр членов
      li
        a( href="/pages/events/" ) События
      li
        a( href="/pages/comission/" ) Комиссия по контролю качества
      li
        a( href="/pages/gui/" ) Основные элементы сайта (GUI)
      li
        a( href="/pages/structure/" ) Структура СРО ААС
