extends ./layouts/main

block vars
  - var page = 'pages-main'
  - var authorized = 'true'

block title
  title Pages list | aas

block content

  .container-fluid
    h1 СРО ААС
    
    h2 Заявления

    ul
      li
        a( href="/pages/application1/" ) Заявление об изменении в реестре
    
    h2 Справки

    ul
      li
        a( href="/pages/reference1/" ) Справка индивидуального аудитора
      li
        a( href="/pages/reference2/" ) Справка аудиторской организации
    
    h2 Выписки

    ul
      li
        a( href="/pages/excerpt1/" ) "Стандартная выписка по (индивидуальному) аудитору", форма от 07.06.2021
      li
        a( href="/pages/excerpt2/" ) "Стандартная выписка по организации", форма от 07.06.2021
      li
        a( href="/pages/excerpt3/" ) "Расширенная выписка по организации", форма от 07.06.2021
      li
        a( href="/pages/excerpt4/" ) "Расширенная выписка по (индивидуальному) аудитору", форма от 07.06.2021

    h3 Футер без печати и подписи

    ul
      li
        a( href="/pages/excerpt1-2/" ) "Стандартная выписка по (индивидуальному) аудитору", форма от 07.06.2021
      li
        a( href="/pages/excerpt2-2/" ) "Стандартная выписка по организации", форма от 07.06.2021
      li
        a( href="/pages/excerpt3-2/" ) "Расширенная выписка по организации", форма от 07.06.2021
      li
        a( href="/pages/excerpt4-2/" ) "Расширенная выписка по (индивидуальному) аудитору", форма от 07.06.2021
    
    h2 Блоки
    
    ul
      li
        a( href="/blocks/text/" ) Text
      li
        a( href="/blocks/buttons/" ) Buttons
      li
        a( href="/blocks/modals/" ) Modals
      li
        a( href="/blocks/left-menu/" ) Левое меню
      li
        a( href="/blocks/search/" ) Поиск помощник
      li
        a( href="/blocks/not-auth/" ) Пользователь не авторизован
      li
        a( href="/blocks/docs/" ) Документы
      li
        a( href="/blocks/bx-incl-header/" ) Режим правки, шапка
      li
        a( href="/blocks/preappeal-popup/" ) Обращение Popup
    
    h2 Страницы
    
    ul
      li
        a( href="/pages/main/" ) Главная
      li
        a( href="/pages/news/" ) Новости
      li
        a( href="/pages/news-detail/" ) Новость детально
      li
        a( href="/pages/form-auth/" ) Формы авторизации и получения пароля
      li
        a( href="/pages/form-result/" ) Результат отправки формы
      li
        a( href="/pages/profile/" ) Личный кабинет
      li
        a( href="/pages/form-profile/" ) Редактирование анкеты
      li
        a( href="/pages/form-profile-photo/" ) Редактирование анкеты с фото
      li
        a( href="/pages/registry/" ) Реестр членов
      li
        a( href="/pages/registry-work/" ) Данные реестра - Моя работа
      li
        a( href="/pages/events/" ) Мероприятия
      li
        a( href="/pages/comission/" ) Комиссия по контролю качества
      li
        a( href="/pages/gui/" ) Основные элементы сайта (GUI)
      li
        a( href="/pages/structure/" ) Структура СРО ААС

    hr

    h3 Отчеты

    ul
      li
        a( href="/pages/report/" ) Отчет ООО «Аудит»
      li
        a( href="/pages/registry-report/" ) Сданные отчеты
      li
        a( href="/pages/reports-list/" ) Отчеты
      li
        a( href="/pages/report-form/" ) Форма сдачи отчета
      li
        a( href="/pages/report-form-ozo/" ) Форма сдать отчет ОЗО и доп. услуги

    hr
    
    h3 Выписки

    ul
      li
        a( href="/pages/excerpts/" ) Выписки
      li
        a( href="/pages/excerpts-old/" ) Выписки, старый шаблон
      li
        a( href="/pages/excerpts-multiple-generate/" ) Выписки на всех сотрудников организации
      li
        a( href="/pages/registry-excerpt/" ) Реестр выписок

    hr
    
    h3 Голосования

    ul
      li
        a( href="/pages/poll-list/" ) Список голосований
      li
        a( href="/pages/poll/" ) Голосование на тему «Большой опрос членов СРО ААС»
      li
        a( href="/pages/poll-result/" ) Результат голосования

    hr
    
    h3 Обращения

    ul
      li
        a( href="/pages/appeal-new/" ) Создать обращение
      li
        a( href="/pages/appeal-new-change-form/" ) Создать обращение - Изменение юридического адреса организации
      li
        a( href="/pages/appeal-new-change-form-public/" ) Создать обращение - Изменение юридического адреса организации - Публичная страница
      li
        a( href="/pages/appeal-inbox/" ) Входящие обращения
      li
        a( href="/pages/appeal-my/" ) Мои обращения
      li
        a( href="/pages/appeal-change-registry/" ) Внести изменения в реестр
      li
        a( href="/pages/appeal-detail/" ) Детальная страница обращения
      li
        a( href="/pages/appeal-detail-public/" ) Детальная страница обращения - Публичная страница
      li
        a( href="/pages/appeal-stamp/" ) Подпись и печать
