@import '../../styl/component-include.styl'

.b-tabs

  &__nav
    border-bottom 1px solid #f2f2f2
    font-size $14px
    display flex
    padding-bottom 14px
    position relative

    &__underline
      position absolute
      bottom -1px
      left 0
      width auto
      border-top 1px solid #6F6F6F
      transition(all .3s ease)

    &__item
      margin-right 40px
      cursor pointer

      &:last-child
        margin-right 0

      &.b-tab__nav__item--active
        color #6F6F6F

  &__tabs

    &__item
      display none

      &.b-tabs__tabs__item--active
        display block