@import '../../styl/component-include.styl'

.b-study-courses-list

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-study-courses-list
  display block
  overflow hidden

  &__item
    display none

    &.active
      display block

  &__tabs
    position relative
    border-bottom 1px solid $line-color
    padding-bottom 14px
    font-size $14px
    font-family $roboto

    @media( max-width 650px )
      transform( translateX( 100px ))
      opacity 0
      transition( all .5s ease )
      
      &.animate
        opacity 1
        transform( translate(0))
    
    a.swiper-slide
      display inline-block
      margin-right 30px
      white-space nowrap
      width auto !important

      &,
      &:hover,
      &:focus,
      &:active
        color #6f6f6f

      &.active
        color #3b3b3b
        pointer-events none

    .swiper-container-initialized

      a

        &:hover
          opacity 1

  &__decor
    position absolute
    bottom -1px
    left 0
    border-top 1px solid #999
    transition( all .5s ease )

  .btn-remove
    margin-left 20px
    display inline-block
    padding-top 7px

  .btn-edit
    display inline-block
    padding-top 7px

  table.table
    font-family $roboto

    th,
    td
      font-size $14px
      text-align center
      vertical-align middle
      border-top none
      border-bottom 1px solid $line-color
      cursor pointer

      &.asc,
      &.desc
        background-color #f2e4d866

      @media( max-width 1399px )

        &:nth-child(6)
          display none

      @media( max-width 1199px )

        &:nth-child(5)
          display none

      @media( max-width 991px )

        &:nth-child(4)
          display none

      @media( max-width 575px )

        &:nth-child(2)
          display none

    th
      padding-right 35px
      padding-left 35px

      &:first-child
        padding-left 1.5rem
        text-align left

      &.asc,
      &.desc
        color $secondary-color-2
        position relative

        &:before
          content ''
          width 17px
          height 17px
          border-radius 51%
          position absolute
          top 50%
          right 15px
          margin-top -8px
          background-color #EA5E21
          z-index 1

        &:after
          content ''
          width 5px
          height 5px
          border-right 1px solid #fff
          border-bottom 1px solid #fff
          transform( rotate( 45deg ))
          position absolute
          top 50%
          right 21px
          margin-top -3px
          z-index 2

      &.asc

        &:after
          transform( rotate( -135deg ))
          margin-top -1px

    td

      &.normal
        color $secondary-color-2

      &:first-child
        text-align left
        
      &:last-child
        padding-left 0
        padding-right 20px
        white-space nowrap

    tbody

      tr
        cursor pointer
        transition( background-color .5s ease )
      
        &:hover
          background-color #fcfcfc
