@import '../../styl/component-include.styl'

.b-form-profile

  &.ph-block
    
    &.ph-block--animated
      
      .ph-content
        position static
        width auto
        opacity 1
        
      .ph
        position absolute
        top 0
        left 0
        width 100%
        opacity 0
        z-index -1
    
.b-form-profile

  &__block
    border 1px solid $line-color
    padding 50px 140px 60px
    
    @media( max-width 1199px )
      padding 50px 70px 60px
      
    @media( max-width 767px )
      border none
      padding 0
    
  &__fileupload
    width 128px
    height 128px
    border-radius 51%
    background-bg()
    cursor pointer
    position relative
    display block
    margin-right 50px
      
    @media( max-width 991px )
      margin-right 0
      margin-bottom 30px
      
    @media( max-width 767px )
      margin-left auto
      margin-right auto
    
    input
      opacity 0 !important
      pointer-events none
      width 1px
      height 1px
      position absolute !important
      top 0
      left 0
      z-index -1
      
    &.uploaded
      background-image none !important
      
  &__photo
    display flex
    justify-content flex-start
    
    @media( max-width 991px )
      display block
    
    &-text
      width calc( 100% - 50px - 128px )
      max-width 511px
      font-size $14px
      
      @media( max-width 991px )
        width 100%
        
      @media( max-width 767px )
        display none
      
    &-img
      width 128px
      height 128px
      border-radius 51%
      background-bg()
      transition( opacity .5s ease )
      opacity 0
      position absolute
      top 0
      left 0
      z-index 1
      
      .uploaded &
        opacity 1
        
      .uploaded:hover &
        opacity .3
        
    &-note
      position absolute
      bottom -25px
      left 0
      font-size $9px
      width 128px
      text-align center
      
    &-delete
      width 32px
      height 32px
      background-color #fff
      border-radius 51%
      opacity 0
      transition( opacity .5s ease )
      pointer-events none
      position absolute
      top 50%
      left 50%
      margin -16px 0 0 -16px
      z-index 1
      
      &:before,
      &:after
        content ''
        display block
        border-right 1px solid red
        transform( rotate( 45deg ))
        height 21px
        position absolute
        top 5px
        left 16px
        z-index 2
      
      &:after
        transform( rotate( -45deg ))
      
      .uploaded:hover &
        opacity 1
        pointer-events auto