@import '../vars.styl'
@import '../mixins.styl'

@import './scaff/gui.styl'
@import './scaff/header.styl'
@import './scaff/aside-article-news.styl'
@import './scaff/footer.styl'

@import './components/news.styl'
@import './components/news-detail.styl'