@import '../vars.styl'
@import '../mixins.styl'

@import './scaff/gui.styl'
@import './scaff/bg.styl'
@import './scaff/header.styl'
@import './scaff/footer.styl'

@import './modules/quick-links.styl'
@import './modules/tags.styl'

@import './components/gallery.styl'
@import './components/inform-blocks.styl'
@import './components/news-tabs.styl'
@import './components/events-tabs.styl'